@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-rows-7 {
    grid-template-rows: repeat(7, minmax(0, 1fr));
  }
  .grid-rows-8 {
    grid-template-rows: repeat(8, minmax(0, 1fr));
  }
  .grid-rows-9 {
    grid-template-rows: repeat(9, minmax(0, 1fr));
  }
  .grid-rows-10 {
    grid-template-rows: repeat(10, minmax(0, 1fr));
  }
  .grid-rows-11 {
    grid-template-rows: repeat(11, minmax(0, 1fr));
  }
  .grid-rows-12 {
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }
  .grid-rows-13 {
    grid-template-rows: repeat(13, minmax(0, 1fr));
  }
  .grid-rows-14 {
    grid-template-rows: repeat(14, minmax(0, 1fr));
  }
  .grid-rows-15 {
    grid-template-rows: repeat(15, minmax(0, 1fr));
  }
  .grid-rows-16 {
    grid-template-rows: repeat(16, minmax(0, 1fr));
  }
  .grid-rows-17 {
    grid-template-rows: repeat(17, minmax(0, 1fr));
  }
  .grid-rows-18 {
    grid-template-rows: repeat(18, minmax(0, 1fr));
  }
  .grid-rows-19 {
    grid-template-rows: repeat(19, minmax(0, 1fr));
  }
  .grid-rows-20 {
    grid-template-rows: repeat(20, minmax(0, 1fr));
  }
  .grid-rows-21 {
    grid-template-rows: repeat(21, minmax(0, 1fr));
  }
  .grid-rows-22 {
    grid-template-rows: repeat(22, minmax(0, 1fr));
  }
  .grid-rows-23 {
    grid-template-rows: repeat(23, minmax(0, 1fr));
  }
  .grid-rows-24 {
    grid-template-rows: repeat(24, minmax(0, 1fr));
  }
  .grid-rows-25 {
    grid-template-rows: repeat(25, minmax(0, 1fr));
  }
  .grid-rows-26 {
    grid-template-rows: repeat(26, minmax(0, 1fr));
  }
  .grid-rows-27 {
    grid-template-rows: repeat(9, minmax(0, 1fr));
  }
  .grid-rows-28 {
    grid-template-rows: repeat(28, minmax(0, 1fr));
  }
  .grid-rows-29 {
    grid-template-rows: repeat(29, minmax(0, 1fr));
  }
  .grid-rows-30 {
    grid-template-rows: repeat(30, minmax(0, 1fr));
  }
  .grid-rows-31 {
    grid-template-rows: repeat(31, minmax(0, 1fr));
  }
  .grid-rows-32 {
    grid-template-rows: repeat(32, minmax(0, 1fr));
  }
  .grid-rows-33 {
    grid-template-rows: repeat(33, minmax(0, 1fr));
  }
  .grid-rows-34 {
    grid-template-rows: repeat(34, minmax(0, 1fr));
  }
  .grid-rows-35 {
    grid-template-rows: repeat(35, minmax(0, 1fr));
  }
  .grid-rows-36 {
    grid-template-rows: repeat(36, minmax(0, 1fr));
  }
  .grid-rows-37 {
    grid-template-rows: repeat(37, minmax(0, 1fr));
  }
  .grid-rows-38 {
    grid-template-rows: repeat(38, minmax(0, 1fr));
  }
  .grid-rows-39 {
    grid-template-rows: repeat(39, minmax(0, 1fr));
  }
  .grid-rows-40 {
    grid-template-rows: repeat(40, minmax(0, 1fr));
  }
  .grid-rows-41 {
    grid-template-rows: repeat(41, minmax(0, 1fr));
  }
  .grid-rows-42 {
    grid-template-rows: repeat(42, minmax(0, 1fr));
  }
  .grid-rows-43 {
    grid-template-rows: repeat(43, minmax(0, 1fr));
  }
  .grid-rows-44 {
    grid-template-rows: repeat(44, minmax(0, 1fr));
  }
  .grid-rows-45 {
    grid-template-rows: repeat(45, minmax(0, 1fr));
  }
  .grid-rows-46 {
    grid-template-rows: repeat(46, minmax(0, 1fr));
  }
  .grid-rows-47 {
    grid-template-rows: repeat(47, minmax(0, 1fr));
  }
  .grid-rows-48 {
    grid-template-rows: repeat(48, minmax(0, 1fr));
  }

  .grid-cols-13 {
    grid-template-columns: repeat(13, minmax(0, 1fr));
  }
  .grid-cols-14 {
    grid-template-columns: repeat(14, minmax(0, 1fr));
  }
  .grid-cols-15 {
    grid-template-columns: repeat(15, minmax(0, 1fr));
  }
  .grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
  }
  .grid-cols-17 {
    grid-template-columns: repeat(17, minmax(0, 1fr));
  }
  .grid-cols-18 {
    grid-template-columns: repeat(18, minmax(0, 1fr));
  }
  .grid-cols-19 {
    grid-template-columns: repeat(19, minmax(0, 1fr));
  }
  .grid-cols-20 {
    grid-template-columns: repeat(20, minmax(0, 1fr));
  }
  .grid-cols-21 {
    grid-template-columns: repeat(21, minmax(0, 1fr));
  }
  .grid-cols-22 {
    grid-template-columns: repeat(22, minmax(0, 1fr));
  }
  .grid-cols-23 {
    grid-template-columns: repeat(23, minmax(0, 1fr));
  }
  .grid-cols-24 {
    grid-template-columns: repeat(24, minmax(0, 1fr));
  }
  .grid-cols-25 {
    grid-template-columns: repeat(25, minmax(0, 1fr));
  }
  .grid-cols-26 {
    grid-template-columns: repeat(26, minmax(0, 1fr));
  }
  .grid-cols-27 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .grid-cols-28 {
    grid-template-columns: repeat(28, minmax(0, 1fr));
  }
  .grid-cols-29 {
    grid-template-columns: repeat(29, minmax(0, 1fr));
  }
  .grid-cols-30 {
    grid-template-columns: repeat(30, minmax(0, 1fr));
  }
  .grid-cols-31 {
    grid-template-columns: repeat(31, minmax(0, 1fr));
  }
  .grid-cols-32 {
    grid-template-columns: repeat(32, minmax(0, 1fr));
  }
  .grid-cols-33 {
    grid-template-columns: repeat(33, minmax(0, 1fr));
  }
  .grid-cols-34 {
    grid-template-columns: repeat(34, minmax(0, 1fr));
  }
  .grid-cols-35 {
    grid-template-columns: repeat(35, minmax(0, 1fr));
  }
  .grid-cols-36 {
    grid-template-columns: repeat(36, minmax(0, 1fr));
  }
  .grid-cols-37 {
    grid-template-columns: repeat(37, minmax(0, 1fr));
  }
  .grid-cols-38 {
    grid-template-columns: repeat(38, minmax(0, 1fr));
  }
  .grid-cols-39 {
    grid-template-columns: repeat(39, minmax(0, 1fr));
  }
  .grid-cols-40 {
    grid-template-columns: repeat(40, minmax(0, 1fr));
  }
  .grid-cols-41 {
    grid-template-columns: repeat(41, minmax(0, 1fr));
  }
  .grid-cols-42 {
    grid-template-columns: repeat(42, minmax(0, 1fr));
  }
  .grid-cols-43 {
    grid-template-columns: repeat(43, minmax(0, 1fr));
  }
  .grid-cols-44 {
    grid-template-columns: repeat(44, minmax(0, 1fr));
  }
  .grid-cols-45 {
    grid-template-columns: repeat(45, minmax(0, 1fr));
  }
  .grid-cols-46 {
    grid-template-columns: repeat(46, minmax(0, 1fr));
  }
  .grid-cols-47 {
    grid-template-columns: repeat(47, minmax(0, 1fr));
  }
  .grid-cols-48 {
    grid-template-columns: repeat(48, minmax(0, 1fr));
  }

  .row-span-7 {
    grid-row: span 7 / span 7;
  }
  .row-span-8 {
    grid-row: span 8 / span 8;
  }
  .row-span-9 {
    grid-row: span 9 / span 9;
  }
  .row-span-10 {
    grid-row: span 10 / span 10;
  }
  .row-span-11 {
    grid-row: span 11 / span 11;
  }
  .row-span-12 {
    grid-row: span 12 / span 12;
  }
  .row-span-13 {
    grid-row: span 13 / span 13;
  }
  .row-span-14 {
    grid-row: span 14 / span 14;
  }
  .row-span-15 {
    grid-row: span 15 / span 15;
  }
  .row-span-16 {
    grid-row: span 16 / span 16;
  }
  .row-span-17 {
    grid-row: span 17 / span 17;
  }
  .row-span-18 {
    grid-row: span 18 / span 18;
  }
  .row-span-19 {
    grid-row: span 19 / span 19;
  }
  .row-span-20 {
    grid-row: span 20 / span 20;
  }
  .row-span-21 {
    grid-row: span 21 / span 21;
  }
  .row-span-22 {
    grid-row: span 22 / span 22;
  }
  .row-span-23 {
    grid-row: span 23 / span 23;
  }
  .row-span-24 {
    grid-row: span 24 / span 24;
  }
  .row-span-25 {
    grid-row: span 25 / span 25;
  }
  .row-span-26 {
    grid-row: span 26 / span 26;
  }
  .row-span-27 {
    grid-row: span 27 / span 27;
  }
  .row-span-28 {
    grid-row: span 28 / span 28;
  }
  .row-span-29 {
    grid-row: span 29 / span 29;
  }
  .row-span-30 {
    grid-row: span 30 / span 30;
  }
  .row-span-31 {
    grid-row: span 31 / span 31;
  }
  .row-span-32 {
    grid-row: span 32 / span 32;
  }
  .row-span-33 {
    grid-row: span 33 / span 33;
  }
  .row-span-34 {
    grid-row: span 34 / span 34;
  }
  .row-span-35 {
    grid-row: span 35 / span 35;
  }
  .row-span-36 {
    grid-row: span 36 / span 36;
  }
  .row-span-37 {
    grid-row: span 37 / span 37;
  }
  .row-span-38 {
    grid-row: span 38 / span 38;
  }
  .row-span-39 {
    grid-row: span 39 / span 39;
  }
  .row-span-40 {
    grid-row: span 40 / span 40;
  }
  .row-span-45 {
    grid-row: span 45 / span 45;
  }
  .row-span-46 {
    grid-row: span 46 / span 46;
  }
  .row-span-47 {
    grid-row: span 47 / span 47;
  }
  .row-span-48 {
    grid-row: span 48 / span 48;
  }

  .col-span-13 {
    grid-column: span 13 / span 13;
  }
  .col-span-14 {
    grid-column: span 14 / span 14;
  }
  .col-span-15 {
    grid-column: span 15 / span 15;
  }
  .col-span-16 {
    grid-column: span 16 / span 16;
  }
  .col-span-17 {
    grid-column: span 17 / span 17;
  }
  .col-span-18 {
    grid-column: span 18 / span 18;
  }
  .col-span-19 {
    grid-column: span 19 / span 19;
  }
  .col-span-20 {
    grid-column: span 20 / span 20;
  }
  .col-span-21 {
    grid-column: span 21 / span 21;
  }
  .col-span-22 {
    grid-column: span 22 / span 22;
  }
  .col-span-23 {
    grid-column: span 23 / span 23;
  }
  .col-span-24 {
    grid-column: span 24 / span 24;
  }
  .col-span-25 {
    grid-column: span 25 / span 25;
  }
  .col-span-26 {
    grid-column: span 26 / span 26;
  }
  .col-span-27 {
    grid-column: span 27 / span 27;
  }
  .col-span-28 {
    grid-column: span 28 / span 28;
  }
  .col-span-29 {
    grid-column: span 29 / span 29;
  }
  .col-span-30 {
    grid-column: span 30 / span 30;
  }
  .col-span-31 {
    grid-column: span 31 / span 31;
  }
  .col-span-32 {
    grid-column: span 32 / span 32;
  }
  .col-span-33 {
    grid-column: span 33 / span 33;
  }
  .col-span-34 {
    grid-column: span 34 / span 34;
  }
  .col-span-35 {
    grid-column: span 35 / span 35;
  }
  .col-span-36 {
    grid-column: span 36 / span 36;
  }
  .col-span-37 {
    grid-column: span 37 / span 37;
  }
  .col-span-38 {
    grid-column: span 38 / span 38;
  }
  .col-span-39 {
    grid-column: span 39 / span 39;
  }
  .col-span-40 {
    grid-column: span 40 / span 40;
  }
  .col-span-45 {
    grid-column: span 45 / span 45;
  }
  .col-span-46 {
    grid-column: span 46 / span 46;
  }
  .col-span-47 {
    grid-column: span 47 / span 47;
  }
  .col-span-48 {
    grid-column: span 48 / span 48;
  }

  .row-start-7 {
    grid-row-start: 7;
  }
  .row-start-8 {
    grid-row-start: 8;
  }
  .row-start-9 {
    grid-row-start: 9;
  }
  .row-start-10 {
    grid-row-start: 10;
  }
  .row-start-11 {
    grid-row-start: 11;
  }
  .row-start-12 {
    grid-row-start: 12;
  }
  .row-start-13 {
    grid-row-start: 13;
  }
  .row-start-14 {
    grid-row-start: 14;
  }
  .row-start-15 {
    grid-row-start: 15;
  }
  .row-start-16 {
    grid-row-start: 16;
  }
  .row-start-17 {
    grid-row-start: 17;
  }
  .row-start-18 {
    grid-row-start: 18;
  }
  .row-start-19 {
    grid-row-start: 19;
  }
  .row-start-20 {
    grid-row-start: 20;
  }
  .row-start-21 {
    grid-row-start: 21;
  }
  .row-start-22 {
    grid-row-start: 22;
  }
  .row-start-23 {
    grid-row-start: 23;
  }
  .row-start-24 {
    grid-row-start: 24;
  }
  .row-start-25 {
    grid-row-start: 25;
  }
  .row-start-26 {
    grid-row-start: 26;
  }
  .row-start-27 {
    grid-row-start: 9;
  }
  .row-start-28 {
    grid-row-start: 28;
  }
  .row-start-29 {
    grid-row-start: 29;
  }
  .row-start-30 {
    grid-row-start: 30;
  }
  .row-start-31 {
    grid-row-start: 31;
  }
  .row-start-32 {
    grid-row-start: 32;
  }
  .row-start-33 {
    grid-row-start: 33;
  }
  .row-start-34 {
    grid-row-start: 34;
  }
  .row-start-35 {
    grid-row-start: 35;
  }
  .row-start-36 {
    grid-row-start: 36;
  }
  .row-start-37 {
    grid-row-start: 37;
  }
  .row-start-38 {
    grid-row-start: 38;
  }
  .row-start-39 {
    grid-row-start: 39;
  }
  .row-start-40 {
    grid-row-start: 40;
  }
  .row-start-41 {
    grid-row-start: 41;
  }
  .row-start-42 {
    grid-row-start: 42;
  }
  .row-start-43 {
    grid-row-start: 43;
  }
  .row-start-44 {
    grid-row-start: 44;
  }
  .row-start-45 {
    grid-row-start: 45;
  }
  .row-start-46 {
    grid-row-start: 46;
  }
  .row-start-47 {
    grid-row-start: 47;
  }
  .row-start-48 {
    grid-row-start: 48;
  }

  .col-start-13 {
    grid-column-start: 13;
  }
  .col-start-14 {
    grid-column-start: 14;
  }
  .col-start-15 {
    grid-column-start: 15;
  }
  .col-start-16 {
    grid-column-start: 16;
  }
  .col-start-17 {
    grid-column-start: 17;
  }
  .col-start-18 {
    grid-column-start: 18;
  }
  .col-start-19 {
    grid-column-start: 19;
  }
  .col-start-20 {
    grid-column-start: 20;
  }
  .col-start-21 {
    grid-column-start: 21;
  }
  .col-start-22 {
    grid-column-start: 22;
  }
  .col-start-23 {
    grid-column-start: 23;
  }
  .col-start-24 {
    grid-column-start: 24;
  }
  .col-start-25 {
    grid-column-start: 25;
  }
  .col-start-26 {
    grid-column-start: 26;
  }
  .col-start-27 {
    grid-column-start: 9;
  }
  .col-start-28 {
    grid-column-start: 28;
  }
  .col-start-29 {
    grid-column-start: 29;
  }
  .col-start-30 {
    grid-column-start: 30;
  }
  .col-start-31 {
    grid-column-start: 31;
  }
  .col-start-32 {
    grid-column-start: 32;
  }
  .col-start-33 {
    grid-column-start: 33;
  }
  .col-start-34 {
    grid-column-start: 34;
  }
  .col-start-35 {
    grid-column-start: 35;
  }
  .col-start-36 {
    grid-column-start: 36;
  }
  .col-start-37 {
    grid-column-start: 37;
  }
  .col-start-38 {
    grid-column-start: 38;
  }
  .col-start-39 {
    grid-column-start: 39;
  }
  .col-start-40 {
    grid-column-start: 40;
  }
  .col-start-41 {
    grid-column-start: 41;
  }
  .col-start-42 {
    grid-column-start: 42;
  }
  .col-start-43 {
    grid-column-start: 43;
  }
  .col-start-44 {
    grid-column-start: 44;
  }
  .col-start-45 {
    grid-column-start: 45;
  }
  .col-start-46 {
    grid-column-start: 46;
  }
  .col-start-47 {
    grid-column-start: 47;
  }
  .col-start-48 {
    grid-column-start: 48;
  }

  .subgrid-row {
    grid-template-rows: subgrid;
  }
  .subgrid-col {
    grid-template-columns: subgrid;
  }

  .h-main {
    height: 70vh;
  }

  .h-main-half {
    height: 45vh;
  }

  .pressdown {
    fill: rgb(75, 75, 75);
    stroke: rgb(61, 64, 69);
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.2s;
  }
  .pressdown:active {
    transform: scale(0.8);
  }

  .label-top {
    display: inline-grid;
    grid-template-areas:
      'label'
      'indicator';
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 33.3333333% 66.6666666%;
  }

  .label-bottom {
    display: inline-grid;
    grid-template-areas:
      'indicator'
      'label';
    grid-template-columns: 1fr;
    grid-template-rows: 66.6666666% 33.3333333%;
  }

  .label-left {
    display: inline-grid;
    grid-template-areas: 'label indicator';
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }

  .label-right {
    display: inline-grid;
    grid-template-areas: 'indicator label';
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }

  .indicator-display {
    grid-area: indicator;
  }

  .indicator-label {
    grid-area: label;
  }
}
