<template>
  <span
    id="parameter-controll"
    :class="`relative inline-flex shadow-sm rounded-md px-0 pt-0 ${height}`"
  >
    <button
      id="button"
      @click="$emit('decrement')"
      class="relative inline-flex items-center justify-center px-4 py-1 rounded-l-md text-m font-medium bg-button focus:outline-none active:bg-buttonpressed border-4 border-button text-white w-1/3"
    >
      -
    </button>
    <span
      :id="id"
      @click="activateKeyboard"
      :class="`-ml-px relative overflow-clip overflow-hidden inline-flex items-center justify-center px-2 py-1 border border-gray-300 ${
        opcConnected ? 'bg-white' : 'bg-red'
      } text-lg font-semibold focus:outline-none w-1/3`"
    >
      <slot></slot>
    </span>
    <button
      id="button"
      @click="$emit('increment')"
      class="relative inline-flex items-center justify-center px-4 py-1 rounded-r-md text-m font-medium bg-button focus:outline-none active:bg-buttonpressed border-4 border-button text-white w-1/3"
    >
      +
    </button>
  </span>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: 'IncDecOpc',
    },
    height: {
      type: String,
      default: 'h-full',
    },
    opcConnected: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

<style scoped>
#button {
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 30);
  -webkit-text-stroke: thin;
  line-height: 1.25;
  text-decoration: none;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.4s ease;
  overflow: hidden;
}
#button:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(grey, 0.1);
  border-radius: 100%;
  /* transition: width 0.2s ease, height 0.2s ease; */
}
#button:active {
  box-shadow: 0px 0px 4px -2px grey;
}
#button:active:after {
  width: 200px;
  height: 200px;
}
</style>
