<template>
  <span
    :id="id"
    :class="`indicator-display relative inline-flex shadow-sm rounded-md px-4 ${height}`"
  >
    <span
      :id="id"
      :class="`relative overflow-clip overflow-hidden rounded-l-md inline-flex items-center justify-center px-2 py-1 border border-gray-300 ${
        opcConnected ? 'bg-white' : 'bg-red'
      } text-lg font-semibold focus:outline-none w-3/4`"
    >
      <slot></slot>
    </span>
    <span
      :id="id"
      class="relative inline-flex items-center justify-center px-2 py-1 rounded-r-md text-sm font-medium border border-r-0 border-gray-300 bg-gray-50 text-button focus:outline-none w-1/4"
    >
      mm
    </span>
  </span>

  <!-- <span
    :class="`indicator-display relative overflow-clip overflow-hidden inline-flex items-center justify-center px-2 text-lg font-semibold border border-gray-300 bg-white focus:outline-none ${height} rounded-md ${
      opcConnected ? 'bg-white' : 'bg-red'
    }`"
  >
    <slot></slot>
  </span> -->
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    opcConnected: {
      type: Boolean,
      default: false,
    },
    height: {
      type: String,
      default: 'h-full',
    },
  },
}
</script>
