<template>
  <label
    class="indicator-label text-center overflow-clip overflow-hidden text-white text-sm font-semibold leading-4 pb-2"
  >
    <resolveText :textRef="nameRef" />
  </label>
</template>

<script>
import resolveText from './ResolveText.vue'
export default {
  components: { resolveText },
  props: {
    nameRef: {
      type: [Number, String],
    },
  },
}
</script>
