<template>
  <div
    :class="`${labelPosition} justify-self-auto col-span-${columnSize} row-span-${rowSize} h-full w-full p-1`"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    columnSize: {
      type: Number,
      default: 8,
    },
    rowSize: {
      type: Number,
      default: 4,
    },
    labelPosition: {
      type: String,
      default: 'label-top',
    },
  },
}
</script>
