<template>
  <!-- slot for adding text or values post name -->
  <p>{{ name || 'Cannot resolve name' }} <slot></slot></p>
</template>

<script>
export default {
  props: {
    textRef: {
      type: [Number, String],
    },
    textCollection: {
      type: String,
      default: 'parameters',
    },
  },
  computed: {
    name() {
      return this.textRef
        ? this.$store.state[this.textCollection][this.textRef]
        : ''
    },
  },
}
</script>
