<template>
  <p>{{ value }}</p>
</template>

<script>
export default {
  props: {
    opcValue: {
      type: [Number, Boolean],
      default: 0,
    },
    enums: {
      type: [Array, String],
    },
  },
  computed: {
    value() {
      let opcValue = this.opcValue

      const strOrObj = typeof this.enums === 'string'

      // Check if type is Boolean
      if (typeof opcValue === 'boolean') {
        opcValue = opcValue ? 1 : 0
      }
      return strOrObj
        ? this.$store.state[this.enums][opcValue]
        : this.$store.state[this.enums[opcValue]]
    },
  },
}
</script>
