<template>
  <indicatorContainer
    :id="id"
    :columnSize="columnSize"
    :rowSize="rowSize"
    :labelPosition="labelPosition"
  >
    <indicatorLabel :id="id" :nameRef="nameRef" />
    <indicator
      v-bind:class="{
        'mx-3':
          !labelPosition ||
          labelPosition === 'label-top' ||
          labelPosition === 'label-bottom',
      }"
      :id="id"
      :opcConnected="opcConnected"
      :height="height || autoHeight"
    >
      <slot></slot>
    </indicator>
  </indicatorContainer>
</template>

<script>
import indicatorContainer from './IndicatorContainer.vue'
import indicator from './Indicator.vue'
import indicatorLabel from './IndicatorLabel.vue'

export default {
  components: {
    indicatorContainer,
    indicator,
    indicatorLabel,
  },
  props: {
    id: {
      type: String,
      default: 'standardIndicator',
    },
    nameRef: {
      type: [Number, String],
    },
    columnSize: {
      type: Number,
    },
    rowSize: {
      type: Number,
    },
    opcConnected: {
      type: Boolean,
      default: true,
    },
    labelPosition: {
      type: String,
    },
    height: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      autoHeight: '',
    }
  },
  mounted() {
    this.autoHeight =
      this.labelPosition === 'label-left' ||
      this.labelPosition === 'label-right'
        ? 'h-2/3'
        : 'h-full'
  },
}
</script>
