<template>
  <router-view />
</template>
<script>
export default {
  name: 'HMI',
  mounted() {
    this.$store.dispatch('fetchPages')
  }
}
</script>
<style>
html,
body {
  overflow: hidden !important;
  height: 100vh;
  margin: 0;
}
</style>
