<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="Actuator">
      <path
        id="bg"
        d="M527.501,0l944.583,0c291.667,0 527.917,235.833 527.917,526.667l-0,946.666c-0,290.834 -236.25,526.667 -527.917,526.667l-944.167,0c-291.666,0 -527.916,-235.833 -527.916,-526.667l-0,-946.666c-0.417,-290.834 236.25,-526.667 527.5,-526.667Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M542.501,91.667l916.666,-0c245.694,-0.16 448.037,201.806 448.334,447.5l-0,914.583c-0.297,245.694 -202.64,447.66 -448.334,447.5l-916.666,0c-245.694,0.16 -448.037,-201.806 -448.334,-447.5l0,-914.583c-0.416,-247.084 200.417,-447.5 448.334,-447.5Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <rect
          x="688.334"
          y="1128.75"
          width="655.833"
          height="259.167"
          style="fill: #636363"
        />
        <path
          d="M978.334,1387.5l-242.917,-3.333l-23.333,-242.084l-173.333,0l174.166,344.167l195.834,92.5l94.166,0l-24.583,-191.25Z"
          style="fill: #595959; fill-rule: nonzero"
        />
        <path
          d="M1333.33,1142.08l-20.417,242.084l-233.75,3.333l-25,191.25l152.917,-0l127.5,-92.5l174.167,-344.167l-175.417,0Z"
          style="fill: #595959; fill-rule: nonzero"
        />
        <rect
          x="538.751"
          y="922.5"
          width="490.417"
          height="219.583"
          style="fill: #595959"
        />
        <path
          d="M1029.17,922.5l0,219.583l304.167,0l54.583,-219.583l-358.75,0Z"
          style="fill: #474747; fill-rule: nonzero"
        />
        <path
          d="M1029.58,922.5l-0,219.583l-316.667,0l-55,-219.583l371.667,0Z"
          style="fill: #474747; fill-rule: nonzero"
        />
        <path
          d="M1387.92,922.5l-54.583,219.583l175.417,0l-0,-219.583l-120.834,0Z"
          style="fill: #595959; fill-rule: nonzero"
        />
        <path
          d="M1026.25,1443.75c-41.813,-0.046 -76.205,-34.438 -76.25,-76.25l-0,-322.083l152.5,-0l-0,322.083c-0.046,41.812 -34.438,76.204 -76.25,76.25Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <rect
          x="887.917"
          y="627.083"
          width="111.667"
          height="72.083"
          style="fill: #ff7f00"
        />
        <rect
          x="1043.75"
          y="597.083"
          width="86.667"
          height="131.667"
          style="fill: #ff7f00"
        />
        <rect
          x="1034.17"
          y="115.417"
          width="153.75"
          height="202.083"
          style="fill: #ff7f00"
        />
        <path
          d="M917.917,91.25l0,24.167l-228.333,-0l-138.333,-23.75l-8.334,-0c-225.169,-0.307 -417.393,169.08 -445.416,392.5l728.75,-166.667l95,0l-0,104.167l28.75,-0l-0,378.75c-0,12.916 152.916,12.916 152.916,-0l0,-379.167l29.584,0l-0,-330l-214.584,0Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <path
          d="M917.501,838.75l215,0l-0,210.417c-0,24.583 -215,24.583 -215,-0l-0,-210.417Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <path
          d="M795.001,807.917c-0,40.416 458.75,40.416 458.75,-0l-0,27.5c-0,44.583 -458.75,44.583 -458.75,-0l-0,-27.5Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <rect
          x="917.917"
          y="91.667"
          width="214.583"
          height="329.583"
          style="fill: #ff7f00"
        />
        <path
          d="M1103.75,525.833l-154.584,0l0,-30.416c0,12.083 154.584,12.083 154.584,-0l-0,30.416Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M920.834,499.167c-0,22.916 211.25,22.916 211.25,-0l-0,21.25c-0,20.833 -211.25,20.833 -211.25,-0l-0,-21.25Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
