<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="fill-rule: evenodd; clip-rule: evenodd; stroke-miterlimit: 10"
  >
    <g id="Alarms">
      <path
        id="bg"
        d="M527.875,0l944.25,0c291.542,0 527.875,235.792 527.875,526.625l0,946.75c0,290.833 -236.333,526.625 -527.875,526.625l-944.25,0c-291.542,0 -527.875,-235.792 -527.875,-526.625l0,-946.75c0,-290.833 236.333,-526.625 527.875,-526.625Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          id="Rectangle_288"
          d="M542.583,91.667l916.667,-0c245.711,-0.343 448.195,201.538 448.583,447.25l0,914.666c-0.274,245.554 -202.404,447.459 -447.958,447.459c-0.166,-0 -0.333,-0 -0.5,-0l-916.667,-0c-0.222,-0 -0.444,0 -0.667,0c-245.506,0 -447.615,-201.827 -447.958,-447.334l0,-914.791c0.389,-245.68 202.82,-447.548 448.5,-447.25Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M914.083,437.5l-522.041,904.167c-8.546,14.809 -13.045,31.61 -13.045,48.708c-0,53.45 43.97,97.437 97.42,97.458l1044.08,0c53.45,-0.021 97.42,-44.008 97.42,-97.458c-0,-17.098 -4.5,-33.899 -13.045,-48.708l-522.042,-904.167c-17.377,-30.113 -49.607,-48.725 -84.375,-48.725c-34.767,-0 -66.997,18.612 -84.375,48.725Z"
          style="fill: #fbd008; fill-rule: nonzero"
        />
        <path
          d="M946.125,476l-504.833,874.375c-5.303,9.184 -8.095,19.604 -8.095,30.208c0,33.144 27.273,60.417 60.417,60.417c0.004,0 0.007,0 0.011,0l1009.67,0c0.003,0 0.007,0 0.011,0c33.143,0 60.416,-27.273 60.416,-60.417c0,-10.604 -2.792,-21.024 -8.094,-30.208l-504.833,-874.375c-10.776,-18.68 -30.768,-30.227 -52.334,-30.227c-21.565,-0 -41.557,11.547 -52.333,30.227Z"
          style="
            fill: none;
            fill-rule: nonzero;
            stroke: #4b4b4b;
            stroke-width: 25px;
          "
        />
        <circle cx="1001.25" cy="1270.58" r="84.667" style="fill: #4b4b4b" />
        <path
          d="M1001.25,614.292c37.738,-0 68.792,31.053 68.792,68.791c-0,1.709 -0,3.417 -0.209,5.125l-32.333,434.167l-72.625,0l-32.25,-434.167c-2.802,-37.621 25.839,-70.887 63.458,-73.708c1.75,-0.125 3.459,-0.208 5.167,-0.208Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
