<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="Burner">
      <path
        id="bg"
        d="M527.875,0l944.25,0c291.542,0 527.875,235.792 527.875,526.625l0,946.75c0,290.833 -236.333,526.625 -527.875,526.625l-944.25,0c-291.542,0 -527.875,-235.792 -527.875,-526.625l0,-946.75c0,-290.833 236.333,-526.625 527.875,-526.625Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          id="Rectangle_288"
          d="M542.583,91.667l916.667,-0c245.711,-0.343 448.195,201.538 448.583,447.25l0,914.666c-0.274,245.554 -202.404,447.459 -447.958,447.459c-0.166,-0 -0.333,-0 -0.5,-0l-916.667,-0c-0.222,-0 -0.444,0 -0.667,0c-245.506,0 -447.615,-201.827 -447.958,-447.334l0,-914.791c0.389,-245.68 202.82,-447.548 448.5,-447.25Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M1356.92,1157.5c-0,0 32.833,-27.417 95.833,13.667c63,41.083 132.208,-15.459 132.208,-15.459c0,0 -61.208,12.084 -102.958,-30.208c-41.75,-42.292 -125.083,32 -125.083,32Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <path
          d="M1155.04,1188.5c6.55,2.41 13.361,4.046 20.291,4.875c24.835,2.956 49.915,-3.254 70.5,-17.458c214.792,-145.834 467.292,-321.5 662.167,-460.625l0,-80.417c-140.708,69.75 -291.667,138.25 -405.417,192.458c-12.099,-8.522 -25.809,-14.491 -40.291,-17.541c-12.5,-60.25 -73.542,-101.209 -132.167,-92.25c-43.792,10.791 -75.292,42.458 -75.292,42.458c-13.875,17.375 -28.083,39.042 -27.833,71.875l-7.583,-3.625c-7.375,-17.333 -0,-41.667 6.791,-59.208c-62.875,35.875 -103.041,-41.667 -138.041,48.958c-3.042,0.917 -6.042,1.917 -9.042,3c-65.004,-52.689 -159.985,-49.105 -220.833,8.333c-17.584,-11.333 19.916,-41.666 35,-50.666c-12.5,-65.042 38.166,-144.292 126.125,-138.042c-109.542,-92.333 -272.084,-2.917 -243.542,133.333c3,22.732 -7.75,45.199 -27.333,57.125c89.875,5.709 86.666,89.667 173.583,133.334c-115.375,4.166 -84.875,-67.167 -224.542,-109.334c28.125,-56 49.667,-63.166 45.834,-124c-1.834,-30 -13.25,-87.166 51,-137.25c-64.125,18.584 -110.375,59.584 -128.917,82.042c-60.083,73 -135.583,86.25 -227.583,183.958c-120.334,127.834 -30.167,272.959 -30.167,272.959c134.167,-252.959 362.25,-24.459 535.917,-66.125c-110.667,75.666 -351.167,-48.084 -450.417,44.833c-98.958,82.083 -76.583,142.333 -46.083,236.292c33.833,97.208 114.041,143.958 279.166,85.916c35.368,13.87 74.918,12.664 109.375,-3.333c47.957,-22.46 94.664,-47.496 139.917,-75c20.583,-13.361 41.417,-26.972 62.5,-40.833c30.38,-20.292 64.871,-33.624 101,-39.042c48.542,-6.833 90.708,-66.667 90.708,-66.667c0,0 -65.541,47.917 -107.333,6.417c-12.542,-17.792 8.792,-35.75 32.542,-26.75Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <path
          d="M1266.67,1107.79c15.666,-5.792 454.625,-290.667 641.291,-412l0,-38.334c-165.458,107.167 -525.333,331.375 -572,285.5c-60.916,-59.833 48.25,-128.041 66.125,-125c0,0 -43.041,-43.041 -79.791,-19.958c-36.75,23.083 -88.292,61 -88.292,127c0,66 -178.458,-2.083 -103.917,-65.083c0,-0 -141.666,7.375 -143.791,80.833c-2.125,73.458 76.625,155.333 -60.875,180.542c-137.5,25.208 -85.042,104.958 -129.167,102.875c-44.125,-2.084 -27.292,-58.792 -8.333,-65.084c-0,0 -24.459,-14.916 -44.834,-6.916c-22.79,9.28 -47.543,12.718 -72,10c-61.208,-7.542 -152.625,-6.334 -143.458,70.375c13.625,114.416 20.833,181.625 133.333,136.458c112.5,-45.167 102.875,5.25 143.792,-8.333c40.917,-13.584 111.292,-87.125 172.167,-95.542c-0,-0 -18.917,-19.917 -55.625,-23.083c-0,-0 132.25,-107.084 194.166,-102.875c61.917,4.208 103.917,10.5 130.167,-13.625c0,-0 -44.083,8.333 -44.083,-4.167c-0,-12.5 45.041,-6.25 65.125,-13.583Z"
          style="fill: #ffb000; fill-rule: nonzero"
        />
        <path
          d="M1532.38,819.167c4.167,-34.042 24.125,-47.959 24.125,-47.959c-18.458,0 -35.042,24.459 -35.042,24.459c-11.583,-57.75 53.459,-90.375 88.5,-75.917c-71.958,-39.667 -145.833,18.375 -142.833,91.042c2.333,47.041 -28.167,79.5 -35.417,86.541c6.25,-2.416 30.084,-2.791 47.875,-24.416c20.834,-25.209 4.792,-29.834 15.375,-42.375c10.334,10.083 5.167,24.625 1.459,42.833l123.541,-62.5c-28.628,-12.577 -61.823,-9.435 -87.583,8.292Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <path
          d="M700,694.417c0,-0 -43.292,92.708 -154.542,136c-111.25,43.291 -128.791,148.75 -126.25,179.166c0,0 58.334,-99 157.084,-117.583c98.75,-18.583 123.708,-197.583 123.708,-197.583Z"
          style="fill: #ffb000; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
