<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="fill-rule: evenodd; clip-rule: evenodd"
  >
    <g id="CT">
      <path
        id="bg"
        d="M2003.71,528.833c0,-291.871 -236.962,-528.833 -528.833,-528.833l-946.042,0c-291.871,0 -528.833,236.962 -528.833,528.833l0,950.667c0,291.871 236.962,528.833 528.833,528.833l946.042,0c291.871,0 528.833,-236.962 528.833,-528.833l0,-950.667Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M1907.71,545.333c0,-247.993 -201.339,-449.333 -449.333,-449.333l-918.458,0c-247.994,0 -449.334,201.34 -449.334,449.333l0,918.459c0,247.993 201.34,449.333 449.334,449.333l918.458,0c247.994,0 449.333,-201.34 449.333,-449.333l0,-918.459Z"
          style="fill: #4b4b4b"
        />
        <path
          d="M1559.25,1118.46l-62.875,0l0,-183.833l62.917,0l-0,-73.708l191.291,164.083l-191.291,163.75l-0.042,-70.292Zm-1297,-93.458l191.25,-163.917l0,73.667l69.833,-0l0,183.833l-69.833,0l0,70.292l-191.25,-163.875Z"
          style="fill: #8e8e8e; fill-rule: nonzero"
        />
        <path
          d="M676.792,1304.83l-0,-659.333l659.208,-0l0,659.333l-164.875,150.709l-329.458,-0l-164.875,-150.709Z"
          style="fill: #8e8e8e; fill-rule: nonzero"
        />
        <path
          d="M766.208,1235.79l0,-480.375l480.375,-0l0,480.375l-120.083,110.041l-240.167,0l-120.125,-110.041Z"
          style="
            fill: #fd7f23;
            fill-rule: nonzero;
            stroke: #4b4b4b;
            stroke-width: 41.67px;
          "
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
