<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="fill-rule: evenodd; clip-rule: evenodd"
  >
    <g id="CTLT">
      <path
        id="bg"
        d="M2003.71,528.833c0,-291.871 -236.962,-528.833 -528.833,-528.833l-946.042,0c-291.871,0 -528.833,236.962 -528.833,528.833l0,950.667c0,291.871 236.962,528.833 528.833,528.833l946.042,0c291.871,0 528.833,-236.962 528.833,-528.833l0,-950.667Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M1911.38,541.167c0,-247.994 -201.34,-449.334 -449.333,-449.334l-918.459,0c-247.993,0 -449.333,201.34 -449.333,449.334l0,918.458c0,247.994 201.34,449.333 449.333,449.333l918.459,0c247.993,0 449.333,-201.339 449.333,-449.333l0,-918.458Z"
        />
        <path
          d="M846.125,1573.67l70.083,-0l0,-70.292l183.792,0l0,70.292l74,-0l-163.917,191.25l-163.958,-191.25Zm716.667,-459.375l-62.792,-0l0,-183.834l62.917,0l-0,-73.666l191.25,164.041l-191.292,163.875l-0.083,-70.416Zm-1296.88,-93.459l191.25,-163.916l-0,73.666l69.833,0l0,183.834l-69.833,-0l-0,70.291l-191.25,-163.875Zm650.291,-479.541l0,-73.417l-70.083,-0l163.917,-191.292l163.916,191.292l-73.958,-0l0,73.417l-183.792,-0Z"
          style="fill: #8e8e8e; fill-rule: nonzero"
        />
        <path
          d="M680.458,1275l0,-659.208l659.209,-0l-0,659.208l-164.917,150.708l-329.583,0l-164.709,-150.708Z"
          style="fill: #8e8e8e; fill-rule: nonzero"
        />
        <path
          d="M769.875,1206l0,-480.333l480.375,-0l0,480.333l-120.083,109.875l-240.167,0l-120.125,-109.875Z"
          style="
            fill: #fd7f23;
            fill-rule: nonzero;
            stroke: #4b4b4b;
            stroke-width: 41.67px;
          "
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
