<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="Diagnostics">
      <path
        id="bg"
        d="M2003.71,528.833c0,-291.871 -236.962,-528.833 -528.833,-528.833l-946.042,0c-291.871,0 -528.833,236.962 -528.833,528.833l0,950.667c0,291.871 236.962,528.833 528.833,528.833l946.042,0c291.871,0 528.833,-236.962 528.833,-528.833l0,-950.667Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M1915.04,545.333c-0,-247.993 -201.34,-449.333 -449.334,-449.333l-918.458,0c-247.994,0 -449.333,201.34 -449.333,449.333l-0,918.459c-0,247.993 201.339,449.333 449.333,449.333l918.458,0c247.994,0 449.334,-201.34 449.334,-449.333l-0,-918.459Z"
          style="fill: #4b4b4b"
        />
        <path
          d="M450.667,956.125l219,0c24.159,0.068 44,19.966 44,44.125l-0,493.333l-307.125,0l-0,-493.333c-0,-24.206 19.918,-44.125 44.125,-44.125Z"
          style="fill: #8e8e8e; fill-rule: nonzero"
        />
        <path
          d="M911.333,520.833l219,0c24.159,0.069 44,19.966 44,44.125l0,928.584l-307.125,-0l0,-928.417c0,-0.056 0,-0.111 0,-0.167c0,-24.206 19.919,-44.125 44.125,-44.125Z"
          style="fill: #262626; fill-rule: nonzero"
        />
        <path
          d="M1372,776.958l219,0c24.168,0.046 44.023,19.958 44,44.125l0,672.5l-307.083,0l-0,-672.5c-0,-24.19 19.892,-44.102 44.083,-44.125Z"
          style="fill: #ff8200; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
