<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="FurnacePressure">
      <path
        id="bg"
        d="M1472.08,2004.58l-944.166,0c-0.042,0 -0.084,0 -0.125,0c-289.538,0 -527.792,-238.253 -527.792,-527.791c-0,-0.042 0,-0.084 0,-0.125l0,-948.75c0,-0.042 0,-0.084 0,-0.125c0,-289.538 238.254,-527.792 527.792,-527.792c0.041,0 0.083,0 0.125,0l944.166,0c0.042,0 0.084,0 0.125,0c289.538,0 527.792,238.254 527.792,527.792c0,0.041 0,0.083 0,0.125l0,948.75c0,0.041 0,0.083 0,0.125c0,289.538 -238.254,527.791 -527.792,527.791c-0.041,0 -0.083,0 -0.125,0Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M543.75,95.833l916.667,0c0.041,0 0.083,0 0.125,0c245.88,0 448.208,202.329 448.208,448.209c0,0.041 0,0.083 0,0.125l0,916.666c0,0.042 0,0.084 0,0.125c0,245.88 -202.328,448.209 -448.208,448.209c-0.042,-0 -0.084,-0 -0.125,-0l-916.667,-0c-0.042,-0 -0.083,-0 -0.125,-0c-245.88,-0 -448.208,-202.329 -448.208,-448.209c-0,-0.041 -0,-0.083 -0,-0.125l-0,-916.666c-0,-0.125 -0,-0.25 -0,-0.375c-0,-245.743 202.215,-447.959 447.958,-447.959c0.125,0 0.25,0 0.375,0Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M555.833,588.75l-76.25,0l0,116.667l-269.583,-0l0,266.25l15,20.416l254.583,343.334l0,298.333l955.834,0l-0,-199.583l146.666,-382.5l146.667,-37.917l47.5,-12.5l8.75,-48.333l27.083,-157.917l15.834,-89.583l-392.5,-0l-0,-116.667l-76.25,0l-0,193.333l377.916,0l-27.5,157.5l-185,48.334l-165.416,432.5l-0,136.666l-803.334,0l0,-246.666l-269.583,-363.75l0,-164.584l269.583,0l0,-193.333Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M480.833,491.25l0,57.917l77.917,-0c261.667,-123.334 526.25,-125.834 793.75,-0l84.583,-0l0,-57.917c-331.666,-156.25 -650,-150 -956.25,0Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M998.75,1055c-5.85,6.344 -14.098,9.958 -22.728,9.958c-8.825,-0 -17.241,-3.779 -23.105,-10.375l-164.584,-185c-2.497,-2.848 -2.497,-7.152 0,-10c2.546,-2.915 7.008,-3.287 10,-0.833l196.667,150.417c7.643,5.871 12.132,14.979 12.132,24.617c-0,7.877 -2.998,15.466 -8.382,21.216Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M962.917,1381.25c-199.091,0 -362.917,-163.826 -362.917,-362.917c0,-199.09 163.826,-362.916 362.917,-362.916c199.09,-0 362.916,163.826 362.916,362.916c-0.296,198.978 -163.938,362.621 -362.916,362.917Zm-0,-663.75c-165.033,0 -300.834,135.801 -300.834,300.833c0,165.033 135.801,300.834 300.834,300.834c165.032,-0 300.833,-135.801 300.833,-300.834c-0.228,-164.946 -135.887,-300.605 -300.833,-300.833Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M1082.5,815.417c-6.25,10.416 -9.583,15.833 -15.833,26.25c-78.75,-43.334 -164.167,-39.584 -238.75,10l48.75,30.833c52.5,-27.083 108.333,-26.25 162.916,2.917c-5.416,8.75 -8.333,13.333 -13.75,22.5c31.667,-6.25 61.667,2.5 90.417,15.416c-2.145,-38.208 -13.743,-75.294 -33.75,-107.916Z"
          style="fill: #fc7f00; fill-rule: nonzero"
        />
        <path
          d="M822.083,940.417l-39.583,-33.75c-28.75,45.416 -39.583,99.166 -30.417,157.5l-30,6.25c24.079,29.772 54.943,53.349 90,68.75c-2.083,-31.25 0,-62.5 16.25,-90.417c-10.416,2.083 -15.416,3.333 -25.416,5.417c-6.667,-42.917 -0,-80.417 19.166,-113.75Z"
          style="fill: #fc7f00; fill-rule: nonzero"
        />
        <path
          d="M1063.75,687.5l-37.083,0l-0,-86.25l-146.25,0l-0,86.25l-37.084,0l0,-123.333l220.417,-0l0,123.333Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M1024.07,1345.03l-137.944,18.406l3.582,26.845l137.944,-18.405l-3.582,-26.846Z"
          style="fill: #8b8b8b"
        />
        <path
          d="M1029.1,1388.77l-137.944,18.406l3.582,26.845l137.944,-18.405l-3.582,-26.846Z"
          style="fill: #8b8b8b"
        />
        <path
          d="M1032.02,1432.09l-137.944,18.406l3.581,26.845l137.945,-18.405l-3.582,-26.846Z"
          style="fill: #8b8b8b"
        />
        <path
          d="M932.083,1486.25l98.334,-13.75l-0,18.75l-98.334,-5Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
