<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="FurnacePower">
      <path
        id="bg"
        d="M1472.08,2004.58l-944.166,0c-0.042,0 -0.084,0 -0.125,0c-289.538,0 -527.792,-238.253 -527.792,-527.791c-0,-0.042 0,-0.084 0,-0.125l0,-948.75c0,-0.042 0,-0.084 0,-0.125c0,-289.538 238.254,-527.792 527.792,-527.792c0.041,0 0.083,0 0.125,0l944.166,0c0.042,0 0.084,0 0.125,0c289.538,0 527.792,238.254 527.792,527.792c0,0.041 0,0.083 0,0.125l0,948.75c0,0.041 0,0.083 0,0.125c0,289.538 -238.254,527.791 -527.792,527.791c-0.041,0 -0.083,0 -0.125,0Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M543.75,95.833l916.667,0c0.041,0 0.083,0 0.125,0c245.88,0 448.208,202.329 448.208,448.209c0,0.041 0,0.083 0,0.125l0,916.666c0,0.042 0,0.084 0,0.125c0,245.88 -202.328,448.209 -448.208,448.209c-0.042,-0 -0.084,-0 -0.125,-0l-916.667,-0c-0.042,-0 -0.083,-0 -0.125,-0c-245.88,-0 -448.208,-202.329 -448.208,-448.209c-0,-0.041 -0,-0.083 -0,-0.125l-0,-916.666c-0,-0.125 -0,-0.25 -0,-0.375c-0,-245.743 202.215,-447.959 447.958,-447.959c0.125,0 0.25,0 0.375,0Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M555.833,588.75l-76.25,0l0,116.667l-269.583,-0l0,266.25l15,20.416l254.583,343.334l0,298.333l955.834,0l-0,-199.583l146.666,-382.5l146.667,-37.917l47.5,-12.5l8.75,-48.333l27.083,-157.917l15.834,-89.583l-392.5,-0l-0,-116.667l-76.25,0l-0,193.333l377.916,0l-27.5,157.5l-185,48.334l-165.416,432.5l-0,136.666l-803.334,0l0,-246.666l-269.583,-363.75l0,-164.584l269.583,0l0,-193.333Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M480.833,491.25l0,57.917l77.917,-0c261.667,-123.334 526.25,-125.834 793.75,-0l84.583,-0l0,-57.917c-331.666,-156.25 -650,-150 -956.25,0Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M962.917,655.417c-199.091,-0 -362.917,163.826 -362.917,362.916c0,199.091 163.826,362.917 362.917,362.917c199.09,0 362.916,-163.826 362.916,-362.917c0,-0.014 0,-0.028 0,-0.042c0,-199.067 -163.807,-362.874 -362.874,-362.874c-0.014,-0 -0.028,-0 -0.042,-0Zm-0,663.099c-164.521,-0.091 -299.848,-135.495 -299.848,-300.015c-0,-164.584 135.432,-300.016 300.015,-300.016c164.584,0 300.016,135.432 300.016,300.016l-0,0.335c-0,164.4 -135.281,299.681 -299.681,299.681c-0.167,-0 -0.335,-0 -0.502,-0.001Z"
          style="fill: #8a8a8a; fill-rule: nonzero"
        />
        <path
          d="M821.375,816.333l156.75,0l73.542,232.917l-87.667,0l99.208,219.917l-228.083,-273.042l93.25,0l-107,-179.792Z"
          style="fill: #fd7f00; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
