<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="HMI_settings">
      <path
        d="M527.875,0l944.25,0c291.542,0 527.875,235.792 527.875,526.625l0,946.75c0,290.833 -236.333,526.625 -527.875,526.625l-944.25,0c-291.542,0 -527.875,-235.792 -527.875,-526.625l0,-946.75c0,-290.833 236.333,-526.625 527.875,-526.625Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M542.583,91.667l916.667,-0c245.711,-0.343 448.195,201.538 448.583,447.25l0,914.666c-0.274,245.554 -202.404,447.459 -447.958,447.459c-0.18,-0 -0.361,-0 -0.542,-0l-916.666,-0c-0.209,-0 -0.417,0 -0.626,0c-245.553,0 -447.684,-201.905 -447.958,-447.459l0,-914.666c0.389,-245.68 202.82,-447.548 448.5,-447.25Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M829.917,1014.92c-61.952,-0.023 -112.917,-51.007 -112.917,-112.959c0,-61.967 50.991,-112.958 112.958,-112.958c61.967,0 112.959,50.991 112.959,112.958c-0.069,61.957 -51.043,112.913 -113,112.959Zm-0,-204.167c-49.99,0 -91.125,41.135 -91.125,91.125c-0,49.99 41.135,91.125 91.125,91.125c49.989,0 91.125,-41.135 91.125,-91.125c-0.092,-49.941 -41.184,-90.996 -91.125,-91.042l-0,-0.083Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <path
          d="M829.917,976.375c-0.056,0 -0.111,0 -0.167,0c-40.824,0 -74.417,-33.593 -74.417,-74.416c0,-40.824 33.593,-74.417 74.417,-74.417c40.824,-0 74.417,33.593 74.417,74.416c-0.046,40.744 -33.507,74.28 -74.25,74.417Zm-0,-126.958c-28.847,-0 -52.584,23.737 -52.584,52.583c0,28.846 23.737,52.583 52.584,52.583c28.846,0 52.583,-23.737 52.583,-52.583c0,-0.014 0,-0.028 0,-0.042c-0.046,-28.822 -23.761,-52.519 -52.583,-52.541Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <path
          d="M1561.12,522.75l-1124.12,0c-48.161,0 -87.792,39.631 -87.792,87.792l0,743.333c0,48.161 39.631,87.792 87.792,87.792l1124.12,-0c48.161,-0 87.792,-39.631 87.792,-87.792l-0,-743.333c-0,-48.161 -39.631,-87.792 -87.792,-87.792Zm5,816.417c0,13.829 -11.379,25.208 -25.208,25.208l-1083.71,0c-13.75,-0.114 -25,-11.458 -25,-25.208l0,-713.917c-0.023,-13.766 11.235,-25.136 25,-25.25l1083.71,-0c13.829,-0 25.208,11.379 25.208,25.208c0,0.014 0,0.028 0,0.042l0,713.917Z"
          style="fill: #7c7c7c; fill-rule: nonzero"
        />
        <path
          d="M1748.5,471.208c-5.167,-9.472 -10.639,-18.639 -16.417,-27.5l-54.833,18.334c-10.588,-14.864 -22.303,-28.891 -35.042,-41.959l27.792,-50.666c-7.792,-7.375 -15.875,-14.375 -24.167,-20.834l-46.5,34.417c-14.654,-10.903 -30.131,-20.654 -46.291,-29.167l10.791,-56.75c-9.708,-4.583 -19.583,-8.75 -29.583,-12.5l-33.583,47.084c-17.232,-5.754 -34.881,-10.17 -52.792,-13.209l-7.292,-57.375c-10.639,-1.333 -21.333,-2.277 -32.083,-2.833l-17.375,55.125c-18.124,-0.151 -36.233,1.089 -54.167,3.708l-24.666,-52.291c-10.5,2 -20.834,4.416 -31.417,7.25l0.5,57.833c-17.278,5.421 -34.118,12.148 -50.375,20.125l-39.583,-42.083c-9.556,5.222 -18.806,10.777 -27.75,16.666l18.333,54.792c-14.758,10.5 -28.688,22.117 -41.667,34.75l-50.666,-27.833c-7.417,7.889 -14.5,16.014 -21.25,24.375l34.416,46.5c-10.735,14.524 -20.346,29.846 -28.75,45.833l-56.791,-10.792c-4.625,9.792 -8.834,19.709 -12.5,29.834l47.041,33.541c-5.766,17.223 -10.223,34.856 -13.333,52.75l-57.375,7.292c-1.375,10.667 -2.375,21.458 -2.917,32.25l55.125,17.167c-0.202,18.121 0.996,36.23 3.584,54.166l-52.292,24.667c1.944,10.556 4.347,21.056 7.208,31.5l57.834,-0.5c5.442,17.195 12.184,33.952 20.166,50.125l-42.083,39.583c5.167,9.542 10.708,18.834 16.667,27.792l54.75,-18.333c10.503,14.754 22.121,28.684 34.75,41.666l-27.959,50.959c7.834,7.416 15.917,14.458 24.25,21.208l46.459,-34.417c14.595,10.821 30.002,20.502 46.083,28.959l-10.792,56.791c9.723,4.639 19.584,8.806 29.584,12.5l33.458,-47c17.233,5.79 34.881,10.261 52.792,13.375l7.291,57.375c10.584,1.417 21.292,2.375 32,2.917l17.375,-55.083c18.232,0.216 36.454,-0.982 54.5,-3.584l24.667,52.292c10.444,-1.944 20.847,-4.319 31.208,-7.125l-0.5,-57.792c17.408,-5.497 34.374,-12.308 50.75,-20.375l39.625,42.084c9.459,-5.125 18.625,-10.625 27.5,-16.375l-18.333,-54.792c14.934,-10.564 29.019,-22.28 42.125,-35.042l50.667,27.792c7.375,-7.75 14.375,-15.792 21.041,-24.042l-34.375,-46.458c10.891,-14.721 20.642,-30.252 29.167,-46.458l56.75,10.791c4.583,-9.666 8.75,-19.472 12.5,-29.416l-46.75,-33.584c5.828,-17.335 10.3,-35.096 13.375,-53.125l57.208,-7.25c1.361,-10.555 2.32,-21.166 2.875,-31.833l-55.125,-17.375c0.176,-18.304 -1.064,-36.595 -3.708,-54.708l52.292,-24.667c-1.959,-10.417 -4.375,-20.833 -7.167,-31.125l-57.833,0.5c-5.504,-17.437 -12.358,-34.419 -20.5,-50.792l42.083,-39.625Zm-383.542,157.959c7.083,-4.248 15.188,-6.493 23.447,-6.493c25.006,0 45.583,20.577 45.583,45.584c0,25.006 -20.577,45.583 -45.583,45.583c-16.011,-0 -30.891,-8.436 -39.113,-22.174c-12.691,-21.469 -5.65,-49.557 15.666,-62.5Zm-142.25,260.541c-69.839,-52.155 -111.056,-134.376 -111.056,-221.541c0,-73.624 29.406,-144.281 81.64,-196.167c6.161,-6.102 14.491,-9.529 23.162,-9.529c11.569,0 22.319,6.099 28.254,16.029l64.584,107.75c6.799,11.459 6.895,25.742 0.25,37.292c-16.088,28.259 -15.689,63.116 1.041,91c1.881,3.162 3.969,6.197 6.25,9.083c8.129,10.477 9.98,24.571 4.834,36.792l-48.875,115.708c-5.113,12.247 -17.144,20.262 -30.415,20.262c-7.085,0 -13.984,-2.284 -19.669,-6.512l0,-0.167Zm426.5,-131.375c-43.41,126.029 -172.128,203.574 -303.833,183.042c-15.978,-2.469 -27.889,-16.363 -27.889,-32.53c-0,-4.475 0.912,-8.902 2.681,-13.012l49,-116.041c5.161,-12.12 16.491,-20.545 29.583,-22c12.586,-1.529 24.71,-5.688 35.583,-12.209c11.158,-6.66 20.729,-15.676 28.042,-26.416c7.469,-10.827 20.234,-16.811 33.333,-15.625l125,11.083c17.04,1.359 30.339,15.76 30.339,32.854c-0,3.696 -0.622,7.365 -1.839,10.854Zm11.834,-132.5c0.262,1.683 0.394,3.383 0.394,5.086c0,18.08 -14.878,32.958 -32.958,32.958c-0.966,0 -1.932,-0.042 -2.895,-0.127l-125.25,-11.083c-13.197,-1.213 -24.761,-9.459 -30.208,-21.542c-1.432,-3.139 -3.031,-6.199 -4.792,-9.167c-16.611,-27.696 -46.877,-44.438 -79.166,-43.791c-13.255,0.367 -25.726,-6.442 -32.584,-17.792l-64.708,-107.917c-3.035,-5.098 -4.637,-10.923 -4.637,-16.856c0,-14.348 9.369,-27.124 23.054,-31.435c26.094,-7.938 53.219,-11.973 80.494,-11.973c135.648,0 252.276,99.791 273.256,233.806l-0,-0.167Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <path
          id="Icon_ionic-ios-hand"
          d="M1198.75,1210c-23.312,-0.185 -42.698,18.732 -43.083,42.042l-0,-3.584c0.014,0.29 0.021,0.58 0.021,0.87c-0,9.966 -8.201,18.167 -18.167,18.167c-9.966,-0 -18.167,-8.201 -18.167,-18.167c0,-0.29 0.007,-0.58 0.021,-0.87l0,-57.166c-0,-23.612 -19.43,-43.042 -43.042,-43.042c-23.612,0 -43.041,19.43 -43.041,43.042l-0,18.333c-0,9.966 -8.201,18.167 -18.167,18.167c-9.966,-0 -18.167,-8.201 -18.167,-18.167l0,-71.792c0,-23.612 -19.429,-43.041 -43.041,-43.041c-23.612,-0 -43.042,19.429 -43.042,43.041l0,39.042c-0,9.966 -8.201,18.167 -18.167,18.167c-9.966,-0 -18.166,-8.201 -18.166,-18.167l-0,-258.667c-0,-23.612 -19.43,-43.041 -43.042,-43.041c-23.612,-0 -43.042,19.429 -43.042,43.041l0,445.334l-56.708,-48.125c-53.25,-46.334 -98.417,-66.125 -135.083,-32.084c-24.667,24.084 14.083,63.042 54.666,108.542c39.209,43.875 142.834,187.5 231.167,239.292c24.956,15.198 53.613,23.256 82.833,23.291l116.667,0c94.042,0 159.958,-77.333 159.958,-190.166l0,-212.25c-0.563,-23.287 -19.915,-42.116 -43.208,-42.042Z"
          style="fill: #7c7c7c; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
