<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="Home">
      <path
        id="bg"
        d="M527.917,0l944.166,0c291.667,0 527.917,235.833 527.917,526.667l0,946.666c0,290.834 -236.25,526.667 -527.917,526.667l-944.166,0c-291.667,0 -527.917,-235.833 -527.917,-526.667l0,-946.666c0,-290.834 236.25,-526.667 527.917,-526.667Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M542.5,91.667l916.667,-0c245.694,-0.16 448.036,201.806 448.333,447.5l0,914.583c-0.297,245.694 -202.639,447.66 -448.333,447.5l-916.667,0c-245.694,0.16 -448.036,-201.806 -448.333,-447.5l-0,-914.583c0.297,-245.694 202.639,-447.66 448.333,-447.5Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M538.708,1033.75l929.209,0c10.971,0 20,-9.028 20,-20l-0,-37.917c0.118,-17.29 -7.166,-33.83 -20,-45.416l-463.75,-425.417l-463.75,425.417c-12.783,11.624 -20.055,28.139 -20,45.416l-0,37.917c-0.468,10.503 7.789,19.53 18.291,20Z"
          style="fill: #fc7f00; fill-rule: nonzero"
        />
        <path
          d="M587.917,990.417l-0,459.583c-0,20.572 16.928,37.5 37.5,37.5l279.583,0l0,-322.083l197.5,-0l0,322.083l277.083,0c20.572,0 37.5,-16.928 37.5,-37.5l0,-459.583c0.044,-15.248 -6.676,-29.755 -18.333,-39.584l-376.25,-321.666c-11.725,-9.957 -29.108,-9.957 -40.833,-0l-376.25,321.666c-11.109,10.161 -17.461,24.529 -17.5,39.584Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
