<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="Inoculation">
      <path
        id="bg"
        d="M529.583,0l947.084,0c292.5,0 529.583,236.667 529.583,528.333l0,950c0,291.667 -237.083,528.334 -529.583,528.334l-947.084,-0c-292.5,-0 -529.583,-236.667 -529.583,-528.334l0,-950c0,-292.083 237.083,-528.333 529.583,-528.333Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M544.167,91.667l919.583,-0c0.167,-0.001 0.333,-0.001 0.5,-0.001c246.431,0 449.272,202.653 449.5,449.084l0,918c-0.183,246.462 -203.037,449.167 -449.5,449.167c-0.167,-0 -0.333,-0 -0.5,-0l-919.583,-0c-0.167,-0 -0.334,-0 -0.501,-0c-246.431,-0 -449.271,-202.653 -449.499,-449.084l-0,-918c0.182,-246.462 203.037,-449.167 449.5,-449.167l0.5,0.001Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <circle cx="1275" cy="968.75" r="27.5" style="fill: #fffdd4" />
        <circle cx="1200.83" cy="848.333" r="27.5" style="fill: #fffdd4" />
        <circle cx="1131.67" cy="735.417" r="27.5" style="fill: #fffdd4" />
        <circle cx="1488.33" cy="748.75" r="27.5" style="fill: #fffdd4" />
        <circle cx="1529.17" cy="648.333" r="27.5" style="fill: #fffdd4" />
        <circle cx="1597.92" cy="542.5" r="27.5" style="fill: #fffdd4" />
        <circle cx="1482.08" cy="542.5" r="27.5" style="fill: #fffdd4" />
        <circle cx="1442.08" cy="855.417" r="27.5" style="fill: #fffdd4" />
        <circle cx="1327.08" cy="855" r="27.5" style="fill: #fffdd4" />
        <circle cx="1395" cy="970.417" r="27.5" style="fill: #fffdd4" />
        <circle cx="1347.92" cy="1092.5" r="27.5" style="fill: #fffdd4" />
        <circle cx="1225.42" cy="1096.67" r="27.5" style="fill: #fffdd4" />
        <circle cx="1299.58" cy="1222.92" r="27.5" style="fill: #fffdd4" />
        <circle cx="1076.67" cy="840" r="27.5" style="fill: #fffdd4" />
        <circle cx="1086.67" cy="1101.25" r="27.5" style="fill: #fffdd4" />
        <circle cx="1171.25" cy="1225.83" r="27.5" style="fill: #fffdd4" />
        <circle cx="1145.83" cy="961.667" r="27.5" style="fill: #fffdd4" />
        <circle cx="1259.17" cy="739.583" r="27.5" style="fill: #fffdd4" />
        <circle cx="1378.75" cy="747.5" r="27.5" style="fill: #fffdd4" />
        <circle cx="1178.75" cy="632.083" r="27.5" style="fill: #fffdd4" />
        <path
          d="M1022.06,616.455c2.432,-14.981 16.569,-25.17 31.551,-22.738c14.981,2.432 25.17,16.569 22.738,31.551c-2.432,14.981 -16.569,25.17 -31.551,22.738c-14.981,-2.432 -25.17,-16.569 -22.738,-31.551Z"
          style="fill: #fffdd4"
        />
        <circle cx="1306.25" cy="636.25" r="27.5" style="fill: #fffdd4" />
        <circle cx="1425.83" cy="644.167" r="27.5" style="fill: #fffdd4" />
        <circle cx="1118.33" cy="517.5" r="27.5" style="fill: #fffdd4" />
        <circle cx="1245.83" cy="521.667" r="27.5" style="fill: #fffdd4" />
        <circle cx="1365" cy="529.583" r="27.5" style="fill: #fffdd4" />
        <circle cx="713.333" cy="828.75" r="27.5" style="fill: #fffdd4" />
        <circle cx="650.833" cy="1208.33" r="27.5" style="fill: #fffdd4" />
        <circle cx="451.667" cy="1077.92" r="27.5" style="fill: #fffdd4" />
        <circle cx="637.917" cy="942.083" r="27.5" style="fill: #fffdd4" />
        <circle cx="275.417" cy="921.25" r="27.5" style="fill: #fffdd4" />
        <circle cx="767.083" cy="948.75" r="27.5" style="fill: #fffdd4" />
        <circle cx="772.083" cy="720" r="27.5" style="fill: #fffdd4" />
        <circle cx="512.083" cy="708.75" r="27.5" style="fill: #fffdd4" />
        <circle cx="819.167" cy="616.25" r="27.5" style="fill: #fffdd4" />
        <path
          d="M1332.08,897.083c8.335,-27.771 -7.65,-57.483 -35.416,-65.833l-0.417,0c-19.947,-5.794 -41.541,0.376 -55.417,15.833l-0.416,0c-27.084,28.75 -45.834,105.834 -2.917,146.25l0.417,0c-0.839,-13.911 5.057,-27.411 15.833,-36.25c21.667,-17.5 60.833,-13.75 76.25,-54.166c1.042,-1.802 1.748,-3.779 2.083,-5.834Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M607.083,829.167c-15.85,-43.428 6.669,-92.22 50,-108.334l0.417,-0.416c31.284,-11.359 66.471,-3.54 90,20l0.417,-0.417c46.25,42.917 65.416,165.417 0.833,234.167c1.667,-15 9.583,-42.917 -11.25,-57.917c-36.25,-26.25 -98.333,-15.833 -127.083,-79.167c-1.418,-2.499 -2.537,-5.156 -3.334,-7.916Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M1542.08,487.917c-21.666,13.333 -22.5,50 -1.666,83.333c8.539,14.494 20.949,26.327 35.833,34.167c8.048,4.287 17.162,6.168 26.25,5.416c4.876,-0.444 9.583,-2.013 13.75,-4.583l282.917,-180.833c-12.291,-46.13 -31.841,-90.012 -57.917,-130l-299.167,192.5Zm66.25,107.083c-6.666,4.167 -16.25,3.75 -26.25,-1.667c-12.443,-6.991 -22.91,-17.028 -30.416,-29.166c-16.25,-25.834 -17.084,-55.417 -2.5,-64.584c2.32,-1.624 5.084,-2.497 7.916,-2.5c15,-1.666 35.417,11.667 48.75,33.334c16.25,25.833 17.5,55.416 2.5,64.583Z"
          style="fill: #fc7f00; fill-rule: nonzero"
        />
        <path
          d="M1214.17,1269.17c0.096,-41.191 -11.306,-81.601 -32.917,-116.667c-86.955,-144.588 -132.243,-310.451 -130.833,-479.167l-0,-581.666l-127.5,-0l-0,598.333c-1.324,164.336 -46.651,325.356 -131.25,466.25c-21.593,36.796 -32.154,79.038 -30.417,121.667c0.071,3.347 0.349,6.687 0.833,10l-667.5,-0l0,170.416c-0.092,52.752 9.221,105.1 27.5,154.584c5,13.75 10.834,27.083 17.084,40.416c11.209,22.773 24.165,44.644 38.75,65.417c8.301,11.702 17.201,22.967 26.666,33.75c9.584,10.833 19.167,21.25 29.584,31.25c2.5,2.5 5.416,5 7.916,7.5c5.417,5 10.834,9.583 16.25,14.167c80.552,66.441 181.833,102.708 286.25,102.5l919.584,-0c104.417,0.208 205.698,-36.059 286.25,-102.5c5.416,-4.584 10.833,-9.167 16.25,-14.167c2.5,-2.5 5.416,-5 7.916,-7.5c10.379,-9.914 20.253,-20.344 29.584,-31.25c9.465,-10.783 18.365,-22.048 26.666,-33.75c14.672,-20.717 27.632,-42.595 38.75,-65.417c6.379,-13.172 12.081,-26.662 17.084,-40.416c18.116,-49.528 27.424,-101.847 27.5,-154.584l-0,-170.416l-700.417,-0c0,-6.25 0.417,-12.5 0.417,-18.75Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
