<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="Lager_2">
      <path
        id="bg"
        d="M2003.71,528.833c0,-291.871 -236.962,-528.833 -528.833,-528.833l-946.042,0c-291.871,0 -528.833,236.962 -528.833,528.833l0,950.667c0,291.871 236.962,528.833 528.833,528.833l946.042,0c291.871,0 528.833,-236.962 528.833,-528.833l0,-950.667Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="Lager_9" class="pressdown">
        <path
          d="M1911.75,542.333c0,-247.993 -201.34,-449.333 -449.333,-449.333l-918.459,0c-247.993,0 -449.333,201.34 -449.333,449.333l0,918.459c0,247.993 201.34,449.333 449.333,449.333l918.459,0c247.993,0 449.333,-201.34 449.333,-449.333l0,-918.459Z"
          style="fill: #4b4b4b"
        />
        <path
          d="M1331.88,907.917c1.805,-5.389 2.726,-11.034 2.726,-16.717c-0,-22.623 -14.587,-42.829 -36.059,-49.95l-0.292,0c-19.703,-6.49 -41.478,-0.969 -55.708,14.125l-0.375,-0.208c-27.959,27.75 -48.917,103.958 -7.209,145.833l0.25,0c-0.497,-13.9 5.709,-27.226 16.667,-35.792c22.042,-16.958 61.083,-11.791 77.875,-51.791c0.875,-1.875 1.542,-3.667 2.125,-5.5Z"
          style="fill: #707070; fill-rule: nonzero"
        />
        <path
          d="M610.583,818.667c-14.573,-43.783 9.438,-91.806 53.209,-106.417l0.625,-0.208c31.47,-10.427 66.287,-1.609 89,22.541l0.541,-0.291c44.709,44.291 60.459,166.666 -6.208,233.541c2.208,-14.958 10.667,-42.666 -9.458,-58.125c-35.25,-27.166 -97.625,-18.791 -124.375,-82.791c-1.265,-2.686 -2.378,-5.44 -3.334,-8.25Z"
          style="fill: #707070; fill-rule: nonzero"
        />
        <path
          d="M1214.67,1287.92c0.583,-6.25 0.958,-12.5 1,-18.917c0.041,-41.042 -11.297,-81.303 -32.75,-116.292c-86.789,-144.237 -132.005,-309.712 -130.625,-478.041l-0,-578.375l-127.292,1.208l0,593.667c-1.393,163.957 -46.645,324.592 -131.042,465.166c-21.599,36.747 -32.147,78.955 -30.375,121.542c0,3.375 0.417,6.708 0.709,10.042l-668.125,-0l-0,174.25c0.023,246.511 202.863,449.352 449.375,449.375l918.375,-0c246.519,-0 449.375,-202.856 449.375,-449.375l-0,-174.25l-698.625,-0Z"
          style="fill: #707070; fill-rule: nonzero"
        />
        <path
          d="M1894,417.083l-656.792,753.75l-27,-151.791l-45.833,162.791l-87.5,-110.291l40.875,156.125l-144.208,-61.542l117.291,111.667l-189.583,27.625l183.333,37.958l-88.666,83.333l112.5,-21.791l-33.542,199.625l110.25,-147.334l52.375,90.375l19.167,-99.791l151.125,57.791l-84,-133.833l134.166,-4.75l-124.625,-61.75l125,-71.292l-121.458,-12.5l575,-683.625c-0.431,-40.876 -6.445,-81.502 -17.875,-120.75Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M1900.46,441.917l-679.166,785.916l-15.167,-94.5l-27.667,95.834l-55.958,-62.959l16.417,82.209l-81.375,-22.75l58.625,60.333l-80.875,24.458l82.25,19.375l-46.125,59.667l71.083,-23.583l-14.375,109.083l55.208,-92.042l36.625,66.125l6.875,-73.708l103.584,63.792l-71.209,-93.334l86.084,-8.708l-75,-33.708l98.041,-56.292l-106.625,14l648.834,-751.083c-1.603,-22.934 -4.974,-45.71 -10.084,-68.125Z"
          :style="`fill: ${color}; fill-rule: nonzero`"
        />
        <path
          d="M1909.46,542.875c0,-247.994 -201.339,-449.333 -449.333,-449.333l-918.458,-0c-247.994,-0 -449.334,201.339 -449.334,449.333l0,918.458c0,247.994 201.34,449.334 449.334,449.334l918.458,-0c247.994,-0 449.333,-201.34 449.333,-449.334l0,-918.458Z"
          style="fill: none"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#144b9f',
    },
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
