<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="fill-rule: evenodd; clip-rule: evenodd"
  >
    <g id="LT">
      <path
        id="bg"
        d="M2003.71,528.833c0,-291.871 -236.962,-528.833 -528.833,-528.833l-946.042,0c-291.871,0 -528.833,236.962 -528.833,528.833l0,950.667c0,291.871 236.962,528.833 528.833,528.833l946.042,0c291.871,0 528.833,-236.962 528.833,-528.833l0,-950.667Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M1912.33,545.333c0,-247.993 -201.339,-449.333 -449.333,-449.333l-918.458,0c-247.994,0 -449.334,201.34 -449.334,449.333l0,918.459c0,247.993 201.34,449.333 449.334,449.333l918.458,0c247.994,0 449.333,-201.34 449.333,-449.333l0,-918.459Z"
          style="fill: #4b4b4b"
        />
        <path
          d="M847.083,1604.88l70.084,0l-0,-70.292l183.833,0l0,70.292l74,0l-163.917,191.25l-164,-191.25Zm70.084,-1032.38l-0,-73.417l-70.084,0l163.917,-191.291l164,191.291l-74.083,0l-0,73.417l-183.75,0Z"
          style="fill: #8e8e8e; fill-rule: nonzero"
        />
        <path
          d="M681.417,1306.12l-0,-659.125l659.208,0l0,659.125l-164.917,150.708l-329.458,0l-164.833,-150.708Z"
          style="fill: #8e8e8e; fill-rule: nonzero"
        />
        <path
          d="M770.833,1237.21l0,-480.375l480.375,0l0,480.375l-120.083,109.875l-240.292,0l-120,-109.875Z"
          style="
            fill: #fd7f23;
            fill-rule: nonzero;
            stroke: #4b4b4b;
            stroke-width: 41.67px;
          "
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
