<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="Network">
      <path
        id="bg"
        d="M527.875,0l944.25,0c291.542,0 527.875,235.792 527.875,526.625l0,946.75c0,290.833 -236.333,526.625 -527.875,526.625l-944.25,0c-291.542,0 -527.875,-235.792 -527.875,-526.625l0,-946.75c0,-290.833 236.333,-526.625 527.875,-526.625Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          id="Rectangle_288"
          d="M542.583,91.667l916.667,-0c245.711,-0.343 448.195,201.538 448.583,447.25l0,914.666c-0.274,245.554 -202.404,447.459 -447.958,447.459c-0.166,-0 -0.333,-0 -0.5,-0l-916.667,-0c-0.222,-0 -0.444,0 -0.667,0c-245.506,0 -447.615,-201.827 -447.958,-447.334l0,-914.791c0.389,-245.68 202.82,-447.548 448.5,-447.25Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M1409.62,931.625c-89.853,0 -163.792,-73.938 -163.792,-163.792c0,-89.853 73.939,-163.791 163.792,-163.791c89.853,-0 163.792,73.938 163.792,163.791c-0.114,89.811 -73.982,163.678 -163.792,163.792Zm0,-255.833c-50.493,-0 -92.042,41.549 -92.042,92.041c0,50.493 41.549,92.042 92.042,92.042c50.493,0 92.042,-41.549 92.042,-92.042c-0.091,-50.458 -41.584,-91.95 -92.042,-92.041Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M1281.71,1651.25c-89.853,-0 -163.791,-73.938 -163.791,-163.792c-0,-89.853 73.938,-163.791 163.791,-163.791c89.854,-0 163.792,73.938 163.792,163.791c0,0.014 0,0.028 0,0.042c-0.137,89.795 -73.997,163.636 -163.792,163.75Zm0,-255.833c-50.492,-0 -92.041,41.549 -92.041,92.041c-0,50.493 41.549,92.042 92.041,92.042c50.477,0 92.019,-41.523 92.042,-92c0,-0.014 0,-0.028 0,-0.042c0,-50.492 -41.549,-92.041 -92.042,-92.041l0,-0Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M886.458,709.5c-89.853,-0 -163.791,-73.938 -163.791,-163.792c-0,-89.853 73.938,-163.791 163.791,-163.791c89.854,-0 163.792,73.938 163.792,163.791c0,0.042 0,0.084 0,0.125c-0.182,89.763 -74.029,163.553 -163.792,163.667Zm0,-255.875c-50.515,0 -92.083,41.568 -92.083,92.083c0,50.516 41.568,92.084 92.083,92.084c50.516,-0 92.084,-41.568 92.084,-92.084c-0,-0.014 -0,-0.027 -0,-0.041c-0,-50.493 -41.549,-92.042 -92.042,-92.042c-0.014,-0 -0.028,-0 -0.042,0Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M705.125,1499.58c-65.601,0 -119.583,-53.982 -119.583,-119.583c-0,-65.601 53.982,-119.583 119.583,-119.583c65.601,-0 119.583,53.982 119.583,119.583c-0.045,65.584 -53.999,119.538 -119.583,119.583Zm0,-167.375c-26.241,0 -47.833,21.593 -47.833,47.834c-0,26.24 21.592,47.833 47.833,47.833c26.241,-0 47.833,-21.593 47.833,-47.833c0,-26.241 -21.592,-47.834 -47.833,-47.834Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M1409.83,1260.21c-65.578,0 -119.541,-53.963 -119.541,-119.541c-0,-65.579 53.963,-119.542 119.541,-119.542c65.579,-0 119.542,53.963 119.542,119.542c0,0.014 0,0.027 0,0.041c0,65.556 -53.944,119.5 -119.5,119.5c-0.014,0 -0.028,0 -0.042,0Zm0,-167.333c-26.217,0 -47.791,21.574 -47.791,47.792c-0,26.217 21.574,47.791 47.791,47.791c26.218,0 47.792,-21.574 47.792,-47.791c-0.023,-26.209 -21.583,-47.769 -47.792,-47.792Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M471.125,1009c-0.014,0 -0.028,0 -0.042,0c-65.601,0 -119.583,-53.982 -119.583,-119.583c0,-65.602 53.982,-119.584 119.583,-119.584c65.586,0 119.561,53.956 119.584,119.542c-0.046,65.576 -53.966,119.534 -119.542,119.625Zm0,-167.375c-0.014,-0 -0.028,-0 -0.042,-0c-26.24,-0 -47.833,21.593 -47.833,47.833c0,26.241 21.593,47.834 47.833,47.834c26.225,-0 47.811,-21.567 47.834,-47.792c-0,-26.225 -21.567,-47.81 -47.792,-47.833l0,-0.042Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M943.792,661.708l-49.417,13.292l69.833,257.792c15.496,-7.489 32.257,-12.012 49.417,-13.334l-69.833,-257.75Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M1149.58,999.333l178.667,-127l-29.667,-41.666l-178.666,127c12.392,11.923 22.454,26.054 29.666,41.666Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M1327.12,1144.12l10.125,-50l-175,-35.292c-0.21,17.146 -3.615,34.103 -10.042,50l174.917,35.292Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M1190.38,1392.46l44.208,-25.791l-119.875,-205.584c-13.001,11.285 -27.994,20.046 -44.208,25.834l119.875,205.541Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M548.5,887.958l-14.667,49.042l353.375,105.667c1.753,-17.118 6.745,-33.747 14.709,-49l-353.417,-105.709Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M911,1135.46l-169.75,172.167l36.458,35.958l169.75,-172.166c-14.281,-9.617 -26.645,-21.811 -36.458,-35.959Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M1149.58,999.333c-7.223,-15.606 -17.282,-29.735 -29.666,-41.666c-25.657,-24.73 -59.949,-38.542 -95.584,-38.5c-3.574,-0.07 -7.15,0.069 -10.708,0.416c-71.481,5.505 -127.366,65.859 -127.366,137.551c-0,75.682 62.277,137.959 137.958,137.959c75.088,-0 137.093,-61.302 137.95,-136.385l-0,-1.666c0.043,-19.921 -4.251,-39.614 -12.584,-57.709Zm-55.708,59.25c-0.003,12.874 -3.581,25.498 -10.333,36.459c-1.209,2.004 -2.53,3.937 -3.959,5.791c-13.177,17.483 -33.84,27.784 -55.733,27.784c-36.823,-0 -67.634,-29.143 -69.683,-65.909c-0,-1.375 -0.209,-2.708 -0.209,-4.166c0.204,-38.301 31.658,-69.755 69.959,-69.959c2.87,0.027 5.736,0.222 8.583,0.584c28.318,3.492 51.803,23.934 59.167,51.5c0.42,1.369 0.768,2.76 1.041,4.166c0.847,4.533 1.238,9.14 1.167,13.75Z"
          style="fill: #fc7f00; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
