<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2004 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="letter">
      <path
        id="bg"
        d="M2003.75,528.833c0,-291.871 -236.962,-528.833 -528.833,-528.833l-946.084,0c-291.871,0 -528.833,236.962 -528.833,528.833l0,950.709c0,291.871 236.962,528.833 528.833,528.833l946.084,0c291.871,0 528.833,-236.962 528.833,-528.833l0,-950.709Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M1909.5,542.877c0,-247.994 -201.339,-449.333 -449.333,-449.333l-916.205,-0c-247.994,-0 -449.333,201.339 -449.333,449.333l-0,917.954c-0,247.994 201.339,449.334 449.333,449.334l916.205,-0c247.994,-0 449.333,-201.34 449.333,-449.334l0,-917.954Z"
          style="fill: #4b4b4b"
        />
        <text
          x="352.187px"
          y="1579.06px"
          transform
          alignment-baseline="middle"
          style="
            font-family: 'CenturyGothic', 'Century Gothic', sans-serif;
            font-size: 1600.72px;
            fill: #ff8200;
          "
        >
          {{ text }}
        </text>
      </g>
    </g>
  </svg>
</template>

<script>
import GraphLineLaser from '../GraphLineLaser.vue'
export default {
  components: { GraphLineLaser },
  props: {
    text: {
      type: String,
      default: 'B',
    },
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
