<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="Pouring">
      <path
        id="bg"
        d="M2003.71,528.833c0,-291.871 -236.962,-528.833 -528.833,-528.833l-946.042,0c-291.871,0 -528.833,236.962 -528.833,528.833l0,950.667c0,291.871 236.962,528.833 528.833,528.833l946.042,0c291.871,0 528.833,-236.962 528.833,-528.833l0,-950.667Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          d="M1906.67,549.292c-0,-247.994 -201.34,-449.334 -449.334,-449.334l-918.458,0c-247.994,0 -449.333,201.34 -449.333,449.334l-0,918.458c-0,247.994 201.339,449.333 449.333,449.333l918.458,0c247.994,0 449.334,-201.339 449.334,-449.333l-0,-918.458Z"
          style="fill: #4b4b4b"
        />
        <path
          d="M95.333,1467.33c0.956,245.835 203.493,447.587 449.33,447.587c0.585,0 1.169,-0.001 1.754,-0.003l918.416,-3.625c245.874,-0.933 447.67,-203.497 447.67,-449.372c0,-0.585 -0.001,-1.169 -0.003,-1.753l-0.333,-86.959l-1817.21,0l0.375,94.125Z"
          style="fill: #8e8e8e; fill-rule: nonzero"
        />
        <path
          d="M1164.92,1349.29c-59.125,-101.459 -90.375,-213.167 -90.375,-323l-0,-227.25l-157.125,-0l-0,227.25c-0,109.833 -31.25,221.541 -90.375,323c-17.292,29.835 -26.4,63.715 -26.4,98.199c-0,104.47 83.597,191.488 187.983,195.676l14.708,-0c104.387,-4.188 187.984,-91.206 187.984,-195.676c-0,-34.484 -9.109,-68.364 -26.4,-98.199Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M1351.5,186.708l-222.333,299.542c-27.008,36.264 -41.623,80.284 -41.667,125.5l0,62.208l151.208,0l263.875,-355.458l0,-131.875l-151.083,0.083Z"
          style="fill: #8e8e8e; fill-rule: nonzero"
        />
        <path
          d="M635.083,186.708l222.375,299.542c27.008,36.264 41.623,80.284 41.667,125.5l0,62.208l-151.375,0l-263.875,-355.458l0,-131.875l151.208,0.083Z"
          style="fill: #8e8e8e; fill-rule: nonzero"
        />
        <path
          d="M1201.75,1229.17c1.059,-3.239 1.598,-6.625 1.598,-10.033c-0,-17.714 -14.577,-32.291 -32.292,-32.291c-8.878,-0 -17.375,3.661 -23.473,10.115l-0.208,0c-22.501,24.77 -24.36,62.337 -4.417,89.209c-0.257,-8.512 3.552,-16.658 10.25,-21.917c13.375,-10.417 37.084,-7.208 47.25,-31.75c0.51,-1.079 0.942,-2.193 1.292,-3.333Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <path
          d="M763.75,1174.33c-1.708,-5.199 -2.578,-10.637 -2.578,-16.11c0,-28.32 23.304,-51.625 51.625,-51.625c14.284,0 27.946,5.929 37.703,16.36l0.333,0c32.631,42.41 31.04,102.421 -3.791,143.042c1.375,-9.167 6.5,-26.083 -5.75,-35.625c-21.417,-16.667 -59.292,-11.5 -75.542,-50.667c-0.708,-1.875 -1.375,-3.583 -2,-5.375Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
        <path
          d="M1033.04,1064.38l-0,-440.375c0.008,-75.197 24.58,-148.372 69.958,-208.333l147,-194.084l-513,0l146.917,194.084c45.397,59.951 69.971,133.133 69.958,208.333l0,448.583c0,111.125 -29.708,219.417 -80.75,318.125c-9.901,19.195 -15.069,40.483 -15.069,62.081c0,74.287 61.13,135.417 135.417,135.417c74.288,-0 135.417,-61.13 135.417,-135.417c-0,-21.03 -4.899,-41.773 -14.307,-60.581c-51.25,-102.166 -81.541,-213.541 -81.541,-327.833Z"
          style="fill: #ff7f00; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
