<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="fill-rule: evenodd; clip-rule: evenodd; stroke-miterlimit: 10"
  >
    <g id="Statistics">
      <path
        id="bg"
        d="M1474.88,0l-946.042,0c-292.066,0 -528.833,236.767 -528.833,528.833l0,950.667c0,292.067 236.767,528.833 528.833,528.833l946.042,0c292.067,0 528.833,-236.766 528.833,-528.833l0,-950.667c0,-292.066 -236.766,-528.833 -528.833,-528.833Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />

      <g id="content" class="pressdown">
        <path
          d="M1472.04,99.333l-918.459,0c-248.16,0 -449.333,201.174 -449.333,449.334l-0,918.458c-0,248.158 201.173,449.333 449.333,449.333l918.459,0c248.158,0 449.333,-201.175 449.333,-449.333l-0,-918.458c-0,-248.16 -201.175,-449.334 -449.333,-449.334Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M446.167,1587.21l434.958,-150l204.542,-287.5l542.5,-0.375"
          style="
            fill: none;
            fill-rule: nonzero;
            stroke: #bfbfbf;
            stroke-width: 62.5px;
          "
        />
        <path
          d="M451.208,1597.96l281.334,-268.791l502.291,-0.334l405.959,-384.166"
          style="
            fill: none;
            fill-rule: nonzero;
            stroke: #262626;
            stroke-width: 62.5px;
          "
        />
        <path
          d="M451.208,1597.96l469.625,-663.708l407.5,165.75l312.25,-590.375"
          style="
            fill: none;
            fill-rule: nonzero;
            stroke: #ff8200;
            stroke-width: 62.5px;
          "
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
