<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="SwitchToMain">
      <path
        id="bg"
        d="M527.875,0l944.25,0c291.542,0 527.875,235.792 527.875,526.625l0,946.75c0,290.833 -236.333,526.625 -527.875,526.625l-944.25,0c-291.542,0 -527.875,-235.792 -527.875,-526.625l0,-946.75c0,-290.833 236.333,-526.625 527.875,-526.625Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          id="Rectangle_288"
          d="M542.583,91.667l916.667,-0c245.711,-0.343 448.195,201.538 448.583,447.25l0,914.666c-0.274,245.554 -202.404,447.459 -447.958,447.459c-0.166,-0 -0.333,-0 -0.5,-0l-916.667,-0c-0.222,-0 -0.444,0 -0.667,0c-245.506,0 -447.615,-201.827 -447.958,-447.334l0,-914.791c0.389,-245.68 202.82,-447.548 448.5,-447.25Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <rect
          x="918.125"
          y="1172.88"
          width="127.208"
          height="222.375"
          style="fill: #8b8b8b"
        />
        <path
          d="M1255.25,712.917l-486.25,-0l0,-118.292l-310.917,223.708l310.917,223.709l0,-106.917l470.833,0c64.5,1.375 109.042,54.167 109.042,118.875c0,64.708 -44.292,117.167 -108.333,118.875l-125,0l-0,222.375l138.041,0c188.084,-0.667 293.625,-153.167 293.625,-341.083c0,-187.917 -104.75,-339.834 -291.958,-341.25Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <rect
          x="774.583"
          y="1172.88"
          width="73.375"
          height="222.375"
          style="fill: #fc7f00"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
