<template>
  <svg
    width="93%"
    height="93%"
    class="block m-auto"
    viewBox="0 0 2009 2009"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
    "
  >
    <g id="SwitchToService">
      <path
        id="bg"
        d="M527.875,0l944.25,0c291.542,0 527.875,235.792 527.875,526.625l0,946.75c0,290.833 -236.333,526.625 -527.875,526.625l-944.25,0c-291.542,0 -527.875,-235.792 -527.875,-526.625l0,-946.75c0,-290.833 236.333,-526.625 527.875,-526.625Z"
        v-bind:style="{ fill: serviceMode ? '#ffb000' : '#3d4045' }"
      />
      <g id="content" class="pressdown">
        <path
          id="Rectangle_288"
          d="M542.583,91.667l916.667,-0c245.711,-0.343 448.195,201.538 448.583,447.25l0,914.666c-0.274,245.554 -202.404,447.459 -447.958,447.459c-0.166,-0 -0.333,-0 -0.5,-0l-916.667,-0c-0.222,-0 -0.444,0 -0.667,0c-245.506,0 -447.615,-201.827 -447.958,-447.334l0,-914.791c0.389,-245.68 202.82,-447.548 448.5,-447.25Z"
          style="fill: #4b4b4b; fill-rule: nonzero"
        />
        <path
          d="M1278,611c-6.333,-11.583 -13.083,-22.875 -20.167,-33.75l-67.291,22.5c-13.012,-18.252 -27.416,-35.47 -43.084,-51.5l34.167,-62.25c-9.583,-9 -19.486,-17.611 -29.708,-25.833l-57.042,42.25c-17.994,-13.292 -36.996,-25.161 -56.833,-35.5l13.208,-69.709c-11.917,-5.555 -24.028,-10.694 -36.333,-15.416l-41.209,57.791c-21.167,-7.055 -42.841,-12.488 -64.833,-16.25l-8.875,-70.416c-13.028,-1.667 -26.153,-2.834 -39.375,-3.5l-21.333,67.666c-22.306,-0.161 -44.593,1.371 -66.667,4.584l-30.25,-64.209c-12.917,2.445 -25.778,5.417 -38.583,8.917l0.625,70.833c-21.195,6.737 -41.839,15.095 -61.75,25l-48.667,-51.583c-11.722,6.417 -23.069,13.208 -34.042,20.375l22.5,67.292c-18.084,12.907 -35.161,27.171 -51.083,42.666l-62.208,-34.166c-9.111,9.666 -17.806,19.639 -26.084,29.916l42.25,57.084c-13.203,17.801 -25.016,36.592 -35.333,56.208l-69.708,-13.208c-5.556,11.944 -10.75,24.125 -15.584,36.541l57.75,41.209c-7.003,21.105 -12.408,42.708 -16.166,64.625l-70.417,8.958c-1.75,13.125 -2.917,26.333 -3.625,39.583l67.75,21.25c-0.204,22.207 1.286,44.396 4.458,66.375l-64.208,30.25c2.417,12.959 5.333,25.875 8.833,38.709l70.834,-0.625c6.779,21.178 15.136,41.82 25,61.75l-51.834,48.625c6.389,11.694 13.153,23.055 20.292,34.083l67.25,-22.5c12.906,18.137 27.169,35.27 42.667,51.25l-34.167,62.25c9.639,9.083 19.569,17.764 29.792,26.042l57.041,-42.209c17.909,13.279 36.812,25.161 56.542,35.542l-13.25,69.833c11.917,5.556 24.028,10.736 36.333,15.542l41.209,-57.75c21.163,7.11 42.837,12.598 64.833,16.417l8.958,70.458c13,1.708 26.125,2.875 39.25,3.583l21.334,-67.625c22.386,0.259 44.758,-1.218 66.916,-4.416l30.292,64.208c12.833,-2.417 25.625,-5.333 38.375,-8.75l-0.625,-70.833c21.377,-6.716 42.203,-15.075 62.292,-25l48.625,51.666c11.611,-6.333 22.875,-13.041 33.791,-20.125l-22.5,-67.375c18.305,-12.995 35.579,-27.385 51.667,-43.041l62.25,34.125c9.028,-9.556 17.625,-19.403 25.792,-29.542l-42.209,-57.167c13.396,-18.054 25.363,-37.126 35.792,-57.041l69.708,13.25c5.556,-11.834 10.681,-23.875 15.375,-36.125l-57.75,-41.125c7.131,-21.299 12.619,-43.113 16.417,-65.25l70.417,-8.959c1.666,-12.944 2.847,-25.972 3.541,-39.083l-67.666,-21.333c0.202,-22.474 -1.33,-44.929 -4.584,-67.167l64.209,-30.292c-2.417,-12.805 -5.348,-25.555 -8.792,-38.25l-70.833,0.625c-6.716,-21.444 -15.074,-42.339 -25,-62.5l51.333,-48.458Zm-470.833,194.125c8.691,-5.21 18.638,-7.963 28.771,-7.963c30.698,-0 55.959,25.26 55.959,55.958c-0,30.698 -25.261,55.958 -55.959,55.958c-19.63,0 -37.878,-10.33 -47.98,-27.161c-5.22,-8.698 -7.978,-18.653 -7.978,-28.797c0,-19.641 10.341,-37.896 27.187,-47.995Zm-174.709,319.875c-85.765,-64.037 -136.382,-165.001 -136.382,-272.036c-0,-90.387 36.096,-177.133 100.216,-240.839c7.565,-7.491 17.791,-11.697 28.437,-11.697c10.81,-0 21.179,4.336 28.771,12.03c2.294,2.301 4.296,4.876 5.958,7.667l79.167,132.292c8.389,14.076 8.501,31.651 0.292,45.833c-19.722,34.714 -19.227,77.501 1.291,111.75c2.344,3.863 4.904,7.591 7.667,11.167c10.074,12.771 12.484,30.042 6.292,45.083l-60.209,142.083c-8.648,20.428 -32.552,30.144 -53,21.542c-3.018,-1.278 -5.872,-2.915 -8.5,-4.875Zm523.667,-161.542c-53.329,154.734 -211.368,249.938 -373.083,224.75c-21.925,-3.476 -37.115,-24.362 -33.667,-46.291c0.531,-3.234 1.44,-6.395 2.708,-9.417l60.167,-142.5c6.375,-14.86 20.268,-25.201 36.333,-27.042c31.635,-3.795 60.136,-21.078 78.125,-47.375c9.208,-13.286 24.9,-20.622 41,-19.166l153.709,13.583c20.866,1.782 37.092,19.453 37.092,40.395c0,1.259 -0.058,2.518 -0.176,3.772c-0.377,3.171 -1.118,6.289 -2.208,9.291Zm14.5,-162.5c0.32,2.058 0.481,4.137 0.481,6.22c-0,19.885 -14.66,36.969 -34.314,39.989c-3.211,0.506 -6.471,0.618 -9.709,0.333l-153.75,-13.625c-16.208,-1.476 -30.418,-11.588 -37.125,-26.417c-1.725,-3.867 -3.687,-7.624 -5.875,-11.25c-20.386,-34.083 -57.627,-54.664 -97.333,-53.791c-16.274,0.465 -31.589,-7.895 -40,-21.834l-79.458,-132.5c-3.782,-6.289 -5.781,-13.49 -5.781,-20.829c0,-17.693 11.619,-33.425 28.531,-38.629c32.149,-9.825 65.581,-14.82 99.199,-14.82c166.488,0 309.625,122.497 335.342,286.987l-0.208,0.166Z"
          style="fill: #8b8b8b; fill-rule: nonzero"
        />
        <path
          d="M1707.21,1380.46c0.347,-10.211 0.153,-20.434 -0.583,-30.625l-58.333,-19.208c-2.987,-17.901 -8.005,-35.403 -14.959,-52.167l39.042,-47.416c-4.776,-8.963 -10.02,-17.67 -15.708,-26.084l-60,12.5c-11.634,-14.072 -24.814,-26.791 -39.292,-37.916l9.292,-55.792l0.75,-4.792c-8.547,-5.342 -17.364,-10.237 -26.417,-14.666l-7.042,6.25l-38.666,34.5c-17.238,-6.47 -35.161,-10.943 -53.417,-13.334l-21.5,-57.458c-9.917,-0.292 -19.917,-0 -30.042,0.583l-19.166,58.334c-18.282,3 -36.152,8.118 -53.25,15.25l-47.084,-39.167c-8.787,4.695 -17.326,9.841 -25.583,15.417l12.5,60.041c-14.35,11.786 -27.271,25.211 -38.5,40l-60.458,-10.083c-5.258,8.459 -10.083,17.178 -14.459,26.125l40.834,45.833c-6.53,17.478 -11.005,35.656 -13.334,54.167l-48.958,18.333l-8.333,3.167l-0,14.5c-0,4.833 0.333,10.25 0.708,15.375l6.125,2.042l52.125,17.208c3.077,18.243 8.25,36.069 15.417,53.125l-38.917,46.917c4.751,8.817 9.953,17.383 15.583,25.666l60.125,-12.5c11.76,14.1 25.082,26.82 39.709,37.917l-10.042,60.417c8.59,5.315 17.449,10.183 26.542,14.583l45.833,-40.833c17.116,6.323 34.898,10.67 53,12.958l21.5,57.375c10.172,0.305 20.353,0.069 30.5,-0.708l19.25,-58.334c17.907,-3.021 35.41,-8.081 52.167,-15.083l43.416,35.792l3.917,3.208c9.006,-4.833 17.754,-10.132 26.208,-15.875l-1.625,-7.917l-10.875,-52.208c13.915,-11.545 26.494,-24.613 37.5,-38.958l60.5,10.083c5.412,-8.7 10.377,-17.67 14.875,-26.875l-40.791,-45.833c6.197,-16.952 10.46,-34.55 12.708,-52.459l57.208,-21.375Zm-310.5,-184.041c17.612,-1.452 35.343,-0.216 52.584,3.666c11.045,2.563 18.929,12.487 18.929,23.826c0,1.868 -0.214,3.73 -0.638,5.549c-0.527,2.213 -1.354,4.344 -2.458,6.334l-19.292,35.291c-6.297,11.28 -18.468,18.069 -31.375,17.5c-3.362,-0.16 -6.731,-0.09 -10.083,0.209c-29.244,2.325 -55.101,20.157 -67.667,46.666c-5.492,11.725 -17.182,19.372 -30.125,19.709l-40.291,0.791c-0.125,0.002 -0.25,0.003 -0.374,0.003c-13.509,0 -24.625,-11.116 -24.625,-24.625c-0,-2.197 0.294,-4.384 0.874,-6.503c19.313,-70.893 81.31,-122.41 154.541,-128.416Zm47.875,196.083c-6.635,10.322 -17.66,17.041 -29.875,18.208l-0.5,0c-16.23,1.33 -31.724,-7.368 -39.041,-21.916c-2.334,-4.585 -3.749,-9.581 -4.167,-14.709l-0,-2.708c-0.128,-6.077 1.171,-12.099 3.792,-17.583c6.07,-12.959 18.654,-21.705 32.916,-22.875l5.084,-0c21.243,0.927 38.215,18.657 38.215,39.92c-0,7.684 -2.216,15.207 -6.382,21.663l-0.042,0Zm-19.583,152.833c-81.393,6.652 -157.147,-44.512 -181.375,-122.5c-0.739,-2.365 -1.115,-4.83 -1.115,-7.308c-0,-10.705 7.016,-20.228 17.24,-23.4c2.21,-0.707 4.513,-1.086 6.833,-1.125l40.125,-0.792c13.019,-0.165 25.052,7.106 30.959,18.709c15.283,29.339 46.821,46.746 79.791,44.041c12.947,-1.207 25.509,5.058 32.334,16.125l20.833,34.375c2.325,3.836 3.555,8.237 3.555,12.722c-0,8.6 -4.52,16.595 -11.888,21.028c-2.021,1.23 -4.211,2.156 -6.5,2.75c-10.083,2.707 -20.388,4.506 -30.792,5.375Zm75.792,-60.125l-20.834,-34.333c-6.689,-11.114 -6.494,-25.117 0.5,-36.042c17.711,-28.019 16.837,-64.12 -2.208,-91.25c-7.413,-10.567 -8.159,-24.493 -1.917,-35.791l19.375,-35.167c6.524,-11.757 21.532,-16.11 33.334,-9.667c1.973,1.156 3.793,2.556 5.416,4.167c65.867,65.821 68.255,173.277 5.375,241.958c-4.644,5.039 -11.192,7.908 -18.044,7.908c-8.522,0 -16.455,-4.438 -20.914,-11.699l-0.083,-0.084Z"
          style="fill: #fc7f00; fill-rule: nonzero"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    serviceMode: {
      type: Boolean,
    },
  },
}
</script>
