<template>
  <div
    id="Tabs"
    class="grid subgrid-row subgrid-col row-span-32 col-span-24 bg-infowindow shadow rounded-lg"
  >
    <nav
      class="relative z-0 rounded-lg shadow flex divide-x divide-gray-200 col-span-full row-span-4"
      aria-label="Tabs"
    >
      <a
        v-bind:class="{ 'bg-infowindow': tabs[i].active }"
        @click="changeTab(i)"
        v-for="(tab, i) in tabs"
        :key="i"
        class="flex items-center justify-center text-white group relative min-w-0 flex-1 overflow-hidden bg-infolist py-1 px-1 text-sm font-semibold text-center hover:bg-gray-500 focus:z-10"
      >
        <p>{{ tab.text }}</p>
        <span
          v-if="tabs[i].active"
          class="bg-highlight absolute inset-x-0 bottom-0 h-0.5"
        ></span>
      </a>
    </nav>
    <div
      v-if="tabs[0].active"
      :class="`grid subgrid-row subgrid-col row-start-2 row-span-28 col-span-24 rounded-lg ${backgroundColor}`"
    >
      <BaseEditOpcNumberButtons
        opckey="Pattern_Edit.pour_time"
        nameRef="PourTime"
        :showPlusMinus="true"
        :columnSize="8"
        :rowSize="7"
      />
      <BaseEditOpcNumberButtons
        opckey="Pattern_Edit.rod_offset"
        nameRef="RodOffset"
        :showPlusMinus="true"
        :columnSize="8"
        :rowSize="7"
      />
      <BaseEditOpcNumberButtons
        opckey="Pattern_Edit.sensitivity"
        nameRef="Sensitivity"
        :showPlusMinus="true"
        :columnSize="8"
        :rowSize="7"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.number_of_levels"
        nameRef="NbrOfLevels"
        :columnSize="8"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.time_ramp"
        nameRef="TR1"
        :columnSize="8"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.time_ramp"
        nameRef="TR2"
        :columnSize="8"
        v-if="numberOfLevels > 1"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.time_ramp"
        nameRef="TR3"
        :columnSize="8"
        v-if="numberOfLevels > 2"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.time_L1"
        nameRef="TL1"
        :columnSize="8"
        v-if="numberOfLevels > 1"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.time_L1_L2"
        nameRef="TL1L2"
        :columnSize="8"
        v-if="numberOfLevels > 1"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.time_L2"
        nameRef="TL2"
        :columnSize="8"
        v-if="numberOfLevels > 2"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.time_L2_L3"
        nameRef="TL2L3"
        :columnSize="8"
        v-if="numberOfLevels > 2"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.time_boost"
        nameRef="TimeBoost"
        :columnSize="8"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.ext_pour_offset"
        nameRef="ExternalOffset"
        :columnSize="8"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.boost_offset"
        nameRef="BoostOffset"
        :columnSize="8"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.min_fin_lev"
        nameRef="MinFinalLevel"
        :columnSize="8"
      />
    </div>
    <div
      id="easypour"
      v-if="tabs[1].active"
      :class="`grid subgrid-row subgrid-col row-start-2 row-span-28 col-span-24 rounded-lg ${backgroundColor}`"
    >
      <BaseString
        id="epStatus"
        :value="easypourStates"
        :columnSize="8"
        nameRef="blank"
      />
      <!-- <div class="row mt-2">
            <progress
              class="progress is-link"
              :value="easypourInit"
              max="100"
            />
          </div> -->
      <BaseEditOpcNumber
        opckey="Pattern_Edit.rod_offset"
        nameRef="RodOffset"
        :columnSize="8"
      >
        <!-- <template v-slot:top
              ><progress
                class="progress is-success"
                :value="rodOffsetRate"
                max="3"
                style="margin-bottom: 0.6vh"
            /></template>
            <template v-slot:bottom
              ><progress
                class="progress is-success"
                :value="rodOffsetRate * -1"
                max="3"
            /></template> -->
      </BaseEditOpcNumber>
      <BaseEditOpcNumber
        opckey="Pattern_Edit.level_2"
        nameRef="L2"
        :columnSize="8"
      >
        <!-- <template v-slot:top
              ><progress
                class="progress is-success"
                :value="level2Rate"
                max="3"
                style="margin-bottom: 0.6vh"
            /></template>
            <template v-slot:bottom
              ><progress
                class="progress is-success"
                :value="level2Rate * -1"
                max="3"
            /></template> -->
      </BaseEditOpcNumber>
      <BaseEditOpcNumber
        opckey="Pattern_Edit.pour_time"
        nameRef="TT"
        :columnSize="8"
      >
        <!-- <template v-slot:top
              ><progress
                class="progress is-success"
                :value="1"
                max="3"
                style="margin-bottom: 0.6vh"
            /></template>
            <template v-slot:bottom
              ><progress class="progress is-success" :value="0 * -1" max="3"
            /></template> -->
      </BaseEditOpcNumber>
      <BaseButtonOpc
        nameRef="Full"
        opckey="HMI_End_pour_with_full_cup_PB"
        buttonSize="fullwidth"
      />
      <BaseButtonOpc
        nameRef="Drained"
        opckey="HMI_End_pour_with_drained_cup_PB"
        buttonSize="fullwidth"
      />

      <BaseButtonOpc nameRef="Start" opckey="EASYPOUR_Start">
        <font-awesome-icon icon="play" />
      </BaseButtonOpc>
      <BaseButtonOpc nameRef="Stop" opckey="EASYPOUR_Stop">
        <font-awesome-icon icon="stop" />
      </BaseButtonOpc>
      <BaseButtonOpc nameRef="Good" opckey="xx" buttonStyle="green">
        <font-awesome-icon icon="thumbs-up" />
      </BaseButtonOpc>
      <BaseButtonOpc nameRef="Bad" opckey="xx" buttonStyle="red">
        <font-awesome-icon icon="thumbs-down" />
      </BaseButtonOpc>
    </div>
    <div
      id="pour2"
      v-if="tabs[2].active"
      :class="`grid subgrid-row subgrid-col row-start-2 row-span-28 col-span-24 rounded-lg ${backgroundColor}`"
    >
      <BaseEditOpcNumber
        opckey="Pattern_Edit.pre_start_pour"
        nameRef="PreStartPourSeconds"
        :columnSize="8"
      />
      <switchButtonOpc
        opckey="Pattern_Edit.Extend_Pouring_Enable"
        nameRef="ExtendPouring"
        :columnSize="8"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.terminate_rod_position"
        nameRef="TerminateRodPosition"
        :columnSize="8"
      />
      <switchButtonOpc
        opckey="Pattern_Edit.terminate_pour_enable"
        nameRef="TerminatePour"
        :columnSize="8"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.Rod_offset_ratio"
        nameRef="RodOffsetRatio"
        :columnSize="8"
      />
      <switchButtonOpc
        opckey="Pattern_Edit.Fill_up_Enabled"
        nameRef="FillUpEnabled"
        :columnSize="8"
      />
      <BaseEditOpcString
        opckey="Pattern_Edit.instruction"
        id="patternInstructions"
        nameRef="PatternInstructions"
        :columnSize="24"
        :rowSize="12"
        height="h-full"
      />
    </div>
    <div
      id="inoc"
      v-if="tabs[3].active"
      :class="`grid subgrid-row subgrid-col row-start-2 row-span-28 col-span-24 rounded-lg ${backgroundColor}`"
    >
      <BaseEditOpcNumber
        opckey="Pattern_Edit.inoc_rate"
        nameRef="InoculationRateGramsPerSecond"
        :columnSize="4"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.use_filter"
        nameRef="InocRateWireMMPerSecond"
        :columnSize="4"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.nom_mold_weight"
        nameRef="MoldWeightKilogram"
        :columnSize="4"
      />
      <modalSelector
        :selections="inoculationModes"
        class="row-start-5"
        opckey="INOC_Adjustment_Mode"
        nameRef="InoculationModes"
        :showModal="showModal"
        @toggle-modal="toggleModal"
      ></modalSelector>
    </div>
    <div
      id="positioning"
      v-if="tabs[4].active"
      :class="`grid subgrid-row subgrid-col row-start-2 row-span-28 col-span-24 rounded-lg ${backgroundColor}`"
    >
      <BaseEditOpcNumber
        opckey="Pattern_Edit.lt_position_offset"
        nameRef="LTPositionOffset"
        :columnSize="8"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.ByPass_Nth_mold"
        nameRef="BypassNthMold"
        :columnSize="8"
      />
      <BaseEditOpcNumber
        opckey="Pattern_Edit.PP_Thickness"
        nameRef="PPThickness"
        :columnSize="8"
      />
    </div>
    <div
      v-if="tabs[5].active"
      :class="`grid subgrid-row subgrid-col row-start-2 row-span-28 col-span-24 rounded-lg ${backgroundColor}`"
    ></div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import switchButtonOpc from '../components/base/BaseSwitchButtonOpc.vue'
import modalSelector from '../components/ModalSelector.vue'

export default {
  components: {
    switchButtonOpc,
    modalSelector,
  },
  data() {
    return {
      tabs: [
        {
          active: true,
          text: 'Pour',
        },
        {
          active: false,
          text: 'Easypour',
        },
        {
          active: false,
          text: 'Pour 2',
        },
        {
          active: false,
          text: 'Inoc',
        },
        {
          active: false,
          text: 'Positioning',
        },
        {
          active: false,
          text: 'Rodcurve',
        },
      ],
      showModal: false,
    }
  },
  methods: {
    changeTab(tab) {
      this.resetTabs()
      this.tabs[tab].active = true
    },
    resetTabs() {
      for (const tab of this.tabs) {
        tab.active = false
      }
    },
    toggleModal() {
      this.showModal = !this.showModal
    },
  },
  computed: {
    editMode() {
      return this.$store.getters.opc('HMI_Pattern_edit_mode').value
    },
    backgroundColor() {
      return this.editMode ? 'bg-highlight' : 'bg-infowindow'
    },
    ...mapState(['inoculationModes']),
    numberOfLevels() {
      return this.$store.getters.opc('Pattern_Edit.number_of_levels').value
    },
    easypourStates() {
      const states = [
        'LEARNING',
        'READY',
        'OPTIMIZING',
        'EASYPOUR',
        'ERROR/RESET',
        'UNKNOWN',
      ]
      return states[this.$store.getters.opc('EASYPOUR_Status').value]
    },
    easypourInit() {
      return this.$store.getters.opc('EASYPOUR_initializing_slider').value
    },
    minFinLev() {
      return this.$store.getters
        .opc('Pattern_Edit.min_fin_lev')
        .value.toString()
    },
    rodOffsetRate() {
      return this.$store.getters.opc('HMI_RodOffset_change_rate').value
    },
    level2Rate() {
      return this.$store.getters.opc('HMI_TT_change_rate').value
    },
  },
}
</script>
