<template>
  <div :class="`col-span-${size + 4} row-span-${size} h-full w-full`">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 1278 530"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve"
      xmlns:serif="http://www.serif.com/"
      style="
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 1.5;
      "
    >
      <defs>
        <linearGradient id="grad1" x1="0.5" y1="1" x2="0.5" y2="0">
          <stop
            offset="0%"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 1"
          />
          <stop
            :offset="fillPercentMain"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 1"
          />
          <stop
            :offset="fillPercentMain"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 0"
          />
          <stop
            offset="100%"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 0"
          />
        </linearGradient>
        <linearGradient id="grad2" x1="0.5" y1="1" x2="0.5" y2="0">
          <stop
            offset="0%"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 1"
          />
          <stop
            :offset="fillPercentNozzle"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 1"
          />
          <stop
            :offset="fillPercentNozzle"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 0"
          />
          <stop
            offset="100%"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 0"
          />
        </linearGradient>
        <linearGradient id="pour" x1="0.5" y1="0" x2="0.5" y2="1">
          <stop offset="0" :stop-color="color1">
            <animate
              id="ani-pour1"
              begin="indefinite"
              dur="0.7s"
              attributeName="offset"
              fill="freeze"
              from="0"
              to="1"
            />
          </stop>
          <stop offset="0" :stop-color="color2">
            <animate
              id="ani-pour2"
              begin="indefinite"
              dur="0.7s"
              attributeName="offset"
              fill="freeze"
              from="0"
              to="1"
            />
          </stop>
        </linearGradient>
      </defs>
      <g id="Ladel">
        <path
          id="ladle_outline"
          d="M62.575,436.561l-4.583,3.181l23.464,33.383c2.016,2.999 5.192,4.483 9.154,4.711l25.599,-0.036l0.02,17.654l41.811,-0.03l-0.017,-17.632l48.858,-0.012l-0.018,-5.567l-38.348,-0.003l-0.001,-5.571l837.459,-0.002l270.405,-270.425l-0.006,-69.032l-421.304,-0.005l-0.026,-5.57l410.157,0l-0,-4.65l-2.325,0l-0,-46.5l-4.65,0l-0,-4.65l-492.901,0l-0,13.95l9.3,37.2l0.026,4.616l49.729,0.034l-0,5.58l-590.771,0l-0,-5.115c-0.051,-0.616 0.568,-1.423 1.395,-1.395l3.487,0l0.93,0.93l520.801,0l0,-55.8l-104.625,0l0,-41.85l4.65,-0l0,-4.65l-4.65,-0l0,-18.368l-23.25,0l0,18.368l-172.05,-0l-0,4.65l17.298,-0l-0,41.85l-66.123,0l-0,-23.25l-93,0l-0,23.25l-79.051,0l-0.93,-2.325l-229.242,0l0,4.65l-4.617,0l0,46.5l-2.357,0l-0,4.65l117.179,-0.016l91.159,0.016l-0.022,1.395l3.597,0c0.796,0.129 1.257,0.564 1.286,1.395l-0,5.115l-206.228,0l-0,223.201l81.382,116.244l15.106,0.008l-0,5.578l-15.232,-0c-1.761,0.019 -3.674,-0.841 -4.79,-2.743l-23.135,-32.912Z"
          style="fill: #aeaeae; stroke: #000; stroke-width: 1.87px"
        />
        <!-- <path
          id="iron_main"
          d="M97.767,396.888l132.724,0.171l781.411,-54.847l158.931,-159.066l-1088,-0.13l14.935,213.872Z"
          style="url(#grad2); stroke: #000; stroke-width: 1.67px"
        /> -->
        <path
          id="iron_main"
          d="M97.767,396.888l132.724,0.171l781.411,-54.847l158.931,-159.066l-1088,-0.13l14.935,213.872Z"
          style="fill: url(#grad2); stroke: #000; stroke-width: 1.87px"
        />
        <path
          id="iron_outlet"
          d="M110.448,396.904l7.641,5.516c5.399,1.574 7.197,5.738 7.627,9.582l-0.02,83.461l-0.083,33.701l23.084,-0.204l-0.032,-117.245c0.53,-4.714 3.326,-8.313 7.178,-9.425l7.886,-5.622"
          style="fill: url(#pour); stroke: #000"
        />
        <path
          id="Stopper"
          d="M119.599,383.527l0.019,-347.092l35.834,-0.016l-0.251,347.172c-0.721,21.505 -7.474,34.046 -17.994,34.71c-9.987,0.631 -17.382,-12.271 -17.608,-34.774Z"
          v-bind:style="stopperStyle"
        />
        <g id="static_layer">
          <g id="g1017">
            <path
              id="path271"
              d="M278.945,359.686l5.301,-176.701"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path273"
              d="M246.394,359.686l32.551,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path275"
              d="M241.093,182.985l5.301,176.701"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path299"
              d="M174.29,466.636c-0.801,-24.001 -1.577,-47.251 -2.327,-69.75"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path303"
              d="M181.173,461.986l0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path305"
              d="M299.87,461.986l-118.697,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path307"
              d="M323.12,438.736l-23.25,23.25"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path309"
              d="M994.413,438.736l-671.293,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path311"
              d="M1211.14,222.01l-216.727,216.726"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path313"
              d="M1244.02,222.01l-32.88,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path315"
              d="M1271.72,194.308l-27.702,27.702"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path317"
              d="M1271.72,127.185l-0,67.123"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path323"
              d="M93.065,466.636l0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path327"
              d="M102.276,396.886c-0.751,22.499 -1.527,45.749 -2.327,69.75"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path331"
              d="M79.013,127.185c7.385,107.041 13.588,196.941 18.609,269.701"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path335"
              d="M13.903,348.92l-0,-221.735"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path337"
              d="M93.065,461.986c-13.904,-19.852 -40.292,-57.541 -79.162,-113.066"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path345"
              d="M975.59,182.985l49.02,-55.8"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path351"
              d="M285.92,127.185l-1.674,55.8"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path353"
              d="M241.093,182.985l-1.674,-55.8"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path369"
              d="M299.87,461.986l23.25,-23.25"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path371"
              d="M1004.04,461.986l-704.174,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path373"
              d="M1244.02,222.01l-239.976,239.976"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path375"
              d="M1211.14,222.01l32.88,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path377"
              d="M994.413,438.736l216.727,-216.726"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path379"
              d="M323.12,438.736l671.293,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path381"
              d="M93.065,461.986l0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path383"
              d="M13.903,348.92c38.87,55.525 65.258,93.214 79.162,113.066"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path385"
              d="M13.903,127.185l-0,221.735"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path395"
              d="M181.173,466.636l0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path405"
              d="M1271.72,194.308l-0,-67.123"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path407"
              d="M1004.04,461.986l267.678,-267.678"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path409"
              d="M181.173,461.986l822.871,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path421"
              d="M274.297,359.686l-23.25,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path423"
              d="M281.272,127.185l-6.975,232.501"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path427"
              d="M251.047,359.686l-6.975,-232.501"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path435"
              d="M1258.22,70.455l-492.901,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path437"
              d="M1234.97,116.955l30.225,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path439"
              d="M1234.97,121.605l-0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path445"
              d="M1258.22,116.955l-0,-46.5"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path447"
              d="M1262.87,116.955l-4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path453"
              d="M1011.77,70.455l0,13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path455"
              d="M1007.12,70.455l4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path457"
              d="M1007.12,84.405l0,-13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path459"
              d="M1011.77,84.405l-4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path461"
              d="M807.173,70.455l-0,13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path463"
              d="M802.523,70.455l4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path465"
              d="M802.523,84.405l-0,-13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path467"
              d="M807.173,84.405l-4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path469"
              d="M1190.88,93.48l15.351,15.35"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path471"
              d="M1190.33,92.164c0,0.494 0.197,0.967 0.545,1.316"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path473"
              d="M1190.33,70.455l0,21.709"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path475"
              d="M1188.47,70.455l1.86,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path477"
              d="M1188.47,92.164l0,-21.709"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path479"
              d="M1188.47,92.164c0.001,0.987 0.393,1.933 1.09,2.631"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path481"
              d="M1204.91,110.146l-15.351,-15.351"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path483"
              d="M1206.23,108.83l-1.315,1.316"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path485"
              d="M788.573,89.055l-0,-13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path487"
              d="M1239.62,89.055l-451.051,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path489"
              d="M1239.62,116.955l-0,-27.9"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path491"
              d="M1253.57,116.955l-13.95,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path493"
              d="M1253.57,75.105l-0,41.85"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path495"
              d="M788.573,75.105l465.001,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path497"
              d="M1253.57,116.955l-0,-41.85"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path499"
              d="M1258.22,116.955l-4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path501"
              d="M1258.22,70.455l-0,46.5"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path503"
              d="M788.573,70.455l469.651,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path505"
              d="M788.573,75.105l-0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path507"
              d="M1253.57,75.105l-465.001,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path509"
              d="M788.573,70.455l-0,18.6"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path511"
              d="M765.323,70.455l23.25,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path519"
              d="M1234.97,121.605l-460.351,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path521"
              d="M1234.97,116.955l-0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path523"
              d="M1239.62,116.955l-4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path525"
              d="M1239.62,89.055l-0,27.9"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path527"
              d="M788.573,89.055l451.051,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path529"
              d="M137.119,68.13l101.37,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path531"
              d="M102.276,68.13l34.843,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path539"
              d="M210.589,120.675l27.9,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path553"
              d="M137.119,119.28l101.37,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path555"
              d="M102.276,119.28l34.843,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path559"
              d="M137.119,68.13l101.37,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path561"
              d="M238.489,68.13l0,51.15"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path567"
              d="M102.276,68.13l-93.023,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path569"
              d="M102.276,63.48l-0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path577"
              d="M9.313,114.63l-4.683,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path579"
              d="M9.313,68.13l0,46.5"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path583"
              d="M2.273,114.63l18.605,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path589"
              d="M20.878,114.63l0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path591"
              d="M9.253,68.13l93.023,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path593"
              d="M9.253,114.63l-0,-46.5"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path595"
              d="M20.878,114.63l-11.625,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path597"
              d="M20.878,119.28l0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path601"
              d="M102.276,68.13l-0,51.15"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path607"
              d="M640.469,65.805l119.751,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path609"
              d="M640.469,70.455l0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path611"
              d="M760.22,70.455l-119.751,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path615"
              d="M239.419,65.805l240.652,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path617"
              d="M239.419,70.455l0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path619"
              d="M480.071,70.455l-240.652,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path621"
              d="M480.071,65.805l0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path623"
              d="M640.469,70.455l-160.398,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path643"
              d="M639.213,65.805l0,-41.85"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path645"
              d="M642.934,65.805l-3.721,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path647"
              d="M642.934,23.955l-0,41.85"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path649"
              d="M639.213,23.955l3.721,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path651"
              d="M481.327,23.955l-0,41.85"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path653"
              d="M477.606,23.955l3.721,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path657"
              d="M481.327,65.805l-3.721,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path659"
              d="M481.327,23.955l157.886,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path661"
              d="M639.213,65.805l-157.886,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path663"
              d="M642.947,23.955l0,41.85"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path667"
              d="M478.908,19.305l0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path671"
              d="M469.107,23.955l-0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path675"
              d="M641.632,23.955l-0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path677"
              d="M651.433,23.955l-9.801,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path679"
              d="M651.433,19.305l0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path681"
              d="M641.632,19.305l9.801,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path683"
              d="M463.573,19.305l-0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path691"
              d="M656.967,23.955l0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path707"
              d="M656.967,23.955l-5.534,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path711"
              d="M651.433,19.305l5.534,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path715"
              d="M478.908,19.305l162.724,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path721"
              d="M398.45,47.205c-0,-1.785 -1.47,-3.255 -3.255,-3.255c-1.786,0 -3.255,1.47 -3.255,3.255c-0,1.786 1.469,3.255 3.255,3.255c1.785,0 3.255,-1.469 3.255,-3.255Z"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path723"
              d="M342.65,47.205c-0,-1.785 -1.47,-3.255 -3.255,-3.255c-1.786,0 -3.255,1.47 -3.255,3.255c-0,1.786 1.469,3.255 3.255,3.255c1.785,0 3.255,-1.469 3.255,-3.255Z"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path745"
              d="M732.32,70.455l0,13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path747"
              d="M727.67,70.455l4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path749"
              d="M727.67,84.405l0,-13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path751"
              d="M732.32,84.405l-4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path753"
              d="M271.97,70.455l-0,13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path755"
              d="M267.32,70.455l4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path757"
              d="M267.32,84.405l-0,-13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path759"
              d="M271.97,84.405l-4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path761"
              d="M430.239,84.405l-0,-13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path763"
              d="M434.889,84.405l-4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path765"
              d="M434.889,70.455l-0,13.95"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path767"
              d="M430.239,70.455l4.65,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path769"
              d="M398.233,93.48l15.351,15.35"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path771"
              d="M397.689,92.164c-0,0.494 0.196,0.967 0.544,1.316"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path773"
              d="M397.689,70.455l-0,21.709"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path775"
              d="M395.829,70.455l1.86,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path777"
              d="M395.829,92.164l-0,-21.709"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path779"
              d="M395.829,92.164c-0,0.987 0.392,1.933 1.089,2.631"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path781"
              d="M412.269,110.146l-15.351,-15.351"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path783"
              d="M413.584,108.83l-1.315,1.316"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path785"
              d="M705.288,93.48l15.351,15.35"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path787"
              d="M704.743,92.164c0,0.494 0.196,0.967 0.545,1.316"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path789"
              d="M704.743,70.455l0,21.709"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path791"
              d="M702.883,70.455l1.86,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path793"
              d="M702.883,92.164l0,-21.709"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path795"
              d="M702.883,92.164c0,0.987 0.392,1.933 1.09,2.631"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path797"
              d="M719.323,110.146l-15.35,-15.351"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path799"
              d="M720.639,108.83l-1.316,1.316"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path801"
              d="M723.02,70.455l0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path803"
              d="M677.673,70.455l45.347,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path805"
              d="M677.673,75.105l0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path807"
              d="M723.02,75.105l-45.347,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path809"
              d="M276.62,75.105l-0,-4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path811"
              d="M442.867,75.105l-166.247,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path813"
              d="M442.867,70.455l-0,4.65"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path815"
              d="M276.62,70.455l166.247,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path817"
              d="M723.02,75.105l0,23.25"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path819"
              d="M677.673,75.105l45.347,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path821"
              d="M677.673,98.355l0,-23.25"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path823"
              d="M723.02,98.355l-45.347,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path825"
              d="M276.62,98.355l-0,-23.25"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path827"
              d="M442.867,98.355l-166.247,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path829"
              d="M442.867,75.105l-0,23.25"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path831"
              d="M276.62,75.105l166.247,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path833"
              d="M480.071,70.455l0,46.5"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path835"
              d="M442.867,70.455l37.204,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path837"
              d="M442.867,98.355l-0,-27.9"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path839"
              d="M276.62,98.355l166.247,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path841"
              d="M276.62,70.455l-0,27.9"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path843"
              d="M239.419,70.455l37.201,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path845"
              d="M239.419,116.955l0,-46.5"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path847"
              d="M480.071,116.955l-240.652,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path849"
              d="M640.469,116.955l0,-46.5"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path851"
              d="M760.22,116.955l-119.751,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path855"
              d="M723.02,70.455l37.2,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path857"
              d="M723.02,98.355l0,-27.9"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path859"
              d="M677.673,98.355l45.347,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path861"
              d="M677.673,70.455l0,27.9"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path863"
              d="M640.469,70.455l37.204,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path865"
              d="M640.469,116.955l-160.398,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path867"
              d="M480.071,70.455l160.398,0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path871"
              d="M68.136,444.425l-4.571,3.2"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path893"
              d="M72.744,460.734l4.571,-3.2"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path901"
              d="M181.439,472.216l-0,5.58"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path923"
              d="M204.544,472.216l0,5.58"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path929"
              d="M162.194,472.216c-0.187,-0 -0.392,0.031 -0.592,0.059c-0.2,0.041 -0.395,0.1 -0.568,0.172c-0.172,0.072 -0.354,0.166 -0.524,0.278c-0.169,0.113 -0.326,0.244 -0.459,0.377c-0.131,0.131 -0.263,0.287 -0.376,0.457c-0.071,0.107 -0.135,0.216 -0.19,0.327"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path931"
              d="M168.472,472.216l-6.278,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path941"
              d="M148.649,495.466l0,-83.7"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path947"
              d="M158.312,476.228c-0.033,0.065 -0.063,0.131 -0.09,0.197c-0.072,0.172 -0.133,0.367 -0.172,0.566c-0.04,0.2 -0.058,0.403 -0.058,0.59"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path949"
              d="M159.485,473.887c-0.402,0.801 -0.793,1.581 -1.173,2.341"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path951"
              d="M114.754,473.887c-0.056,-0.11 -0.12,-0.222 -0.191,-0.327c-0.113,-0.169 -0.244,-0.326 -0.376,-0.458c-0.132,-0.131 -0.29,-0.262 -0.459,-0.376c-0.169,-0.113 -0.351,-0.209 -0.524,-0.278c-0.172,-0.072 -0.368,-0.131 -0.568,-0.172c-0.2,-0.041 -0.404,-0.059 -0.591,-0.059"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path953"
              d="M115.927,476.228c-0.381,-0.76 -0.772,-1.54 -1.173,-2.341"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path955"
              d="M116.247,477.58c-0,-0.188 -0.019,-0.39 -0.058,-0.59c-0.04,-0.2 -0.101,-0.394 -0.173,-0.566c-0.028,-0.066 -0.056,-0.132 -0.089,-0.197"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path961"
              d="M125.589,411.766l0,83.7"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path971"
              d="M112.045,472.216l-6.278,-0"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path1013"
              d="M165.219,397.059l3.355,69.577"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
            <path
              id="path1015"
              d="M110.423,397.059l-4.691,69.577"
              style="
                fill: none;
                fill-rule: nonzero;
                stroke: #000;
                stroke-width: 1.1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
              "
            />
          </g>
        </g>
      </g>
    </svg>
    <furnaceSvgDemo
      :id="id"
      @nozzle-level="setDemoValueNozzle"
      @main-level="setDemoValueMain"
      @stopper-level="setDemoValueStopper"
    />
  </div>
</template>
<script>
import furnaceSvgDemo from '../../test/FurnaceSvgDemo.vue'
import { v4 as uuidv4 } from 'uuid'

export default {
  props: {
    id: {
      type: String,
      default: uuidv4(),
    },
    opckey_main: {
      type: String,
      default: 'FURPOW_Furnace_Inductor_Power',
    },
    opckey_nozzle: {
      type: String,
      default: 'FURPOW_Furnace_Inductor_Power',
    },
    maxMain: {
      type: Number,
      default: 10000,
    },
    maxNozzle: {
      type: Number,
      default: 1000,
    },
    size: {
      type: Number,
      default: 16,
    },
  },
  data() {
    return {
      demoValueNozzle: 0,
      demoValueMain: 0,
      demoValueStopper: 0,
      stopperDown: true,
      pouring: false,
      color1: 'rgb(223, 154, 0)',
      color2: 'transparent',
    }
  },
  computed: {
    mainValue() {
      return this.demoValueMain
    },
    nozzleValue() {
      return this.demoValueNozzle
    },
    fillPercentMain() {
      const procentFill = (this.mainValue / this.maxMain) * 100
      return `${procentFill}%`
    },
    fillPercentNozzle() {
      const procentFill = (this.nozzleValue / this.maxNozzle) * 100
      return `${procentFill}%`
    },
    stopperStyle() {
      return `fill: rgb(220,219,217); stroke: #000; stroke-width: 1.25px; transform: translate(0px, -${this.demoValueStopper}vh);`
    },
  },
  methods: {
    setDemoValueNozzle(value) {
      this.demoValueNozzle = value
    },
    setDemoValueMain(value) {
      this.demoValueMain = value
    },
    setDemoValueStopper(value) {
      this.demoValueStopper = value
    },
    animatePouring() {
      document.getElementById('ani-pour1').beginElement()
      document.getElementById('ani-pour2').beginElement()
    },
  },
  watch: {
    demoValueNozzle(newValue, oldValue) {
      if (newValue <= 0 && this.demoValueStopper > 0) {
        this.pouring = false
      }
      if (newValue > 0 && oldValue <= 0 && this.demoValueStopper > 0) {
        this.pouring = true
      }
    },
    demoValueStopper(newValue, oldValue) {
      if (newValue > 0 && oldValue <= 0) {
        this.stopperDown = false
      }
      if (newValue <= 0 && oldValue > 0) {
        this.stopperDown = true
      }
    },
    stopperDown(newValue, oldValue) {
      if (newValue && !oldValue) {
        this.pouring = false
      }
      if (!newValue && oldValue && this.demoValueNozzle > 0) {
        this.pouring = true
      }
    },
    pouring(newValue, oldValue) {
      // open
      if (newValue) {
        this.color1 = 'rgb(223, 154, 0)'
        this.color2 = 'transparent'
      }
      // close
      if (!newValue) {
        this.color1 = 'transparent'
        this.color2 = 'rgb(223, 154, 0)'
      }
      this.animatePouring()
    },
  },
  components: {
    furnaceSvgDemo,
  },
}
</script>

<style scoped></style>
