<template>
  <div :class="id">
    <BaseButton id="button" @buttonpressed="toggle" nameRef="Start" />
  </div>
</template>

<script>
let nozzleInterval
let mainInterval
let stopperInterval

let nozzleCeiling = 1000
let nozzleFloor = 0
let nozzleStep = 3
let nozzlePaused = false

let mainCeiling = 10000
let mainFloor = 0
let mainStep = 50

let stopperCeiling = 12.0
let stopperFloor = 0.0
let stopperStep = 0.3
let stopperPaused = false

export default {
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      runDemo: false,
      levelNozzle: 0,
      levelMain: 0,
      stopperPosition: 0.0,
    }
  },
  methods: {
    nozzle() {
      if (!nozzlePaused) {
        this.levelNozzle += nozzleStep
        this.$emit('nozzle-level', this.levelNozzle)
        if (
          this.levelNozzle >= nozzleCeiling ||
          this.levelNozzle <= nozzleFloor
        ) {
          if (this.levelNozzle <= nozzleFloor) {
            nozzlePaused = true
            setTimeout(() => {
              nozzlePaused = false
            }, 1000)
          }
          nozzleStep = -nozzleStep
        }
      }
    },
    main() {
      this.levelMain += mainStep
      this.$emit('main-level', this.levelMain)
      if (this.levelMain >= mainCeiling || this.levelMain <= mainFloor) {
        mainStep = -mainStep
      }
    },
    stopper() {
      if (!stopperPaused) {
        this.stopperPosition += stopperStep
        this.$emit('stopper-level', this.stopperPosition)
        if (
          this.stopperPosition >= stopperCeiling ||
          this.stopperPosition <= stopperFloor
        ) {
          if (this.stopperPosition <= stopperFloor) {
            stopperPaused = true
            setTimeout(() => {
              stopperPaused = false
            }, 1500)
          }
          stopperStep = -stopperStep
        }
      }
    },
    toggle() {
      console.log('rundemo')
      this.runDemo = !this.runDemo
    },
  },
  watch: {
    runDemo(newValue, oldValue) {
      if (newValue) {
        nozzleInterval = setInterval(this.nozzle, 5)
        mainInterval = setInterval(this.main, 20)
        stopperInterval = setInterval(this.stopper, 30)
      }
      if (oldValue && !newValue) {
        clearInterval(nozzleInterval)
        clearInterval(mainInterval)
        clearInterval(stopperInterval)
      }
    },
  },
}
</script>
