<template>
  <div class="keyboard-grid">
    <div v-bind:class="insertedClass" v-show="showKeyboard">
      <p class="sub-title text-lg font-semibold">
        Values <br />
        Old: {{ originalValue }} <br />
        New: {{ inputValue }} <br />
        {{ message }}
      </p>
    </div>
    <div
      :id="keyboardType"
      v-show="showKeyboard"
      :class="keyboardClassStyle"
      @onKeyPress="onKeyPress"
    ></div>
  </div>
</template>

<script>
import Keyboard from 'simple-keyboard'

export default {
  name: 'SimpleKeyboard',
  props: {
    initValue: {
      type: [String, Number],
    },
    keyboardClass: {
      type: String,
      default: 'keyboard-simple',
    },
    showKeyboard: {
      type: Boolean,
      default: false,
    },
    keyboardType: {
      type: String,
      default: 'string',
    },
    setInit: {
      type: Boolean,
      default: false,
    },
    enterDisabled: {
      type: Boolean,
      default: false,
    },
    doneButtonText: {
      type: String,
      default: 'Save',
    },
  },
  data() {
    return {
      keyboard: null,
      originalValue: null,
      message: '',
      inputValue: '',
      eventFunction: (event) => {
        if (
          (!event.target.classList.contains('hg-button') &&
            event.target !== document.getElementById(this.keyboardClass) &&
            event.target.id !== this.keyboardClass &&
            event.target !== this.keyboard.keyboardDOM &&
            !event.target.classList.contains('hg-row')) ||
          event.target === document.getElementById('cancel')
        ) {
          this.$emit('input', this.originalValue)
          this.hideKeyboard()
        }
      },
    }
  },
  methods: {
    onKeyPress(button) {
      this.$emit('onKeyPress', button)
      if (button === '{enter}' && !this.enterDisabled) {
        this.$emit('onDone')
        this.hideKeyboard()
      } else if (button === '-') {
        this.keyboard.clearInput()
        this.$emit('decrement')
      } else if (button === '+') {
        this.keyboard.clearInput()
        this.$emit('increment')
      } else if (button === '<<') {
        this.keyboard.clearInput()
      }
      if (button === '{shift}' || button === '{lock}') this.handleShift()
    },
    onChange(input) {
      this.displayInput(input)
      // Handle erase all
      if (input === '<<') {
        input = ''
        this.keyboard.clearInput()
      }

      if (!input.includes('`')) {
        if (this.keyboardType === 'number') {
          input = input.length > 0 ? parseFloat(input) : 0
        }
        this.$emit('input', input)
      } else {
        this.$emit('input', this.originalValue)
      }
    },
    handleShift() {
      const currentLayout = this.keyboard.options.layoutName
      const shiftToggle = currentLayout === 'default' ? 'shift' : 'default'

      this.keyboard.setOptions({
        layoutName: shiftToggle,
      })
      if (shiftToggle === 'shift') {
        this.keyboard.addButtonTheme('{shift}', 'hg-selectedButton')
      } else {
        this.keyboard.removeButtonTheme('{shift}', 'hg-selectedButton')
      }
    },
    hideKeyboard() {
      this.keyboard.destroy()
      this.keyboard = null
      this.inputValue = ''
      document.removeEventListener('click', this.eventFunction)
      this.$emit('onClose')
    },
    displayInput(input) {
      const regEx = /[^`\-+]+/g
      this.inputValue = input.match(regEx) ? input.match(regEx)[0] : ''
    },
  },
  watch: {
    showKeyboard(newValue) {
      this.message = this.enterDisabled ? 'Input NOT ok!' : ''
      this.originalValue = this.initValue

      if (newValue) {
        this.keyboard = new Keyboard(`.${this.keyboardClassStyle}`, {
          ...this.config,
        })
        if (this.setInit) {
          this.keyboard.setInput(this.initValue)
        }
        document.addEventListener('click', this.eventFunction)
      }
    },
    enterDisabled(newValue) {
      if (newValue) {
        this.message = 'Input NOT ok!'
      } else {
        this.message = 'Input OK'
      }
    },
  },
  computed: {
    config() {
      return this.keyboardType === 'string'
        ? {
            onKeyPress: this.onKeyPress,
            mergeDisplay: true,
            display: {
              '{enter}': `${this.doneButtonText}`,
              '`': 'Cancel',
            },
            layout: {
              default: [
                '` 1 2 3 4 5 6 7 8 9 0 - = {bksp}',
                '{tab} q w e r t y u i o p [ ] \\',
                "{lock} a s d f g h j k l ; ' {enter}",
                '{shift} z x c v b n m , . / {shift}',
                '<< {space}',
              ],
              shift: [
                '` ! # $ % ^ & * ( ) _ + {bksp}',
                '{tab} Q W E R T Y U I O P { } |',
                '{lock} A S D F G H J K L : " {enter}',
                '{shift} Z X C V B N M < > ? {shift}',
                '<< {space}',
              ],
            },
            buttonAttributes: [
              {
                attribute: 'style',
                value: 'background:#2DAE31;color:white',
                buttons: '{enter}',
              },
              {
                attribute: 'style',
                value: 'background:#C90D2C;color:white',
                buttons: '`',
              },
              {
                attribute: 'id',
                value: 'cancel',
                buttons: '`',
              },
            ],
            onChange: this.onChange,
            syncInstanceInputs: false,
          }
        : {
            onKeyPress: this.onKeyPress,
            mergeDisplay: true,
            display: {
              '{enter}': `${this.doneButtonText}`,
              '`': 'Cancel',
              '{bksp}': '<',
            },
            layout: {
              default: [
                '` {bksp}',
                '1 2 3',
                '4 5 6',
                '7 8 9',
                '- 0 +',
                '. {enter}',
              ],
            },
            buttonAttributes: [
              {
                attribute: 'style',
                value: 'background:#2DAE31;color:white',
                buttons: '+',
              },
              {
                attribute: 'style',
                value: 'background:#C90D2C;color:white',
                buttons: '-',
              },
              {
                attribute: 'id',
                value: 'cancel',
                buttons: '`',
              },
            ],
            theme: 'hg-theme-default hg-layout-numeric',
            onChange: this.onChange,
            syncInstanceInputs: false,
          }
    },
    // input() {
    //   const regEx = /[^`]+/gm
    //   const keyboardInput = (this.keyboard
    //     ? this.keyboard.getInput()
    //     : ''
    //   ).match(regEx)
    //   return keyboardInput ? keyboardInput[0] : ''
    // },
    keyboardClassStyle() {
      return `keyboard-${this.keyboardClass}`
    },
    insertedClass() {
      return this.keyboardType === 'number'
        ? 'inserted-value-number'
        : 'inserted-value'
    },
  },
}
</script>

<style>
.keyboard-grid {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  z-index: 100;
  left: 10%;
  bottom: 0%;
  color: black !important;
}
#string {
  width: 50vw;
}

#number {
  width: 25vw;
}
div[class^='keyboard-'] {
  width: 50vw;
}

.inserted-value {
  width: 50vw;
  border-radius: 5px;
  color: white;
  background-color: #717070;
}
.inserted-value-number {
  width: 25vw;
  border-radius: 5px;
  color: white;
  background-color: #717070;
}
.hg-theme-default {
  width: 80%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  touch-action: manipulation;
}
.hg-theme-default .hg-button span {
  pointer-events: none;
  font-weight: 600;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}
.hg-theme-default button.hg-button {
  border-width: 0;
  outline: 0;
  font-size: inherit;
}
.hg-theme-default {
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, sans-serif;
  background-color: #ececec;
  padding: 5px;
  border-radius: 5px;
}
.hg-theme-default .hg-button {
  display: inline-block;
  flex-grow: 1;
}
.hg-theme-default .hg-row {
  display: flex;
}
.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 5px;
}
.hg-theme-default .hg-row .hg-button-container,
.hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}
.hg-theme-default .hg-row > div:last-child {
  margin-right: 0;
}
.hg-theme-default .hg-row .hg-button-container {
  display: flex;
}
.hg-theme-default .hg-button {
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  background: #fff;
  border-bottom: 1px solid #b5b5b5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.hg-theme-default .hg-button.hg-activeButton {
  background: #efefef;
}
.hg-layout-numeric {
  width: 35%;
}
.hg-theme-default.hg-layout-numeric .hg-button {
  width: 33.3%;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.hg-theme-default .hg-button.hg-button-numpadadd,
.hg-theme-default .hg-button.hg-button-numpadenter {
  height: 85px;
}
.hg-theme-default .hg-button.hg-button-numpad0 {
  width: 105px;
}
.hg-theme-default .hg-button.hg-button-com {
  max-width: 85px;
}
.hg-theme-default .hg-button.hg-standardBtn.hg-button-at {
  max-width: 45px;
}
.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: #fff;
}
.hg-theme-default .hg-button.hg-disabledButton {
  background: #000000;
  color: #fff;
}
.hg-theme-default .hg-button.hg-standardBtn[data-skbtn='.com'] {
  max-width: 82px;
}
.hg-theme-default .hg-button.hg-standardBtn[data-skbtn='@'] {
  max-width: 60px;
}
</style>
