<template>
  <div :class="`w-full p-2 col-span-${columnSize} row-span-${rowSize}`">
    <div class="bg-infowindow shadow rounded-lg w-full h-full">
      <div
        :class="`inline-grid grid-flow-${flow}-dense w-full h-full px-1 py-1`"
      >
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
// This component should might not be needed

export default {
  props: {
    columnSize: {
      type: Number,
      required: true,
    },
    rowSize: {
      type: Number,
      required: true,
    },
    flow: {
      type: String,
      default: 'col',
    },
  },
}
</script>
