<template>
  <standardIndicator
    v-if="condition"
    :id="id"
    :columnSize="columnSize"
    @click="activateKeyboard"
    :rowSize="rowSize"
    :nameRef="nameRef"
    :labelPosition="labelPosition"
    :opcConnected="opcConnected"
  >
    {{ opcConnected ? value : 'not connected' }}
    <BaseKeyboard
      :initValue="value"
      :currentValue="value"
      :keyboardClass="id"
      keyboardType="number"
      @input="updateValue"
      @onDone="updateOpc"
      @onClose="hideKeyboard"
      :showKeyboard="showKeyboard"
      :setInit="false"
      :doneButtonText="doneButtonText"
    />
  </standardIndicator>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import standardIndicator from '../brickComponents/StandardIndicator.vue'

export default {
  components: {
    standardIndicator,
  },
  props: {
    opckey: {
      type: String,
      required: true,
    },
    nameRef: {
      type: [Number, String],
      default: 'NoNameIndicator',
    },
    labelPosition: {
      type: String,
      default: 'label-top',
    },
    columnSize: {
      type: Number,
      default: 8,
    },
    rowSize: {
      type: Number,
      default: 4,
    },
    doneButtonText: {
      type: String,
    },
    conditions: {
      type: Object,
      default: {
        opckey: '',
        values: [],
      },
    },
  },
  data() {
    return {
      input: 0,
      showKeyboard: false,
      id: '',
    }
  },
  mounted() {
    this.id = uuidv4()
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
    dataType() {
      return this.$store.getters.opc(this.opckey).dataType
    },
    opcConnected() {
      return (
        this.dataType === 10 ||
        this.dataType === 4 ||
        this.dataType === 6 ||
        this.dataType === 8
      )
    },
    condition() {
      return this.conditions.opckey
        ? this.conditions.values.includes(
            this.$store.getters.opc(this.conditions.opckey).value
          )
        : true
    },
  },
  methods: {
    updateValue(input) {
      this.input = input
    },
    activateKeyboard() {
      this.showKeyboard = true
    },
    hideKeyboard() {
      this.showKeyboard = false
    },
    updateOpc() {
      this.$store.dispatch('updateOPCData', {
        key: this.opckey,
        value: this.input,
      })
    },
  },
}
</script>
