<template>
  <indicatorContainer
    :columnSize="columnSize"
    :rowSize="rowSize"
    :labelPosition="labelPosition"
  >
    <indicatorLabel
      :nameRef="nameRef"
      :class="`px-2 font-medium ${opcConnected ? 'text-white' : 'text-red'}`"
    />
    <span
      :class="`indicator justify-self-center inline-flex items-center justify-center h-2/3 w-2/3 rounded text-xs font-medium border-2 border-button bg-${
        this.value ? 'green' : 'infolist'
      } text-white`"
    >
      {{ this.value ? 'On' : 'Off' }}
    </span>
  </indicatorContainer>
</template>

<script>
import indicatorLabel from '../brickComponents/IndicatorLabel.vue'
import indicatorContainer from '../brickComponents/IndicatorContainer.vue'

export default {
  components: { indicatorLabel, indicatorContainer },
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    nameRef: {
      type: [Number, String],
      default: 'NoNameBoolIndicator',
    },
    opcConnected: {
      type: Boolean,
      default: false,
    },
    // color: {
    //   type: String,
    //   default: 'green',
    // },
    columnSize: {
      type: Number,
      default: 6,
    },
    rowSize: {
      type: Number,
      default: 3,
    },
    labelPosition: {
      type: String,
      default: 'label-left',
    },
  },
}
</script>
