<template>
  <switchButton
    :isOn="displayValue"
    @buttonSwitch="updateOpc"
    :nameRef="nameRef"
    :columnSize="columnSize"
    :alert="!opcConnected"
  />
</template>

<script>
import switchButton from './BaseSwitchButton.vue'
export default {
  components: { switchButton },
  props: {
    opckey: {
      type: String,
      required: true,
    },
    nameRef: {
      type: [Number, String],
    },
    columnSize: {
      type: Number,
    },
  },
  data() {
    return {
      displayValue: false,
    }
  },
  mounted() {
    this.displayValue = this.value
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
    dataType() {
      return this.$store.getters.opc(this.opckey).dataType
    },
    opcConnected() {
      return this.dataType === 1
    },
  },
  methods: {
    updateOpc() {
      this.displayValue = !this.value
      this.$store.dispatch('updateOPCData', {
        key: this.opckey,
        value: !this.value,
      })
      setTimeout(() => {
        this.displayValue = this.value
      }, 1500)
    },
  },
  watch: {
    value(newValue) {
      this.displayValue = newValue
    },
  },
}
</script>
