<template>
  <BaseBoolIndicator
    :value="value"
    :nameRef="nameRef"
    :columnSize="columnSize"
    :rowSize="rowSize"
    :opcConnected="opcConnected"
  >
  </BaseBoolIndicator>
</template>

<script>
export default {
  props: {
    opckey: {
      type: String,
      required: true,
    },
    nameRef: {
      type: [Number, String],
    },
    columnSize: {
      type: Number,
      default: 6,
    },
    rowSize: {
      type: Number,
      default: 3,
    },
    labelPosition: {
      type: String,
      default: 'label-left',
    },
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
    dataType() {
      return this.$store.getters.opc(this.opckey).dataType
    },
    opcConnected() {
      return this.dataType === 1
    },
  },
}
</script>
