<template>
  <div
    :class="`grid subgrid-row subgrid-col bg-infowindow shadow rounded-lg col-span-${columnSize} row-span-${rowSize} mx-1 my-1`"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    columnSize: {
      type: Number,
      required: true,
    },
    rowSize: {
      type: Number,
      required: true,
    },
  },
}
</script>
