<template>
  <standardIndicator
    :nameRef="nameRef"
    :columnSize="columnSize"
    :rowSize="rowSize"
    :opcConnected="opcConnected"
  >
    {{ value || 'BaseOpcString' }}
  </standardIndicator>
</template>

<script>
import standardIndicator from '../brickComponents/StandardIndicator.vue'

export default {
  components: {
    standardIndicator,
  },
  props: {
    opckey: {
      type: String,
      required: true,
    },
    nameRef: {
      type: [Number, String],
      default: 'NoNameIndicator',
    },
    columnSize: {
      type: Number,
      default: 8,
    },
    rowSize: {
      type: Number,
      default: 4,
    },
    height: {
      type: String,
    },
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
    dataType() {
      return this.$store.getters.opc(this.opckey).dataType
    },
    opcConnected() {
      return this.dataType === 12 || this.dataType === 23
    },
  },
}
</script>
