<template>
  <standardIndicator
    :nameRef="nameRef"
    :columnSize="columnSize"
    :rowSize="rowSize"
  >
    {{ value || 'BaseNumber' }}
  </standardIndicator>
</template>

<script>
import standardIndicator from '../brickComponents/StandardIndicator.vue'

export default {
  components: {
    standardIndicator,
  },
  props: {
    value: {
      type: Number,
    },
    nameRef: {
      type: [Number, String],
      default: 'NoNameIndicator',
    },
    columnSize: {
      type: Number,
    },
    rowSize: {
      type: Number,
    },
  },
}
</script>
