<template>
  <standardIndicator
    :nameRef="nameRef"
    :columnSize="columnSize"
    :rowSize="rowSize"
  >
    {{ value || 'BaseString' }}
  </standardIndicator>
</template>

<script>
import standardIndicator from '../brickComponents/StandardIndicator.vue'
export default {
  components: {
    standardIndicator,
  },
  props: {
    value: {
      type: String,
    },
    nameRef: {
      type: [Number, String],
      default: 'NoNameIndicator',
    },
    size: {
      type: String,
    },
    columnSize: {
      type: Number,
      default: 8,
    },
    rowSize: {
      type: Number,
      default: 4,
    },
  },
}
</script>
