<template>
  <indicatorContainer
    :columnSize="columnSize"
    :rowSize="rowSize"
    :labelPosition="labelPosition"
  >
    <indicatorLabel
      :nameRef="nameRef"
      :class="`px-2 font-medium ${alert ? 'text-red' : 'text-white'}`"
    />
    <span
      id="switch"
      role="checkbox"
      :aria-checked="isOn"
      tabindex="0"
      @click="buttonSwitch"
      :class="isOn ? 'bg-green' : 'bg-infowindow'"
      class="indicator relative justify-self-center inline-block flex-shrink-0 h-6 w-11 border-2 border-button rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline"
    >
      <span
        aria-hidden="true"
        :class="isOn ? 'translate-x-5' : 'translate-x-0'"
        class="inline-block h-5 w-5 rounded-full bg-white shadow transform transition ease-in-out duration-200"
      ></span>
    </span>
  </indicatorContainer>
</template>

<script>
import indicatorLabel from '../brickComponents/IndicatorLabel.vue'
import indicatorContainer from '../brickComponents/IndicatorContainer.vue'

export default {
  components: { indicatorLabel, indicatorContainer },
  props: {
    nameRef: {
      type: [Number, String],
      default: 'NoNameSwitch',
    },
    isOn: {
      type: Boolean,
      required: true,
    },
    columnSize: {
      type: Number,
      default: 8,
    },
    rowSize: {
      type: Number,
      default: 4,
    },
    labelPosition: {
      type: String,
      default: 'label-left',
    },
    alert: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    buttonSwitch() {
      this.$emit('buttonSwitch')
    },
  },
}
</script>
