<template>
  <indicatorContainer
    :id="id"
    :columnSize="columnSize"
    :rowSize="rowSize"
    :labelPosition="labelPosition"
    @click="activateKeyboard"
  >
    <indicatorLabel :id="id" :nameRef="nameRef" />
    <incDecIndicator
      :id="id"
      :opcConnected="opcConnected"
      @decrement="dec"
      @increment="inc"
      :height="height || autoHeight"
      >{{ opcConnected ? value : 'not connected' }}</incDecIndicator
    >
    <BaseKeyboard
      :initValue="value"
      :currentValue="value"
      :keyboardClass="id"
      keyboardType="number"
      @input="updateValue"
      @onDone="updateOpc"
      @onClose="hideKeyboard"
      @decrement="dec"
      @increment="inc"
      :showKeyboard="showKeyboard"
      :setInit="false"
      :doneButtonText="doneButtonText"
    />
  </indicatorContainer>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import indicatorContainer from '../brickComponents/IndicatorContainer.vue'
import indicatorLabel from '../brickComponents/IndicatorLabel.vue'
import indicator from '../brickComponents/Indicator.vue'
import incDecIndicator from '../brickComponents/IncDecIndicator.vue'

export default {
  components: {
    indicatorContainer,
    indicatorLabel,
    indicator,
    incDecIndicator,
  },
  props: {
    opckey: {
      type: String,
      required: true,
    },
    nameRef: {
      type: [Number, String],
      default: 'NoNameIndicator',
    },
    textTop: {
      type: Boolean,
    },
    columnSize: {
      type: Number,
      default: 8,
    },
    rowSize: {
      type: Number,
      default: 4,
    },
    doneButtonText: {
      type: String,
    },
    labelPosition: {
      type: String,
    },
    height: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      input: 0,
      showKeyboard: false,
      id: '',
      autoHeight: '',
    }
  },
  mounted() {
    this.id = uuidv4()
    this.autoHeight =
      this.labelPosition === 'label-left' ||
      this.labelPosition === 'label-right'
        ? 'h-2/3'
        : 'h-full'
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
    dataType() {
      return this.$store.getters.opc(this.opckey).dataType
    },
    opcConnected() {
      return (
        this.dataType === 10 ||
        this.dataType === 4 ||
        this.dataType === 6 ||
        this.dataType === 8
      )
    },
  },
  methods: {
    updateValue(input) {
      this.input = input
    },
    activateKeyboard() {
      this.showKeyboard = true
    },
    hideKeyboard() {
      this.showKeyboard = false
    },
    updateOpc() {
      this.$store.dispatch('updateOPCData', {
        key: this.opckey,
        value: this.input,
      })
    },
    dec() {
      if (this.dataType === 4) {
        this.$store.dispatch('updateOPCData', {
          key: this.opckey,
          value: this.value - 1,
        })
      } else if (this.dataType === 10) {
        this.$store.dispatch('updateOPCData', {
          key: this.opckey,
          value: this.value - 0.1,
        })
      } else {
        console.error('Unknow type')
      }
    },
    inc() {
      if (this.dataType === 4) {
        this.$store.dispatch('updateOPCData', {
          key: this.opckey,
          value: this.value + 1,
        })
      } else if (this.dataType === 10) {
        this.$store.dispatch('updateOPCData', {
          key: this.opckey,
          value: this.value + 0.1,
        })
      } else {
        console.error('Unknow type')
      }
    },
  },
}
</script>
