<template>
  <div
    :class="`flex flex-col justify-center col-span-${columnSize} row-span-${rowSize} p-1`"
  >
    <button
      id="button"
      type="button"
      @click="buttonPressed"
      :disabled="disabled"
      :class="`inline-flex items-center overflow-clip overflow-hidden text-sm font-semibold justify-center rounded shadow-sm text-white pl-1 pr-1 ${
        alert ? 'bg-red' : 'bg-button'
      } focus:outline-none active:bg-buttonpressed h-full border-4 border-button disabled:opacity-50`"
    >
      <resolveText :textRef="nameRef" />
    </button>
  </div>
</template>

<script>
import resolveText from '../brickComponents/ResolveText.vue'
export default {
  components: {
    resolveText,
  },
  props: {
    nameRef: {
      type: [Number, String],
      default: 'NoNameButton',
    },
    columnSize: {
      type: Number,
      default: 4,
    },
    rowSize: {
      type: Number,
      default: 4,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    alert: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    buttonPressed() {
      this.$emit('buttonpressed')
    },
  },
}
</script>

<style scoped>
#button {
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 30);
  line-height: 1.25;
  letter-spacing: 0.08em;
  position: relative;
  transition: background-color 0.2s ease;
  overflow: hidden;
}
#button:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(grey, 0.1);
  border-radius: 100%;
}

#button:active {
  box-shadow: 0px 0px 4px -2px grey;
}
#button:active:after {
  width: 200px;
  height: 200px;
}
</style>
