<template>
  <standardIndicator
    :nameRef="nameRef"
    :columnSize="columnSize"
    :rowSize="rowSize"
    :opcConnected="opcConnected"
  >
    {{ opcConnected ? value : 'not connected' }}
  </standardIndicator>
</template>

<script>
import standardIndicator from '../brickComponents/StandardIndicator.vue'

export default {
  components: {
    standardIndicator,
  },
  props: {
    opckey: {
      type: String,
      required: true,
    },
    nameRef: {
      type: [Number, String],
      default: 'NoNameIndicator',
    },
    columnSize: {
      type: Number,
    },
    rowSize: {
      type: Number,
    },
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
    dataType() {
      return this.$store.getters.opc(this.opckey).dataType
    },
    opcConnected() {
      return (
        this.dataType === 10 ||
        this.dataType === 4 ||
        this.dataType === 6 ||
        this.dataType === 8
      )
    },
  },
}
</script>
