<template>
  <div
    :class="`grid subgrid-row subgrid-col col-span-${columnSize} row-span-${rowSize} bg-infowindow shadow rounded-lg m-1`"
  >
    <component
      v-for="item in content"
      :is="item.component"
      v-bind="{ ...item }"
      :key="item.key"
    />
  </div>
</template>

<script>
import RodPositionChart from './../RodPositionChartCanvas.vue'
import pouringCanvas from './../pouring-canvas.vue'
import modalSelector from '../ModalSelector.vue'

export default {
  components: {
    RodPositionChart,
    pouringCanvas,
    modalSelector,
  },
  props: {
    columnSize: {
      type: Number,
      required: true,
    },
    rowSize: {
      type: Number,
      required: true,
    },
    content: {
      type: Array,
    },
  },
}
</script>
