<template>
  <standardIndicator
    :id="id"
    @click="activateKeyboard"
    :nameRef="nameRef"
    :columnSize="columnSize"
    :rowSize="rowSize"
    :height="height"
  >
    {{ value ? value : 'no connection' }}
    <BaseKeyboard
      :initValue="value"
      :keyboardClass="id"
      keyboardType="string"
      @input="updateValue"
      @onDone="updateOpc"
      @onClose="hideKeyboard"
      :showKeyboard="showKeyboard"
      :setInit="setInitValueKeyboard"
      :doneButtonText="doneButtonText"
      :enterDisabled="enterDisabled"
    />
  </standardIndicator>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import standardIndicator from '../brickComponents/StandardIndicator.vue'

export default {
  components: { standardIndicator },
  props: {
    opckey: {
      type: String,
      required: true,
    },
    nameRef: {
      type: [Number, String],
      default: 'NoNameIndicator',
    },
    columnSize: {
      type: Number,
    },
    rowSize: {
      type: Number,
    },
    doneButtonText: {
      type: String,
    },
    enterDisabled: {
      type: Boolean,
      default: false,
    },
    height: {
      type: String,
    },
    setInitValueKeyboard: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      input: '',
      showKeyboard: false,
      id: '',
    }
  },
  mounted() {
    this.id = uuidv4()
    this.$emit('newValue', this.value)
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
    dataType() {
      return this.$store.getters.opc(this.opckey).dataType
    },
    opcConnected() {
      return this.dataType === 12 || this.dataType === 23
    },
  },
  methods: {
    updateValue(input) {
      this.input = input
    },
    activateKeyboard() {
      this.showKeyboard = true
    },
    hideKeyboard() {
      this.showKeyboard = false
    },
    updateOpc() {
      this.$emit('done')
      this.$store.dispatch('updateOPCData', {
        key: this.opckey,
        value: this.input,
      })
    },
  },
  watch: {
    input(newValue) {
      this.$emit('newValue', newValue)
    },
  },
}
</script>

<style scoped>
.break {
  flex-basis: 100%;
  height: 0;
}
</style>
