<template>
  <standardIndicator
    :nameRef="nameRef"
    :columnSize="columnSize"
    :rowSize="rowSize"
    :opcConnected="opcConnected"
  >
    <resolveEnum :opcValue="value" :enums="enums" />
  </standardIndicator>
</template>

<script>
import standardIndicator from '../brickComponents/StandardIndicator.vue'
import resolveEnum from '../brickComponents/ResolveEnum.vue'

export default {
  components: {
    standardIndicator,
    resolveEnum,
  },
  props: {
    opckey: {
      type: String,
      required: true,
    },
    enums: {
      type: [Array, String],
      required: true,
    },
    nameRef: {
      type: [Number, String],
      default: 'NoNameIndicator',
    },
    columnSize: {
      type: Number,
    },
    rowSize: {
      type: Number,
    },
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
    dataType() {
      return this.$store.getters.opc(this.opckey).dataType
    },
    opcConnected() {
      return (
        this.dataType === 10 ||
        this.dataType === 4 ||
        this.dataType === 6 ||
        this.dataType === 8 ||
        this.dataType === 1
      )
    },
  },
}
</script>
