<template>
  <BaseButton
    @buttonpressed="btnFunction"
    :columnSize="columnSize"
    :rowSize="rowSize"
  />
</template>

<script>
export default {
  props: {
    nameRef: {
      type: [Number, String],
    },
    btnFunction: {
      type: Function,
      required: true,
    },
    columnSize: {
      type: Number,
      default: 4,
    },
    rowSize: {
      type: Number,
      default: 4,
    },
  },
}
</script>
