<template>
  <standardIndicator
    :id="id"
    @click="activateKeyboard"
    :nameRef="nameRef"
    :columnSize="columnSize"
    :rowSize="rowSize"
  >
    {{ value || 'BaseEditNumber' }}
    <BaseKeyboard
      :initValue="value"
      keyboardType="number"
      :keyboardClass="id"
      @input="updateValue"
      @onClose="hideKeyboard"
      :showKeyboard="showKeyboard"
      :doneButtonText="doneButtonText"
    />
  </standardIndicator>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import standardIndicator from '../brickComponents/StandardIndicator.vue'

export default {
  components: {
    standardIndicator,
  },
  props: {
    nameRef: {
      type: [Number, String],
      default: 'NoNameIndicator',
    },
    doneButtonText: {
      type: String,
    },
    columnSize: {
      type: Number,
    },
    rowSize: {
      type: Number,
    },
  },
  data() {
    return {
      showKeyboard: false,
      id: '',
      value: 0,
    }
  },
  mounted() {
    this.id = uuidv4()
  },
  methods: {
    updateValue(input) {
      this.value = input
      this.$emit('input', input)
    },
    activateKeyboard() {
      this.showKeyboard = true
    },
    hideKeyboard() {
      this.showKeyboard = false
    },
  },
}
</script>
