<template>
  <BaseButton
    :value="value"
    @buttonpressed="updateOpc"
    :nameRef="nameRef"
    :columnSize="columnSize"
    :rowSize="rowSize"
    :disabled="disabled"
    :alert="!opcConnected"
  >
  </BaseButton>
</template>

<script>
export default {
  props: {
    opckey: {
      type: String,
      required: true,
    },
    nameRef: {
      type: [Number, String],
    },
    columnSize: {
      type: Number,
      default: 4,
    },
    rowSize: {
      type: Number,
      default: 4,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
    dataType() {
      return this.$store.getters.opc(this.opckey).dataType
    },
    opcConnected() {
      return this.dataType === 1
    },
  },
  methods: {
    updateOpc() {
      this.$store.dispatch('updateOPCData', {
        key: this.opckey,
        value: !this.value,
      })
    },
  },
}
</script>
