<template>
  <tableSelect
    :name="name"
    :tableColumns="columns"
    :tableContent="alarms"
    @selected="setAlarmInView"
  />
</template>

<script>
import tableSelect from './TableSelect.vue'
export default {
  components: { tableSelect },
  props: {
    name: {
      type: String,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
  },
  computed: {
    alarms() {
      return [
        {
          nr: 1,
          name: `ALARM.Al_80_Em_stop_4`,
          description: `Emergency stop 2, this is probably due to human error. Contact a professional for help`,
          Status: false,
          Time_on: '02 Jan 2970 00:00:00 GMT',
          Time_off: '04 Dec 2995 00:22:00 GMT',
          Ext_info: 'Something did go wrong',
        },
        {
          nr: 2,
          name: `ALARM.Al_80_Em_stop_5`,
          description: `Emergency stop 2, this is probably due to human error. Contact a professional for help`,
          Status: false,
          Time_on: '02 Jan 2970 00:00:00 GMT',
          Time_off: '04 Dec 2995 00:22:00 GMT',
          Ext_info: 'Something did go wrong',
        },
        {
          nr: 3,
          name: `ALARM.Al_80_Em_stop_6`,
          description: `Emergency stop 2, this is probably due to human error. Contact a professional for help`,
          Status: false,
          Time_on: '02 Jan 2970 00:00:00 GMT',
          Time_off: '04 Dec 2995 00:22:00 GMT',
          Ext_info: 'Something did go wrong',
        },
      ]
    },
  },
  methods: {
    setAlarmInView(alarm) {
      this.$store.dispatch('setAlarmInView', alarm)
    },
  },
}
</script>
