<template>
  <div class="bg-white overflow-hidden rounded-lg m-1">
    <div class="px-4 py-5 sm:p-6">
      <div class="sm:flex">
        <div class="container h-full w-1/6 px-4">
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 2134 2134"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xml:space="preserve"
            xmlns:serif="http://www.serif.com/"
            style="
              fill-rule: evenodd;
              clip-rule: evenodd;
              stroke-linejoin: round;
              stroke-miterlimit: 2;
            "
          >
            <g id="Alarm">
              <g>
                <g>
                  <g>
                    <path
                      d="M1043,129.092c4.791,-8.534 13.818,-13.818 23.608,-13.818c9.789,-0 18.81,5.284 23.601,13.818c140.623,250.488 867.295,1544.88 1028.68,1832.36c6.608,11.773 6.474,26.161 -0.341,37.806c-6.821,11.65 -19.304,18.805 -32.8,18.805l-2037.99,-0c-13.563,-0 -26.107,-7.192 -32.952,-18.89c-6.852,-11.704 -6.986,-26.161 -0.348,-37.987c161.689,-288.012 887.959,-1581.68 1028.53,-1832.09Z"
                      style="fill: #d11010"
                    />
                  </g>
                  <g>
                    <path
                      d="M1052.79,353.306c2.521,-4.859 7.538,-7.905 13.007,-7.905c5.475,-0 10.493,3.046 13.013,7.905c94.425,181.874 674.109,1298.44 788.081,1517.97c4.121,7.946 3.802,17.468 -0.848,25.12c-4.645,7.652 -12.953,12.328 -21.905,12.328l-1567.19,-0c-6.72,-0 -12.953,-3.512 -16.448,-9.258c-3.489,-5.746 -3.73,-12.892 -0.632,-18.862c101.188,-194.908 697.073,-1342.68 792.924,-1527.3Z"
                      style="fill: #ffef00"
                    />
                  </g>
                  <g>
                    <path
                      d="M1030.28,1541.73c2.254,16.655 16.468,29.08 33.278,29.09c16.805,0.007 31.03,-12.408 33.298,-29.06c33.077,-224.761 78.842,-569.302 78.922,-755.411c0.027,-65.077 -50.085,-117.927 -111.835,-117.951c-61.754,-0.024 -111.907,52.788 -111.935,117.864c-0.079,186.109 45.392,530.682 78.272,755.468Z"
                    />
                  </g>
                  <g>
                    <ellipse cx="1063.44" cy="1670.18" rx="69.684" ry="65.84" />
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div>
          <h4 class="text-lg font-bold">{{ alarm.name }}</h4>
          <p class="mt-1">
            <small>Time on: {{ alarm.Time_on }} </small>
            <br />
            <small>Time off: {{ alarm.Time_off }} </small>
            <br />
            <br />
            {{ alarm.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    alarm() {
      return this.$store.getters.alarmInView
    },
  },
}
</script>

<style scoped>
.box {
  height: 32vh;
  box-shadow: inset 0 0 3px #2f2f2f;
  background: #f5f5f5;
}
</style>
