<template>
  <div id="grid-item" class="bottombar">
    <div class="self-center pl-1 text-lg text-white whitespace-nowrap">
      <div class="grid grid-cols-2">
        <resolveText :textRef="indicators[0].nameRef" />
        <p>{{ indicators[0].value || 1337 }}</p>
      </div>
    </div>
    <div class="self-center pl-1 text-lg text-white">
      <div class="grid grid-cols-2">
        <resolveText :textRef="indicators[1].nameRef" />
        <p>{{ indicators[1].value || 1337 }}</p>
      </div>
    </div>
    <div class="self-center pl-1 text-lg text-white">
      <div class="grid grid-cols-2">
        <resolveText :textRef="indicators[2].nameRef" />
        <p>{{ indicators[2].value || 1337 }}</p>
      </div>
    </div>
    <div class="self-center pl-1 text-lg text-white">
      <div class="grid grid-cols-2">
        <resolveText :textRef="indicators[3].nameRef" />
        <p>{{ indicators[3].value || 1337 }}</p>
      </div>
    </div>
    <div class="self-center pl-1 text-lg text-white">
      <div class="grid grid-cols-2">
        <resolveText :textRef="indicators[4].nameRef" />
        <p>{{ indicators[4].value || 1337 }}</p>
      </div>
    </div>
    <div class="self-center pl-1 text-lg text-white">
      <div class="grid grid-cols-2">
        <resolveText :textRef="indicators[5].nameRef" />
        <p>{{ indicators[5].value || 1337 }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import resolveText from './brickComponents/ResolveText.vue'

export default {
  name: 'BottomBar',
  components: { resolveText },
  computed: {
    indicators() {
      const variables = this.$store.state.bottomBarIndicators
      variables.forEach((opc) => {
        opc.value = this.$store.getters.opc(opc.opckey).value
      })
      return variables.sort((a, b) => {
        return a.order - b.order
      })
    },
  },
}
</script>
