<template>
  <BaseButton
    :name="name"
    :buttonStyle="buttonStyle"
    @buttonpressed="handleButtonPressed"
    :columnSize="columnSize"
  />
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: 'Unnamed CommandButton',
    },
    buttonStyle: {
      type: String,
      default: '',
    },
    value: {
      type: Number,
      required: true,
    },
    columnSize: {
      type: Number,
      default: 4,
    },
  },
  methods: {
    handleButtonPressed() {
      this.$store.dispatch('updateOPCData', {
        key: 'HMI_Command_state_1',
        value: this.value,
      })
    },
  },
}
</script>

<style scoped></style>
