<template>
  <div
    v-bind:style="{ 'min-height': `${this.height}px`, margin: this.margin }"
    :id="name"
  ></div>
</template>

<script>
import p5 from 'p5'
export default {
  name: 'Chart',
  props: [
    'name',
    'datasets',
    'labels',
    'minY',
    'maxY',
    // 'height',
    'labelInterval',
    'linesInterval',
    'frameRate',
  ],

  data() {
    return {
      chart: {},
      minX: 10,
      startingX: 20,
      startingY: 0,
      numberOfGridSteps: 0,
      gridStepSize: 0,
      xFactor: 0,
      yIntervals: [],
      margin: '10px',
      height: 300,
    }
  },

  unmounted() {
    this.chart.remove()
  },

  mounted() {
    this.canvasDiv = document.getElementById(this.name)
    this.width = this.canvasDiv ? this.canvasDiv.offsetWidth : 0
    this.height = this.canvasDiv ? this.canvasDiv.offsetHeight : 0
    this.startingY = this.height - 10
    this.numberOfGridSteps = this.maxY - this.minY
    this.gridStepSize = this.startingY / this.numberOfGridSteps
    this.xFactor = this.labels.length ? this.width / this.labels.length : 1

    const sketch = (p5) => {
      p5.setup = () => {
        p5.frameRate(this.frameRate ? this.frameRate : 5)
        p5.blendMode(p5.REPLACE)
        p5.createCanvas(this.width, this.height, 'WEBGL')
        p5.rectMode(p5.RADIUS)
        p5.strokeWeight(2)
        for (let index = 0; index < this.numberOfGridSteps; index++) {
          if (index % this.linesInterval === 0) {
            const y = -index * this.gridStepSize
            this.yIntervals.push({ x1: 0, y1: y, x2: this.width, y2: y })
          }
        }
        console.log('yIntervals', this.yIntervals.length)
      }

      p5.draw = () => {
        // console.log(this.labels)
        this.xFactor = this.width / this.labels.length
        // console.log(this.xFactor, this.width, this.labels.length)
        let w
        let h
        if (this.canvasDiv) {
          w = this.canvasDiv.offsetWidth
          h = this.canvasDiv.offsetHeight
        } else {
          w = 0
          h = 0
        }
        // if (w !== this.width && h !== this.height) {
        //   p5.resizeCanvas(w, h)
        //   this.yIntervals = []
        //   for (let index = 0; index < this.numberOfGridSteps; index++) {
        //     const y = -index * this.gridStepSize
        //     this.yIntervals.push({ x1: 0, y1: y, x2: this.width, y2: y })
        //   }
        // }
        p5.background(0, 0, 0)
        p5.strokeWeight(0.5)
        p5.fill(211, 211, 211)

        for (let i = 0; i < this.yIntervals.length; i++) {
          const element = this.yIntervals[i]
          if (i % this.labelInterval === 0) {
            p5.stroke(0, 0, 0)
            p5.text(this.minY + i, element.x1, this.startingY + element.y2 + 3)
          } else {
            p5.stroke(212, 212, 214)
          }

          p5.line(
            this.startingX + element.x1 + 3,
            this.startingY + element.y1,
            element.x2,
            this.startingY + element.y2
          )
        }

        p5.strokeWeight(2)

        for (let i = 0; i < this.datasets.length; i++) {
          if (this.datasets[i]) {
            const dataset = this.datasets[i]
            const { values } = this.datasets[i]
            const { r, g, b } = dataset.color
            p5.fill(r, g, b)
            p5.stroke(r, g, b)
            for (let i = 0; i < values.length; i++) {
              const y =
                this.startingY - (values[i] - this.minY) * this.gridStepSize
              const x = this.startingX + this.xFactor * i

              if (i) {
                if (dataset.pointSize) {
                  p5.circle(x, y, dataset.pointSize)
                }
                if (!dataset.noLine) {
                  p5.line(
                    this.startingX + this.xFactor * (i - 1),
                    this.startingY -
                      (values[i - 1] - this.minY) * this.gridStepSize,
                    x,
                    y
                  )
                }
              }
            }
          }
        }
      }
      p5.windowResized = () => {
        p5.resizeCanvas(this.width, this.height)
      }
    }

    this.chart = new p5(sketch, document.getElementById(this.name))
  },
}
</script>
