<template>
  <div :class="`col-span-${size + 4} row-span-${size} h-full w-full`">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 2408 1429"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve"
      xmlns:serif="http://www.serif.com/"
      style="
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linejoin: round;
        stroke-miterlimit: 1.5;
      "
    >
      <defs>
        <linearGradient id="grad1" x1="0.5" y1="1" x2="0.5" y2="0">
          <stop
            offset="0%"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 1"
          />
          <stop
            :offset="fillPercentMain"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 1"
          />
          <stop
            :offset="fillPercentMain"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 0"
          />
          <stop
            offset="100%"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 0"
          />
        </linearGradient>
        <linearGradient id="grad2" x1="0.5" y1="1" x2="0.5" y2="0">
          <stop
            offset="0%"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 1"
          />
          <stop
            :offset="fillPercentNozzle"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 1"
          />
          <stop
            :offset="fillPercentNozzle"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 0"
          />
          <stop
            offset="100%"
            style="stop-color: rgb(223, 154, 0); stop-opacity: 0"
          />
        </linearGradient>
        <linearGradient id="pour" x1="0.5" y1="0" x2="0.5" y2="1">
          <stop offset="0" :stop-color="color1">
            <animate
              id="ani-pour1"
              begin="indefinite"
              dur="0.7s"
              attributeName="offset"
              fill="freeze"
              from="0"
              to="1"
            />
          </stop>
          <stop offset="0" :stop-color="color2">
            <animate
              id="ani-pour2"
              begin="indefinite"
              dur="0.7s"
              attributeName="offset"
              fill="freeze"
              from="0"
              to="1"
            />
          </stop>
        </linearGradient>
      </defs>
      <g id="Furnace">
        <path
          id="main_compartment"
          d="M1550.1,834.448l0.03,-583.719l-447.624,-73.26l-446.799,73.268l-0.022,583.857l894.415,-0.146Z"
          style="fill: #4d4d4d; stroke: #4d4d4d; stroke-width: 1.25px"
        />
        <path
          id="nozzle_Shadow"
          d="M2312.18,666.655l-423.81,0.507l50.934,-168.545l0.032,-48.374l390.472,0.022l-17.628,216.39Z"
          style="fill: #4d4d4d"
        />
        <path
          id="nozzle_level"
          d="M1939.17,515.118l0.155,64.282l355.819,0.2l17.973,-64.5l-373.947,0.018Z"
          style="fill: url(#grad2)"
        />
        <g id="Iron">
          <path
            id="iron_base"
            d="M577.639,895.55l-379.631,-380.7l188.211,-0l0,69.51l227.779,227.778l41.706,17.11l894.004,0l41.706,-17.11l297.289,-297.288l45.29,65.588l-297.665,311.904l-86.62,35.29l-252.374,-0l-18.18,248.097c0,97.313 -80.204,176.448 -176.448,176.448c-96.245,-0 -176.448,-79.135 -176.448,-176.448l-18.18,-248.097l-252.374,-0l-78.065,-32.082Z"
            style="fill: #df9a00; fill-rule: nonzero"
          />
          <path
            id="MainIronFill"
            d="M1550.1,834.484l0.03,-442.018l-894.423,0.007l-0.022,442.121l894.415,-0.11Z"
            style="fill: url(#grad1)"
          />
          <path
            id="nozzle_pour"
            d="M2219.95,578.876c4.953,1.606 8.502,5.411 10.44,9.532l-0.104,178.401l20.351,-0.027l-0.148,-178.651c1.973,-4.915 5.674,-8.416 11.038,-9.233l-41.577,-0.022Z"
            style="fill: url(#pour)"
          />
        </g>
        <g id="heater">
          <path
            d="M1061.9,947.205l56.307,6.483c9.625,0 27.401,12.504 29.539,22.129l63.42,191.844c-0,65.233 -41.043,117.248 -106.275,117.248c-65.233,0 -110.869,-43.248 -110.869,-108.481l46.331,-216.25c2.139,-9.624 2.694,-12.633 12.318,-12.633"
            style="
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path426"
            d="M1127.42,1288.64c24.037,-5.295 49.394,-21.497 65.971,-42.152c14.184,-17.674 24.785,-44.611 24.785,-62.983c-0,-8.232 -8.775,-51.674 -32.464,-160.714c-18.323,-84.341 -18.235,-84.027 -24.768,-88.687c-5.027,-3.586 -5.915,-3.656 -52.465,-4.156c-54.391,-0.584 -59.59,-0.122 -65.539,5.828c-5.191,5.191 -5.129,4.937 -34.606,140.523c-21.743,100.012 -22.074,101.824 -20.541,112.63c1.948,13.739 8.183,32.547 14.391,43.41c14.227,24.9 39.892,45.155 68.415,53.995c14.792,4.584 41.551,5.67 56.821,2.306Zm-50.508,-35.669c-32.777,-10.722 -54.621,-40.561 -54.806,-74.865c-0.132,-24.326 5.894,-41.343 20.323,-57.391c13.127,-14.6 28.496,-22.611 48.798,-25.434c71.104,-9.89 118.597,67.125 78.576,127.42c-11.925,17.965 -33.196,30.83 -56.589,34.224c-8.369,1.215 -26.558,-0.767 -36.302,-3.954Z"
            style="fill: #ccc; fill-rule: nonzero"
          />
          <path
            id="path440"
            d="M1121.11,1231.54c16.243,-5.834 28.489,-17.256 35.972,-33.551c2.531,-5.512 3.286,-10.459 3.374,-22.097c0.099,-13.078 -0.423,-16.139 -4.086,-23.952c-21.59,-46.055 -85.218,-46.095 -106.791,-0.068c-3.658,7.804 -4.23,11.055 -4.23,24.02c-0,12.977 0.571,16.213 4.243,24.048c5.451,11.631 17.811,23.951 29.319,29.225c11.959,5.48 30.63,6.531 42.199,2.375l0,0Z"
            style="fill: #1a1a1a; fill-rule: nonzero"
          />
          <path
            id="path444"
            d="M1105.98,1249.21c11.956,-0.639 23.233,-3.903 33.146,-9.591c12.549,-7.202 22.663,-17.875 29.088,-30.698c3.989,-7.961 6.285,-15.689 7.45,-25.082c0.344,-2.77 0.345,-13.591 0.002,-16.375c-1.149,-9.327 -3.427,-17.046 -7.337,-24.86c-3.739,-7.472 -7.95,-13.302 -13.901,-19.243c-11.79,-11.77 -26.629,-18.875 -43.713,-20.93c-3.834,-0.461 -11.809,-0.463 -15.685,-0.003c-17.022,2.017 -32.059,9.234 -43.864,21.052c-12.042,12.054 -19.213,27.155 -21.17,44.577c-0.332,2.959 -0.332,12.232 0,15.191c1.165,10.37 4.105,19.724 8.91,28.348c5.97,10.716 14.758,19.971 25.197,26.537c3.188,2.005 9.596,5.163 13.13,6.472c9.28,3.434 19.635,5.094 28.747,4.606l0,-0.001Zm-11.222,-11.21c-10.23,-1.419 -19.981,-5.239 -28.138,-11.024c-4.205,-2.981 -9.394,-7.85 -12.459,-11.689c-7.319,-9.169 -11.753,-19.597 -13.413,-31.546c-0.499,-3.59 -0.5,-12.734 -0.001,-16.277c1.764,-12.533 6.423,-23.104 14.349,-32.554c8.774,-10.461 21.368,-17.977 34.828,-20.785c4.736,-0.988 7.096,-1.211 12.801,-1.212c5.781,-0.002 7.767,0.173 12.331,1.084c13.332,2.662 24.727,9.094 34.076,19.236c7.632,8.278 12.953,18.836 15.125,30.01c0.939,4.833 1.162,7.729 1.052,13.691c-0.14,7.648 -0.865,12.037 -3.096,18.743c-3.276,9.849 -8.288,17.825 -15.815,25.165c-4.79,4.671 -9.54,8.044 -15.559,11.046c-7.318,3.651 -14.54,5.66 -23.28,6.478c-1.96,0.183 -10.631,-0.065 -12.801,-0.366Z"
            style="fill: #4d4d4d; fill-rule: nonzero"
          />
          <path
            id="path479"
            d="M1041.88,1175.64c-0.001,-0.093 -0.001,-0.185 -0.001,-0.278c0,-33.453 27.528,-60.982 60.982,-60.982c33.454,0 60.982,27.529 60.982,60.982c-0,0.093 -0.001,0.185 -0.001,0.278c0,0.093 0.001,0.185 0.001,0.278c-0,33.454 -27.528,60.982 -60.982,60.982c-33.454,-0 -60.982,-27.528 -60.982,-60.982c0,-0.093 0,-0.185 0.001,-0.278Z"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path481"
            d="M1028.05,1175.64c-0.001,-0.143 -0.001,-0.286 -0.001,-0.429c-0,-41.044 33.773,-74.817 74.817,-74.817c41.043,-0 74.817,33.773 74.817,74.817c0,0.143 -0,0.286 -0.001,0.429c0.001,0.143 0.001,0.286 0.001,0.429c0,41.044 -33.774,74.817 -74.817,74.817c-41.044,0 -74.817,-33.773 -74.817,-74.817c-0,-0.143 0,-0.286 0.001,-0.429Z"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            d="M1042.17,1175.31c-0,-33.151 27.804,-60.955 60.955,-60.955c33.151,0 60.954,27.804 60.954,60.955c0,34.22 -27.803,60.955 -60.954,60.955c-33.151,-0 -60.955,-26.735 -60.955,-60.955Z"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            d="M1028.27,1175.31c-0,-25.665 13.902,-49.192 34.22,-62.024c11.763,-8.555 25.665,-12.833 40.637,-12.833c40.636,0 74.856,33.151 74.856,74.857l0,1.069c0,40.637 -34.22,74.857 -74.856,74.857c-40.637,0 -74.857,-34.22 -74.857,-74.857l-0,-1.069Z"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            d="M1023.99,1175.31c0,-42.775 35.29,-79.134 79.135,-79.134c43.844,-0 79.134,36.359 79.134,79.134c0,43.845 -35.29,79.134 -79.134,79.134c-43.845,0 -79.135,-35.289 -79.135,-79.134Z"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
        </g>
        <g id="Furnace_body">
          <path
            id="Furnace_Bottom"
            d="M2220.44,579.659l-281.328,0.072l-302.778,311.996l-86.215,35.51l-252.62,-0.046l-17.091,248.47c-5.334,107.921 -80.183,170.86 -174.146,175.748c-98.052,0.995 -176.459,-70.252 -180.601,-176.054l-17.223,-248.114l-252.535,-0.105l-77.847,-32.145l-577.35,-577.243l-0.079,108.899l588.144,588.179l268.4,-0.202l0.169,268.635l144.929,144.355l201.442,0.119l145.054,-144.583l0.062,-268.35l268.644,-0.157l7.454,-3.719l344.328,-343.696l260.64,-0.091l0.43,-78.784c-0.023,-2.167 -1.725,-4.542 -3.214,-5.963c-1.705,-1.628 -3.814,-2.65 -6.669,-2.731Z"
            style="fill: #ccc; stroke: #000; stroke-width: 1.25px"
          />
          <path
            id="Furnace_Bottom1"
            serif:id="Furnace_Bottom"
            d="M2250.71,667.13l61.632,-0.022l94.396,-173.792l-0.01,-43.168l-76.963,0l-34.481,129.492l-33.374,-0.442c-2.935,0.084 -5.597,1.36 -7.221,2.655c-2.086,1.664 -4.041,3.964 -4.166,6.629l0.187,78.648Z"
            style="fill: #ccc; stroke: #000; stroke-width: 1.25px"
          />
          <path
            id="Furnace_Top"
            d="M462.929,265.15l0.054,287.354l105.308,104.983l-0.009,-315.909c-1.901,-20.359 4.893,-39.549 11.427,-55.464c18.589,-45.275 68.954,-72.284 145.4,-107.648c45.522,-21.058 94.505,-37.726 142.144,-50.255c65.266,-17.164 127.54,-24.606 161.851,-27.659l-0.039,-32.967l-23.329,0.005l-0.026,-13.345l49.376,-0.041l-0.026,-4.639l-49.308,-0.051l-0.054,-27.794c1.28,-12.698 8.05,-19.978 21.065,-21.095l152.218,0.011c13.57,1.348 20.459,8.505 21.086,21.107l-0.043,27.856l-49.359,0.038l0.068,4.557l49.318,-0.002l-0.017,13.414l-23.403,0.014l0.192,32.823c95.165,6.961 236.661,39.709 339.171,95.65c28.146,15.36 57.732,28.933 78.294,47.693c29.091,26.543 43.848,60.397 43.182,97.799l0.063,315.929l207.488,-207.24l94.306,-0.017l0.004,14.431l-347.325,347.299l-41.804,17.289l-0.095,-436.952l-290.981,-57.098l-101.308,-138.599l-109.927,0.078l-101.2,138.557l-291.025,57.194l-0.03,436.897l-41.931,-17.403l-227.63,-227.638l0.021,-319.202l76.833,0.04Z"
            style="fill: #ccc; stroke: #000; stroke-width: 1.25px"
          />
          <path
            id="nozzle_channelCover"
            d="M1550.06,829.328l0.05,97.847l104.553,-3.652l284.444,-288.945l0.203,-170.169l-137.552,95.626l-251.698,269.293Z"
            style="fill: #ccc"
          />
          <path
            id="nozzel_devider"
            d="M2121.09,450.27l-5.331,79.049l-26.605,-0.042l-5.393,-78.92l37.329,-0.087Z"
            style="
              fill: #ccc;
              stroke: #000;
              stroke-width: 1.25px;
              stroke-linecap: round;
            "
          />
          <g id="nozzle_channelCover1" serif:id="nozzle_channelCover">
            <path
              id="nozzle_channelCover2"
              serif:id="nozzle_channelCover"
              d="M1550.83,826.832l-0.427,100.969l104.266,-4.278l284.87,-289.142l-0.352,-170.296l-137.423,95.95l-250.934,266.797Z"
              style="fill: #ccc"
            />
            <path
              d="M1939.33,464.188l0.02,115.547"
              style="
                fill: none;
                stroke: #000;
                stroke-width: 1.25px;
                stroke-linecap: round;
              "
            />
            <path
              d="M1550.2,827.531l0.015,99.707"
              style="
                fill: none;
                stroke: #000;
                stroke-width: 1.25px;
                stroke-linecap: round;
              "
            />
          </g>
          <g id="load_Cover">
            <path
              d="M655.014,827.933l0.172,99.808l-186.943,-63.442l-460.864,-528.776l-6.05,-16.146c-0.003,-0.338 -0.004,-0.677 -0.006,-1.015l-0.424,-0.254l388.717,-0.043l54.398,284.67l211,225.198Z"
              style="fill: #ccc"
            />
            <path
              d="M655.644,827.133l0.161,99.96"
              style="
                fill: none;
                stroke: #000;
                stroke-width: 1.25px;
                stroke-linecap: round;
              "
            />
          </g>
        </g>
        <path
          id="Stopper"
          d="M2222.84,568.099l0.02,-201.945l35.833,-0.01l-0.251,201.992c-0.72,12.512 -7.473,19.809 -17.993,20.195c-9.987,0.367 -17.382,-7.14 -17.609,-20.232Z"
          v-bind:style="stopperStyle"
        />
        <g id="konturer">
          <path
            d="M0.747,317.746l385.347,0.269"
            style="
              fill: none;
              stroke: #000;
              stroke-width: 1.25px;
              stroke-linecap: round;
            "
          />
          <path
            id="path615"
            d="M1029.08,100.539l147.57,0"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path619"
            d="M1055.05,54.23l95.62,-0"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path617"
            d="M1029.08,67.604l147.57,0"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path265"
            d="M1151.25,49.251l-0,109.077"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path281"
            d="M1055,158.328l0,-109.077"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path425"
            d="M1157.66,196.826l0,-142.228"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path337"
            d="M1048.58,54.598l0,142.228"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path283"
            d="M1151.25,158.328l-96.245,0"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path6151"
            serif:id="path615"
            d="M1029.34,100.582l147.575,-0"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path6171"
            serif:id="path617"
            d="M1029.34,67.431l147.575,-0"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path6191"
            serif:id="path619"
            d="M1055,54.598l96.245,0"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path475"
            d="M1048.58,196.826l109.077,0"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path469"
            d="M656.12,392.523l894.005,0"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
          <path
            id="path477"
            d="M946.993,334.777l312.26,-0"
            style="
              fill: none;
              fill-rule: nonzero;
              stroke: #000;
              stroke-width: 1.07px;
              stroke-linejoin: miter;
              stroke-miterlimit: 4;
            "
          />
        </g>
      </g>
    </svg>
  </div>
</template>
<script>
export default {
  props: {
    opckey_main: {
      type: String,
      default: 'FURPOW_Furnace_Inductor_Power',
    },
    opckey_nozzle: {
      type: String,
      default: 'FURPOW_Furnace_Inductor_Power',
    },
    mainValue: {
      type: Number,
      default: 0,
    },
    nozzleValue: {
      type: Number,
      default: 0,
    },
    stopperPos: {
      type: Number,
      default: 0,
    },
    maxMain: {
      type: Number,
      default: 10000,
    },
    maxNozzle: {
      type: Number,
      default: 1000,
    },
    size: {
      type: Number,
      default: 16,
    },
  },
  data() {
    return {
      stopperDown: true,
      pouring: false,
      color1: 'rgb(223, 154, 0)',
      color2: 'transparent',
    }
  },
  computed: {
    // mainValue() {
    //   return this.$store.getters.opc(this.opckey_main).value
    // },
    // nozzleValue() {
    //   return this.$store.getters.opc(this.opckey_nozzle).value
    // },
    // stopperPos() {
    //   //recalculate to match scale 0 - 60 or something
    //   return this.$store.getters.opc('ACT_Act_pos').value
    // },
    fillPercentMain() {
      const procentFill = (this.mainValue / this.maxMain) * 100
      return `${procentFill}%`
    },
    fillPercentNozzle() {
      const procentFill = (this.nozzleValue / this.maxNozzle) * 100
      return `${procentFill}%`
    },
    stopperStyle() {
      return `stroke: #000; stroke-width: 1.25px; transform: translate(0px, -${this.stopperPos}vh);`
    },
  },
  methods: {
    animatePouring() {
      document.getElementById('ani-pour1').beginElement()
      document.getElementById('ani-pour2').beginElement()
    },
  },
  watch: {
    nozzleValue(newValue, oldValue) {
      if (newValue <= 0 && this.demoValueStopper > 0) {
        this.pouring = false
      }
      if (newValue > 0 && oldValue <= 0 && this.demoValueStopper > 0) {
        this.pouring = true
      }
    },
    stopperPos(newValue, oldValue) {
      if (newValue > 0 && oldValue <= 0) {
        this.stopperDown = false
      }
      if (newValue <= 0 && oldValue > 0) {
        this.stopperDown = true
      }
    },
    stopperDown(newValue, oldValue) {
      if (newValue && !oldValue) {
        this.pouring = false
      }
      if (!newValue && oldValue && this.demoValueNozzle > 0) {
        this.pouring = true
      }
    },
    pouring(newValue, oldValue) {
      // open
      if (newValue) {
        this.color1 = 'rgb(223, 154, 0)'
        this.color2 = 'transparent'
      }
      // close
      if (!newValue) {
        this.color1 = 'transparent'
        this.color2 = 'rgb(223, 154, 0)'
      }
      this.animatePouring()
    },
  },
}
</script>

<style scoped></style>
