<template>
  <div>
    <Chart
      :datasets="datasets"
      :labels="labels"
      :name="name"
      :minY="0"
      :maxY="35000"
      :height="200"
      :labelInterval="5"
      :linesInterval="1000"
      :frameRate="1"
    ></Chart>
  </div>
</template>
<script lang="ts">
import { defineComponent, inject, computed } from 'vue'
import Chart from './Chart.vue'
import { LineLaserStateKey } from '../Symbols'
import ChartData from '../types/ChartData'

export default defineComponent({
  setup() {
    const LineLaserState = inject(LineLaserStateKey, new ChartData([]))

    const labels = computed(() => Object.values(LineLaserState.labels.list))
    const datasets = computed(() => [
      {
        color: LineLaserState.color,
        values: Object.values(LineLaserState.data.list),
        pointSize: 2,
      },
    ])

    return {
      datasets,
      labels,
    }
  },
  data() {
    return {
      chart: {},
      name: 'linelaser-canvas',
    }
  },

  components: {
    Chart,
  },
})
</script>
