<template>
  <div>
    <Chart
      :datasets="datasets"
      :labels="labels"
      :name="name"
      :minY="0"
      :maxY="512"
      :height="512"
      :labelInterval="100"
      :linesInterval="25"
    ></Chart>
  </div>
</template>
<script>
import Chart from './Chart.vue'
import RGBColor from '../RGBColor'
import Dataset from '../Dataset.ts'

export default {
  data() {
    return {
      chart: {},
      name: 'sensorimg-canvas',
    }
  },
  computed: {
    sensorData() {
      return this.$store.getters.sensorGraphMockData
    },
    datasets() {
      return [new Dataset(this.sensorData, new RGBColor(0, 90, 180), 2, true)]
    },
    labels() {
      return new Array(Math.ceil(512)).fill(0)
    },
  },
  components: {
    Chart,
  },
}
</script>
