<template>
  <span
    type="button"
    :id="id"
    @click="activateKeyboard"
    :class="`-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 text-lg font-medium focus:outline-none w-${width}/12`"
  >
    {{ value }}
    <BaseKeyboard
      :initValue="value"
      keyboardType="string"
      @input="updateValue"
      @onDone="updateOpc"
      @onClose="hideKeyboard"
      :showKeyboard="showKeyboard"
      :setInit="true"
      :doneButtonText="doneButtonText"
      :enterDisabled="enterDisabled"
    />
  </span>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'

export default {
  props: {
    opckey: {
      type: String,
      required: true,
    },
    doneButtonText: {
      type: String,
    },
    enterDisabled: {
      type: Boolean,
      default: false,
    },
    width: {
      type: Number,
      default: 12,
    },
  },
  data() {
    return {
      input: '',
      showKeyboard: false,
      id: '',
    }
  },
  mounted() {
    this.$emit('newValue', this.value)
    this.id = uuidv4()
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
  },
  methods: {
    updateValue(input) {
      this.input = input
    },
    activateKeyboard() {
      this.showKeyboard = true
    },
    hideKeyboard() {
      this.showKeyboard = false
    },
    updateOpc() {
      this.$emit('done')
      this.$store.dispatch('updateOPCData', {
        key: this.opckey,
        value: this.input,
      })
    },
  },
  watch: {
    input(newValue) {
      this.$emit('newValue', newValue)
    },
  },
}
</script>
