<template>
  <div
    id="button"
    @click="serviceSwitch"
    :class="`rounded-t-2xl ${selected ? 'bg-infowindow' : ''} h-full w-full`"
  >
    <!-- navButtons -->
    <slot></slot>
  </div>
</template>

<script>
/**
 * <slot> for inline SVG. Adds push effect to svg-paths with id="pressdown"
 */
export default {
  props: {
    name: String,
    serviceMode: Boolean,
  },
  computed: {
    activeView() {
      return this.$store.state.activeViewName
    },
    buttonIsServiceSwitch() {
      return this.name === 'service-switch'
    },
    selected() {
      return this.name === this.activeView
    },
  },
  methods: {
    serviceSwitch() {
      this.$emit('view-switch', this.name)
      if (this.buttonIsServiceSwitch) {
        this.$emit('service-mode')
      }
    },
  },
}
</script>
