<template>
  <div :class="`flex flex-col justify-center col-span-${columnSize}`">
    <span class="relative inline-flex shadow-sm rounded-md px-4 h-12 w-full">
      <span
        class="-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 bg-white text-lg overflow-clip overflow-hidden font-medium focus:outline-none rounded-l-md w-2/3"
      >
        {{ selected }}
      </span>

      <button
        @click="toggleModal"
        class="-ml-px relative inline-flex justify-center overflow-clip overflow-hidden items-center px-1 py-1 rounded-r-md text-sm text-center font-medium bg-button focus:outline-none active:bg-buttonpressed border-4 border-button text-white w-1/3"
      >
        <resolveText :textRef="nameRef" />
      </button>
    </span>

    <div v-if="showModal" class="fixed z-40 inset-0 overflow-y-auto">
      <div
        class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
      >
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >
        <div
          class="inline-block align-bottom bg-infowindow rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle w-3/5 h-main-half"
          aria-modal="true"
          aria-labelledby="modal-headline"
        >
          <div class="grid grid-cols-6 grid-rows-6 h-full">
            <select
              class="col-span-3 row-span-5"
              multiple
              :size="selections.length"
              @change="currentlySelected($event)"
            >
              <option v-for="item in selections" :key="item" :value="item">
                {{ item }}
              </option>
            </select>
            <div
              class="row-span-4 col-span-3 bg-infowindow text-white overflow-hidden"
            >
              <div class="px-4 py-5 sm:p-6">
                <dt class="text-lg font-medium text-gray-500 truncate">
                  <resolveText :textRef="modeTextRef" />
                </dt>
                <dd class="mt-1 text-2xl font-semibold text-white">
                  {{ selected }}
                </dd>
              </div>
            </div>
            <BaseButton
              nameRef="Close"
              class="row-start-6 col-start-1"
              @buttonpressed="toggleModal"
              :columnSize="1"
              :rowSize="1"
            />
            <BaseButton
              nameRef="Set"
              class="row-start-6 col-start-6"
              @buttonpressed="setSelected"
              :columnSize="1"
              :rowSize="1"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import resolveText from './brickComponents/ResolveText.vue'

export default {
  components: {
    resolveText,
  },
  data() {
    return {
      isSelected: '',
      showModal: false,
    }
  },
  props: {
    nameRef: {
      type: [Number, String],
      default: 'NoNameButton',
    },
    modeTextRef: {
      type: [Number, String],
      default: 'Active_Mode',
    },
    selections: {
      type: Array,
      required: true,
    },
    opckey: {
      type: String,
      required: true,
    },
    columnSize: {
      type: Number,
      default: 8,
    },
    rowSize: {
      type: Number,
      default: 4,
    },
  },
  mounted() {
    this.isSelected = this.selected
  },
  methods: {
    currentlySelected(event) {
      const target = event.target
      this.isSelected = target.value
    },
    setSelected() {
      this.$emit('toggle-modal')
      this.$store.dispatch('updateOPCData', {
        key: this.opckey,
        value: this.selections.indexOf(this.isSelected),
      })
    },
    toggleModal() {
      this.showModal = !this.showModal
    },
  },
  computed: {
    selected() {
      return this.selections[this.$store.getters.opc(this.opckey).value]
    },
  },
}
</script>
