<template>
  <div class="navigation-bar">
    <div class="grid-item" v-for="(m, i) in buttons" :key="i">
      <MainBarButton
        :name="m.name"
        :serviceMode="serviceMode"
        @service-mode="setServiceMode"
        @view-switch="viewPanel"
      >
        <component :is="m.component" :key="i" :serviceMode="serviceMode" />
      </MainBarButton>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MainBarButton from '../components/MainBarButton.vue'
import Home from '../components/navButtons/Home.vue'
import OneLetter from '../components/navButtons/OneLetter.vue'
import Laser from '../components/navButtons/Laser.vue'
import Pouring from '../components/navButtons/Pouring.vue'
import CT from '../components/navButtons/CT.vue'
import LT from '../components/navButtons/LT.vue'
import CT_LT from '../components/navButtons/CT_LT.vue'
import Diagnostics from '../components/navButtons/Diagnostics.vue'
import Statistics from '../components/navButtons/Statistics.vue'
import SwitchToService from '../components/navButtons/SwitchToService.vue'
import SwitchToMain from '../components/navButtons/SwitchToMain.vue'
import HMI_Settings from '../components/navButtons/HMI_Settings.vue'
import FurnacePower from '../components/navButtons/FurnacePower.vue'
import Alarms from '../components/navButtons/Alarms.vue'
import Actuator from '../components/navButtons/Actuator.vue'
import FurnacePressure from '../components/navButtons/FurnacePressure.vue'
import Inoculation from '../components/navButtons/Inoculation.vue'
import Network from '../components/navButtons/Network.vue'
import Burner from '../components/navButtons/Burner.vue'

export default {
  name: 'BottomBar',
  components: {
    MainBarButton,
    Home,
    OneLetter,
    Pouring,
    CT,
    CT_LT,
    LT,
    Diagnostics,
    Statistics,
    Laser,
    SwitchToService,
    SwitchToMain,
    HMI_Settings,
    FurnacePower,
    FurnacePressure,
    Alarms,
    Actuator,
    Inoculation,
    Network,
    Burner,
  },
  props: {
    msg: String,
  },
  data() {
    return {
      serviceMode: false,
    }
  },
  computed: {
    ...mapState(['menuButtons', 'serviceButtons']),
    buttons() {
      return this.serviceMode ? this.serviceButtons : this.menuButtons
    },
  },
  methods: {
    setServiceMode() {
      this.serviceMode = !this.serviceMode
    },
    viewPanel(panelName) {
      this.$store.dispatch('viewPanel', panelName)
      this.$router.push({ path: '/', query: { panelName: panelName } })
    },
  },
}
</script>
