<template>
  <div
    :class="`flex flex-col justify-center col-span-${columnSize} row-span-${rowSize}`"
  >
    <span
      id="parameter-controll"
      :class="`relative z-0 inline-flex shadow-sm rounded-md px-4 h-full`"
    >
      <span
        :class="`-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 ${
          editMode ? 'bg-highlight' : 'bg-white'
        } text-lg font-medium focus:outline-none rounded-l-md w-2/12`"
        >#
        {{
          editMode
            ? getPatternIndex(patternEditName)
            : getPatternIndex(patternCurrentName)
        }}</span
      >

      <span
        type="button"
        :class="`-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 ${
          editMode ? 'bg-highlight' : 'bg-white'
        } text-lg font-medium focus:outline-none w-5/12`"
        v-if="!editMode"
        >{{ patternCurrentName }}</span
      >

      <inlineButton
        v-if="editMode"
        :class="`${editMode ? 'bg-highlight' : 'bg-white'}`"
        opckey="Pattern_Edit.name"
        id="patternEditName"
        :width="5"
        :enterDisabled="editNameOk"
        @newValue="updateEditName"
        @done="savePattern"
      />

      <span
        :class="`-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 ${
          editMode ? 'bg-highlight' : 'bg-white'
        } text-lg font-medium focus:outline-none w-1/12`"
        @click="toggleModal"
      >
        <font-awesome-icon icon="lock" />
      </span>

      <span
        :class="`-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 ${
          editMode ? 'bg-highlight' : 'bg-white'
        } text-lg font-medium focus:outline-none w-1/12`"
        @click="toggleModal"
      >
        <font-awesome-icon icon="folder-open" />
      </span>

      <span
        :class="`-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 ${
          editMode ? 'bg-highlight' : 'bg-white'
        } text-lg font-medium focus:outline-none w-1/12`"
        @click="setNewPattern"
      >
        <font-awesome-icon icon="redo" />
      </span>

      <span
        :class="`-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 ${
          editMode ? 'bg-highlight' : 'bg-white'
        } text-lg font-medium focus:outline-none w-1/12`"
        @click="savePattern"
      >
        <font-awesome-icon icon="save" />
      </span>

      <span
        :class="`-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 ${
          editMode ? 'bg-highlight' : 'bg-white'
        } text-lg font-medium focus:outline-none rounded-r-md w-1/12`"
        @click="unSelect"
      >
        <font-awesome-icon icon="sign-out-alt" />
      </span>
    </span>
    <span
      :class="`relative z-10 inline-flex shadow-sm rounded-md px-4 h-${height}`"
      v-if="queNewPattern && editMode"
    >
      <span
        :class="`-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 ${
          editMode ? 'bg-highlight' : 'bg-white'
        } text-lg font-medium focus:outline-none rounded-l-md w-2/12`"
        >#
        {{
          editMode
            ? getPatternIndex(patternCurrentName)
            : getPatternIndex(patternEditName)
        }}
      </span>

      <span
        :class="`-ml-px relative inline-flex items-center justify-center px-4 py-2 border border-gray-300 ${
          editMode ? 'bg-highlight' : 'bg-white'
        } text-lg font-medium focus:outline-none rounded-r-md w-5/12`"
        >{{ editMode ? patternCurrentName : patternEditName }}</span
      >
    </span>
    <patternSelect :showModal="showModal" @toggle-modal="toggleModal" />
  </div>
</template>

<script>
import inlineButton from '../components/InlineButtonEditOpcString.vue'
import patternSelect from '../components/PatternSelect.vue'

export default {
  components: {
    inlineButton,
    patternSelect,
  },
  data() {
    return {
      showModal: false,
      editName: '',
      editNameOk: false,
    }
  },
  props: {
    columnSize: {
      type: Number,
      default: 8,
    },
    rowSize: {
      type: Number,
      default: 5,
    },
  },
  methods: {
    savePattern() {
      this.editName = ''
      setTimeout(() => {
        this.$store.dispatch('updateOPCData', {
          key: 'HMI_Command_state_1',
          value: 5,
        })
      }, 400)
    },
    setNewPattern() {
      this.$emit('normalMode')

      this.$store.dispatch('updateOPCData', {
        key: 'HMI_Command_state_1',
        value: 4,
      })
    },
    unSelect() {
      this.isSelected = ''
      this.$emit('normalMode')

      this.quePatternName = ''

      this.$store.dispatch('updateOPCData', {
        key: 'HMI_Command_state_1',
        value: 6,
      })
    },
    getPatternIndex(pattern) {
      return this.patternList.indexOf(pattern) + 1
    },
    toggleModal() {
      this.showModal = !this.showModal
    },
    updateEditName(value) {
      this.editName = value
    },
    checkPatternName(newName) {
      const hasDuplicate = this.patternList.find((name) => name === newName)
      return !(
        newName &&
        newName.length > 0 &&
        newName !== 'Default_name' &&
        !hasDuplicate
      )
    },
  },
  computed: {
    editMode() {
      return this.$store.getters.opc('HMI_Pattern_edit_mode').value
    },
    patternCurrentName() {
      return this.$store.getters.opc('Pattern_current.name').value
    },
    patternEditName() {
      return this.$store.getters.opc('Pattern_Edit.name').value
    },
    patternList() {
      return this.$store.getters.opc('HMI_Pattern_names').value
        ? this.$store.getters
            .opc('HMI_Pattern_names')
            .value.filter((pattern) => pattern !== 'Default_name')
        : []
    },
    patternCurrentNumber() {
      return this.$store.getters.opc('Pattern_current.numb').value
    },
    patternEditNumber() {
      return this.$store.getters.opc('HMI_Patt_edit_index').value
    },
    queNewPattern() {
      return this.patternEditNumber !== this.patternCurrentNumber
    },
  },
  watch: {
    editMode(newValue) {
      if (!newValue) {
        this.$emit('normalMode')
      }
    },
    editName() {
      this.editNameOk = this.checkPatternName(this.editName)
    },
  },
}
</script>
