<template>
  <div v-if="showModal" class="fixed z-10 inset-0 overflow-y-auto">
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        class="inline-block align-bottom bg-infowindow rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle w-3/5 h-main-half"
        aria-modal="true"
        aria-labelledby="modal-headline"
      >
        <div class="grid grid-cols-6 grid-rows-6 h-full">
          <select
            class="col-span-3 row-span-5"
            multiple
            :size="patternList.length"
            @click="currentlySelected($event)"
          >
            <option
              v-for="(item, index) in patternList"
              :key="index"
              :value="item"
            >
              {{ item }}
            </option>
          </select>
          <div
            class="col-start-4 col-span-3 row-span-4 bg-infowindow text-white overflow-hidden"
          >
            <div class="px-4 py-5 sm:p-6">
              <dt class="text-lg font-medium text-gray-500 truncate">
                Active Pattern
              </dt>
              <dd class="mt-1 text-2xl font-semibold text-white">
                {{ patternCurrentName || 'Test current pattern' }}
              </dd>
            </div>
          </div>
          <BaseButton
            nameRef="Close"
            class="row-start-6"
            @buttonpressed="toggleModal"
            :columnSize="1"
            :rowSize="1"
          />
          <BaseButton
            nameRef="Delete"
            class="row-start-6 col-start-2"
            @buttonpressed="deletePattern"
            :columnSize="1"
            :rowSize="1"
          />
          <BaseButton
            nameRef="NewPattern"
            class="row-start-6 col-start-3"
            @buttonpressed="createNewPattern()"
            :columnSize="1"
            :rowSize="1"
          />
          <BaseButton
            nameRef="SetPattern"
            class="row-start-6 col-start-6"
            @buttonpressed="quePattern"
            :columnSize="1"
            :rowSize="1"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    showModal: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      name: 'Pattern Select',
      isSelected: '',
      quePatternName: '',
      newPatternName: '',
    }
  },
  computed: {
    editMode() {
      return this.$store.getters.opc('HMI_Pattern_edit_mode').value
    },
    patternCurrentName() {
      return this.$store.getters.opc('Pattern_current.name').value
    },
    patternEditName() {
      return this.$store.getters.opc('Pattern_Edit.name').value
    },
    patternCurrentNumber() {
      return this.$store.getters.opc('Pattern_current.numb').value
    },
    patternEditNumber() {
      return this.$store.getters.opc('HMI_Patt_edit_index').value
    },
    patternList() {
      return this.$store.getters.opc('HMI_Pattern_names').value
        ? this.$store.getters
            .opc('HMI_Pattern_names')
            .value.filter((pattern) => pattern !== 'Default_name')
        : []
    },
  },
  methods: {
    currentlySelected(event) {
      this.isSelected = this.patternList[event.target.index]
    },
    quePattern() {
      this.$emit('activateEditMode')
      this.quePatternName = this.isSelected
      this.$store.dispatch('updateOPCData', {
        key: 'HMI_Command_state_2',
        value: this.patternList.indexOf(this.isSelected) + 1,
      })
      this.$store.dispatch('updateOPCData', {
        key: 'HMI_Command_state_1',
        value: 2,
      })
      this.$emit('toggle-modal')
    },
    setNewPattern() {
      this.$emit('normalMode')

      this.$store.dispatch('updateOPCData', {
        key: 'HMI_Command_state_1',
        value: 4,
      })
    },
    activateEditMode() {
      this.$emit('activateEditMode')

      this.$store.dispatch('updateOPCData', {
        key: 'HMI_Command_state_1',
        value: 1,
      })
    },
    deletePattern() {
      this.$store.dispatch('updateOPCData', {
        key: 'HMI_Command_state_2',
        value: this.patternList.indexOf(this.isSelected) + 1,
      })
      this.$store.dispatch('updateOPCData', {
        key: 'HMI_Command_state_1',
        value: 3,
      })
    },
    createNewPattern() {
      this.isShowModal = false
      this.$store.dispatch('updateOPCData', {
        key: 'HMI_Command_state_2',
        value: 0,
      })
      this.activateEditMode()
      this.$emit('toggle-modal')
    },
    getPatternIndex(pattern) {
      return this.patternList.indexOf(pattern) + 1
    },
    toggleModal() {
      this.$emit('toggle-modal')
    },
  },
  created: function () {
    if (this.editMode) {
      this.$emit('activateEditMode')
    }
  },
}
</script>
