<template>
  <div>
    <div style="min-height: 200px; margin: 10px" :id="name"></div>
  </div>
</template>
<script>
import P5 from 'p5'

export default {
  data() {
    return {
      canvas: {},
      width: 600,
      height: 400,
      name: 'editable-graph',
    }
  },
  computed: {
    achList() {
      return this.$store.getters.achievedLevel.list
    },
    pourTime() {
      return this.$store.getters.opc('Pattern_Edit.pour_time').value
    },

    nbrOfLevels() {
      return this.$store.getters.opc('Pattern_Edit.number_of_levels').value
    },

    timeRamp() {
      return this.$store.getters.opc('Pattern_Edit.time_ramp').value
    },

    level1() {
      return this.$store.getters.opc('Pattern_Edit.level_1').value
    },

    timeLevel1() {
      return this.$store.getters.opc('Pattern_Edit.time_L1').value
    },

    timeLevel1tolevel2() {
      return this.$store.getters.opc('Pattern_Edit.time_L1_L2').value
    },

    level2() {
      return this.$store.getters.opc('Pattern_Edit.level_2').value
    },
    minY() {
      return this.height
    },
    startingX() {
      return 20
    },
    startingY() {
      return this.minY - 10
    },
    numberOfGridSteps() {
      return this.maxYinMm - this.minYinMm
    },
    gridStepSize() {
      return this.startingY / this.numberOfGridSteps
    },
    minYinMm() {
      return 75
    },
    maxYinMm() {
      return 116
    },
    maxX() {
      return this.width
    },
    sampleRate() {
      return 25
    },
    maxXinMilliseconds() {
      return this.pourTime * this.sampleRate
    },
    xFactor() {
      return this.maxX / this.maxXinMilliseconds
    },
    boxes() {
      if (this.nbrOfLevels === 1) {
        return [
          {
            id: 0,
            x: this.startingX,
            y: this.startingY,
            draggable: false,
          },
          {
            id: 1,
            x: this.startingX,
            y:
              this.startingY -
              this.gridStepSize * (this.level1 - this.minYinMm),
            minX: this.startingX,
            pair: 2,
            draggable: true,
          },
          {
            id: 2,
            x: this.maxX,
            y: this.startingY - this.gridStepSize * 4,
            pair: 1,
            draggable: true,
          },
        ]
      } else if (this.nbrOfLevels === 2) {
        return [
          {
            id: 0,
            x: this.startingX,
            y: this.startingY,
            draggable: false,
          },
          {
            id: 1,
            x: this.startingX + this.xFactor * this.timeRamp * this.sampleRate,
            y:
              this.startingY -
              this.gridStepSize * (this.level1 - this.minYinMm),
            minX: this.startingX,
            pair: 2,
            draggable: true,
          },
          {
            id: 2,
            x:
              this.startingX +
              this.xFactor *
                (this.timeRamp + this.timeLevel1) *
                this.sampleRate,
            y:
              this.startingY -
              this.gridStepSize * (this.level1 - this.minYinMm),
            pair: 1,
            draggable: true,
          },
          {
            id: 3,
            x:
              this.startingX +
              this.xFactor *
                (this.timeRamp + this.timeLevel1 + this.timeLevel1tolevel2) *
                this.sampleRate,
            y:
              this.startingY -
              this.gridStepSize * (this.level2 - this.minYinMm),
            pair: 4,
            draggable: true,
          },
          {
            id: 4,
            x: this.maxX,
            y:
              this.startingY -
              this.gridStepSize * (this.level2 - this.minYinMm),
            pair: 3,
            draggable: true,
          },
        ]
      } else if (this.nbrOfLevels === 3) {
        return [
          {
            id: 0,
            x: this.startingX,
            y: this.startingY,
            draggable: false,
          },
          {
            id: 1,
            x: this.startingX,
            y: this.startingY - this.gridStepSize * 6,
            minX: this.startingX,
            pair: 2,
            draggable: true,
          },
          {
            id: 2,
            x: 200,
            y: this.startingY - this.gridStepSize * 6,
            pair: 1,
            draggable: true,
          },
          {
            id: 3,
            x: 250,
            y: this.startingY - this.gridStepSize * 3,
            pair: 4,
            draggable: true,
          },
          {
            id: 4,
            x: 270,
            y: this.startingY - this.gridStepSize * 3,
            pair: 3,
            draggable: true,
          },
          {
            id: 5,
            x: 300,
            y: this.startingY - this.gridStepSize * 4,
            pair: 6,
            draggable: true,
          },
          {
            id: 6,
            x: this.maxX,
            y: this.startingY - this.gridStepSize * 4,
            pair: 5,
            draggable: true,
          },
        ]
      } else {
        return []
      }
    },
    pairs() {
      const pairs = []
      for (const b of this.boxes) {
        if (b.pair && this.boxes[b.pair].pair === b.id) {
          const p = {
            y1: b.y,
            y2: this.boxes[b.pair].y,
            x1: b.x,
            x2: this.boxes[b.pair].x,
            p1: b.id,
            p2: b.pair,
          }
          pairs.push(p)
        }
      }
      return pairs
    },
  },
  unmounted() {
    this.canvas.remove()
  },
  mounted() {
    const sketch = (s) => {
      const boxSize = 1
      let currentBox
      const maxY = 10
      let minX = 10
      let yIntervals = []

      s.setup = () => {
        minX = this.startingX
        s.frameRate(25)
        s.blendMode(s.REPLACE)
        const canvasDiv = document.getElementById(this.name)
        this.width = canvasDiv.offsetWidth
        this.height = canvasDiv.offsetHeight

        s.createCanvas(this.width, this.height, 'WEBGL')
        s.rectMode(s.RADIUS)
        s.strokeWeight(2)

        for (let index = 0; index < this.maxYinMm - this.minYinMm; index += 2) {
          const y = -index * this.gridStepSize
          const interval = [
            [0, y],
            [this.maxX, y],
          ]
          yIntervals.push(interval)
        }
      }

      s.draw = () => {
        const canvasDiv = document.getElementById(this.name)
        let w
        let h
        if (canvasDiv) {
          w = canvasDiv.offsetWidth
          h = canvasDiv.offsetHeight
        } else {
          w = 0
          h = 0
        }
        if (w !== this.width && h !== this.height) {
          this.width = w
          this.height = h
          s.resizeCanvas(this.width, this.height)
          yIntervals = []
          for (let index = 0; index < 20; index++) {
            const y = -index * this.gridStepSize
            const interval = [
              [0, y],
              [this.maxX, y],
            ]
            yIntervals.push(interval)
          }
        }

        // s.background(0, 0, 0)
        s.stroke(139, 139, 139)
        s.strokeWeight(0.5)
        s.fill(139, 139, 139)
        yIntervals.forEach((interval, i) => {
          if (i % 5 === 0) {
            s.stroke(139, 139, 139)
            s.text(
              this.minYinMm + i,
              interval[0][0],
              this.startingY + interval[0][1] + 3
            )
          } else {
            s.stroke(139, 139, 139)
          }
          s.line(
            this.startingX + interval[0][0] + 3,
            this.startingY + interval[0][1],
            interval[1][0],
            this.startingY + interval[1][1]
          )
        })
        // Nodes n edges
        s.strokeWeight(3)
        s.fill(45, 174, 49)
        s.stroke(45, 174, 49)
        // Test if the cursor is over any of the this.boxes
        // for (let i = 0; i < this.boxes.length; i++) {
        //   const box = this.boxes[i]

        //   if (
        //     s.mouseX > box.x - boxSize &&
        //     s.mouseX < box.x + boxSize &&
        //     s.mouseY > box.y - boxSize &&
        //     s.mouseY < box.y + boxSize
        //   ) {
        //     currentBox = box
        //     break
        //   }
        // }

        s.fill(238, 212, 9)
        s.stroke(238, 212, 9)
        for (let i = 0; i < this.achList.length; i++) {
          const y =
            this.startingY -
            (this.achList[i] - this.minYinMm) * this.gridStepSize
          const x = this.startingX + this.xFactor * i
          s.circle(x, y, 1)
          if (i) {
            s.line(
              this.startingX + this.xFactor * (i - 1),
              this.startingY -
                (this.achList[i - 1] - this.minYinMm) * this.gridStepSize,
              x,
              y
            )
          }
        }

        s.fill(45, 174, 49)
        s.stroke(45, 174, 49)
        s.circle(this.boxes[0].x, this.boxes[0].y, boxSize)
        for (let i = 1; i < this.boxes.length; i++) {
          const box = this.boxes[i]
          s.line(this.boxes[i - 1].x, this.boxes[i - 1].y, box.x, box.y)
          s.circle(box.x, box.y, boxSize)
        }

        //s.noLoop()
      }

      s.windowResized = () => {
        s.resizeCanvas(this.width, this.height)
      }

      // s.mouseClicked = () => {
      //   for (const { y1, x1, x2, p1, p2 } of this.pairs) {
      //     if (s.mouseX > x1 && s.mouseX < x2) {
      //       let inc
      //       if (s.mouseY < y1) {
      //         inc = -this.gridStepSize
      //       } else {
      //         inc = this.gridStepSize
      //       }
      //       this.boxes[p1].y += inc
      //       this.boxes[p2].y += inc
      //     }
      //   }
      // }

      // s.mouseDragged = () => {
      //   s.loop()
      //   if (currentBox != null) {
      //     if (currentBox.draggable && currentBox.id + 1 !== this.boxes.length) {
      //       const boxIndex = this.boxes.indexOf(currentBox)
      //       let maxXForBox = this.maxX
      //       if (boxIndex != this.boxes.length - 1) {
      //         maxXForBox = this.boxes[boxIndex + 1].x - boxSize
      //       }
      //       let minXForBox = minX
      //       if (boxIndex != 0) {
      //         minXForBox =
      //           currentBox.minX !== undefined
      //             ? currentBox.minX
      //             : this.boxes[boxIndex - 1].x + boxSize
      //       }
      //       currentBox.x = s.mouseX.clamp(minXForBox, maxXForBox)
      //     }
      //     if (currentBox.draggable) {
      //       currentBox.y = s.mouseY.clamp(maxY, this.startingY)
      //     }
      //     if (currentBox.pair != null) {
      //       this.boxes[currentBox.pair].y = currentBox.y
      //     }
      //   }
      // }

      // s.mouseReleased = () => {
      //   if (currentBox != null) {
      //     const diff = currentBox.y % this.gridStepSize
      //     if (diff !== 0) {
      //       if (diff > this.gridStepSize / 2) {
      //         currentBox.y = currentBox.y + (this.gridStepSize - diff)
      //       } else {
      //         currentBox.y = currentBox.y - diff
      //       }
      //       if (currentBox.pair != null) {
      //         this.boxes[currentBox.pair].y = currentBox.y
      //       }
      //     }
      //     currentBox.overBox = false
      //     currentBox = null
      //   }
      // }

      Number.prototype.clamp = function (min, max) {
        return Math.min(Math.max(this, min), max)
      }
    }
    this.canvas = new P5(sketch, 'editable-graph')
  },
}
</script>
