<template>
  <div>
    <Chart
      :datasets="datasets"
      :labels="labels"
      :name="name"
      :minY="0"
      :maxY="401"
      :labelInterval="50"
      :linesInterval="10"
    ></Chart>
  </div>
</template>
<script>
import Chart from './Chart.vue'
import RGBColor from './../RGBColor'

export default {
  data() {
    return {
      chart: {},
      name: 'rod-canvas',
    }
  },
  computed: {
    datasets() {
      return [
        {
          values: this.rod,
          color: new RGBColor(255, 219, 25),
        },
      ]
    },
    arrayLength() {
      Object.values(this.$store.getters.opc('rod_position').value).length
    },
    rod() {
      return Object.values(this.$store.getters.opc('rod_position').value)
        .slice(0, this.arrayLength)
        .map((x) => x / 10)
    },
    pourTime() {
      return this.$store.getters.opc('Pattern_Edit.pour_time').value
    },
    sampleRate() {
      return 25
    },
    labels() {
      return new Array(Math.ceil(this.pourTime * this.sampleRate)).fill(0)
    },
  },
  components: {
    Chart,
  },
}
</script>
