<template>
  <div class="grid-container">
    <div class="grid-item" v-for="(item, i) in opclist" :key="i">
      <BaseEditOpcNumber
        class="grid-subitem"
        :opckey="item.key"
        :name="item.name"
        :id="i"
        :columnSize="12"
      />
    </div>
  </div>
</template>

<script>
/**
 * Takes a list of opc variables with a maximum amount of 31. Displays them divided in 5 colums.
 */

export default {
  props: {
    opclist: { type: Array, required: true },
  },
}
</script>
<style scoped>
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-subitem {
  justify-items: center;
}
</style>
