<template>
  <div class="flex flex-col">
    <label :for="name" class="text-white px-2">{{ name }}</label>
    <div class="overflow-x-hidden overflow-y-scroll h-full px-2">
      <div class="align-middle inline-block min-w-full">
        <div
          class="shadow overflow-hidden border-b border-l border-r border-t border-gray-200"
        >
          <table :id="name" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-infowindow text-white min-w-full">
              <tr>
                <th
                  v-for="(column, index) in tableColumns"
                  :key="index"
                  class="px-1 py-1 text-xs text-center font-medium text-white tracking-wider"
                >
                  {{ column.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in tableContent"
                :class="`${
                  currentlySelected === index ? 'bg-gray-200' : 'bg-white'
                } justify-start hover:bg-gray-200`"
                :key="index"
                :value="item"
                @click="select(item, index)"
              >
                <td
                  class="px-1 py-2 whitespace-nowrap text-center text-lg font-medium text-gray-900"
                  v-for="(column, index) in tableColumns"
                  :key="index * 13"
                >
                  {{ readItem(item, column.objectKey) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: 'default-table',
    },
    tableColumns: {
      type: Array,
      default: () => [{ title: 'List', objectKey: '' }],
    },
    tableContent: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      currentlySelected: 0,
    }
  },
  methods: {
    select(item, index) {
      this.currentlySelected = index
      this.$emit('selected', item)
    },
    readItem(item, objectKey) {
      let itemValue
      if (typeof item === 'string') {
        itemValue = item
      } else {
        itemValue = item[objectKey]
      }
      return itemValue
    },
  },
}
</script>
