<template>
  <div
    :class="`grid subgrid-row subgrid-col row-span-${rowSize} col-span-${columnSize}`"
  >
    <nav
      class="relative z-0 border border-button rounded-lg shadow flex divide-x divide-gray-200 row-span-4 col-span-full mx-1 mt-1"
      aria-label="Tabs"
    >
      <a
        @click="changeTab(tab.text)"
        v-for="(tab, i) in tabs"
        :key="i"
        aria-current="page"
        class="flex items-center justify-center text-white group relative min-w-0 flex-1 overflow-hidden bg-infolist py-1 px-1 text-sm font-medium text-center hover:bg-gray-500 focus:z-10"
        v-bind:class="{
          'bg-infowindow': activeTab === tab.text,
          'rounded-l-lg': i === 0,
          'rounded-r-lg': i === tabs.length - 1,
        }"
      >
        <p>{{ tab.text }}</p>
        <span
          v-if="activeTab === tab.text"
          class="bg-highlight absolute inset-x-0 bottom-0 h-0.5"
        ></span>
      </a>
    </nav>
    <component
      v-for="(item, i) in content"
      :key="i"
      :is="item.component"
      v-show="activeTab === item.tab"
      v-bind="{ ...item }"
    />
  </div>
</template>

<script>
import serviceopclist from './ServiceOPCList.vue'

export default {
  components: {
    serviceopclist,
  },
  props: {
    tabs: {
      type: Array,
    },
    columnSize: {
      type: Number,
      default: 12,
    },
    rowSize: {
      type: Number,
      default: 12,
    },
    /**
     * {
     * component: 'xxx',
     * tab: 'Tab X'
     * }
     */
    content: {
      type: Array,
    },
  },
  data() {
    return {
      activeTab: '',
    }
  },
  mounted() {
    this.activeTab = this.tabs[0].text
  },
  methods: {
    changeTab(tab) {
      this.activeTab = tab
    },
  },
}
</script>
