<template>
  <div class="column" v-bind:class="classObject">
    <span
      class="tag"
      style="display: flex; background: transparent; color: white"
    >
      {{ name }}
    </span>
    <progress
      class="progress"
      v-bind:class="stateObject"
      :value="value"
      :max="max"
      style="margin-bottom: 0rem"
    />
    <span class="tag" style="display: flex; box-shadow: inset 0 0 2px #2f2f2f">
      {{ value }} C°
    </span>
  </div>
</template>

<script>
export default {
  props: {
    opckey: {
      type: String,
      required: true,
    },
    name: {
      type: String,
    },
    max: {
      type: Number,
      required: true,
    },
    columnSize: {
      type: Number,
      default: 3,
    },
  },
  computed: {
    value() {
      return this.$store.getters.opc(this.opckey).value
    },
    stateObject() {
      return {
        'is-success': this.value < this.max / 3,
        'is-warning':
          this.value > this.max / 3 && this.value < (this.max / 3) * 2,
        'is-danger': this.value > (this.max / 3) * 2,
      }
    },
    classObject() {
      return {
        'is-2': this.columnSize === 2,
        'is-3': this.columnSize === 3,
        'is-4': this.columnSize === 4,
        'is-12': this.columnSize === 12,
      }
    },
  },
}
</script>

<style scoped></style>
