<template>
  <div class="topbar text-xl text-white text-center">
    <resolveEnum :opcValue="syncStatus" enums="syncStatus" />
    <resolveEnum :opcValue="pourStatus" enums="pourStatus" />
    <p>{{ actualTime }}</p>
  </div>
</template>

<script>
import resolveEnum from '../components/brickComponents/ResolveEnum.vue'

export default {
  components: {
    resolveEnum,
  },
  computed: {
    actualTime() {
      return this.$store.getters
        .opc('Actual_time')
        .value.replace(/.*T/, ' ')
        .replace(/.000Z/, '')
    },
    pourStatus() {
      return this.$store.getters.opc('POUR_status').value
    },
    syncStatus() {
      return this.$store.getters.opc('SYNC_status').value
    },
  },
}
</script>
