<template>
  <div class="flex flex-col">
    <h1 class="text-2xl font-semibold text-gray-900">Datapoints</h1>
    <div class="overflow-x-hidden overflow-y-scroll rounded-lg">
      <div class="align-middle inline-block min-w-full">
        <div
          class="shadow overflow-hidden border-b border-l border-r border-t border-gray-200"
        >
          <table id="Datapoints" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-infowindow text-white min-w-full">
              <th
                class="px-3 py-1 text-xs text-center font-medium text-white tracking-wider"
              >
                Key
              </th>
              <th
                class="px-1 py-1 text-xs text-center font-medium text-white tracking-wider"
              >
                Value
              </th>
              <th
                class="px-6 py-1 text-xs text-center font-medium text-white tracking-wider"
              >
                Type
              </th>
            </thead>
            <tbody class="bg-white divide-y divide-x-2 divide-gray-200">
              <tr
                class="bg-white hover:bg-gray-200"
                v-for="(o, i) in datapoints"
                :key="i"
              >
                <td class="px-3 py-2 text-sm font-medium text-gray-900">
                  {{ o.key }}
                </td>
                <td class="px-1 py-2 text-sm font-medium text-gray-900">
                  {{ o.value }}
                </td>
                <td
                  class="px-6 py-2 text-center text-sm font-medium text-gray-900"
                >
                  {{ o.dataType }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    datapoints() {
      return this.$store.state.datapoints
    },
  },
  methods: {},
}
</script>
