<template>
  <div class="flex flex-col">
    <h1 class="text-2xl font-semibold text-gray-900">Global OPC</h1>
    <div class="overflow-x-hidden overflow-y-scroll rounded-lg">
      <div class="align-middle inline-block min-w-full">
        <div
          class="shadow overflow-hidden border-b border-l border-r border-t border-gray-200"
        >
          <table id="GlobalOPC" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-infowindow text-white min-w-full">
              <th
                class="px-1 py-1 text-xs text-left font-medium text-white tracking-wider"
              >
                Key
              </th>
              <th
                class="px-1 py-1 text-xs text-center font-medium text-white tracking-wider"
              >
                Subscribe
              </th>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr
                class="bg-white justify-start hover:bg-gray-200"
                v-for="(o, i) in nodes"
                :key="i"
              >
                <td>{{ o.node }}</td>
                <td
                  class="px-1 py-2 whitespace-nowrap text-center text-sm font-medium text-gray-900"
                >
                  <button
                    v-if="!o.subscribe"
                    class="button is-success"
                    v-on:click="subscribe(o)"
                  >
                    <span class="icon is-small">
                      <font-awesome-icon icon="plus" />
                    </span>
                  </button>
                  <button
                    v-else
                    class="button is-danger"
                    v-on:click="unSubscribe(o)"
                  >
                    <span class="icon is-small">
                      <font-awesome-icon icon="minus" />
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted() {
    this.$store.dispatch('fetchNodes')
  },
  computed: {
    nodes() {
      return this.$store.state.nodes
    },
  },
  methods: {
    subscribe({ node }) {
      this.$store.dispatch('subscribeOPCNode', node)
    },
    unSubscribe({ node }) {
      this.$store.dispatch('unSubscribeOPCNode', node)
    },
  },
}
</script>
