<template>
  <div class="view">
    <TopBar class="bg-infolist"></TopBar>
    <div class="notification bg-highlight text-white text-center text-lg">
      Testing alarms/notification banner
    </div>
    <div class="main bg-main grid grid-cols-48 grid-rows-48 h-main">
      <component
        v-for="(item, i) in activeView"
        :is="item.component"
        v-bind="{ ...item }"
        :key="i"
      />
    </div>
    <BottomBar class="bg-infolist"></BottomBar>
    <NavigationBar class="bg-infolist"></NavigationBar>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import TopBar from '../components/TopBar.vue'
import BottomBar from '../components/BottomBar.vue'
import NavigationBar from '../components/NavigationBar.vue'
import FurnaceDemo from '../components/kitchenSink/FurnaceKitchenSink.vue'
import LadleDemo from '../components/kitchenSink/LadelKitchenSink.vue'
import modalSelector from '../components/ModalSelector.vue'
import ButtonCommand from '../components/ButtonCommand.vue'
import GraphSensorImg from '../components/GraphSensorImg.vue'
import GraphLineLaser from '../components/GraphLineLaser.vue'
import RodPositionChart from '../components/RodPositionChartCanvas.vue'
import pouringCanvas from '../components/pouring-canvas.vue'
import pouringTab from '../panelComponents/Pouring_Tab.vue'
import patternControl from '../components/PatternControlButtons.vue'
import tableSelect from '../components/TableSelect.vue'
import alarmInfo from '../components/AlarmInfoBox.vue'
import AlarmsList from '../components/AlarmsList.vue'
import Tabs from '../components/Tabs.vue'

export default {
  name: 'Layout',
  components: {
    TopBar,
    BottomBar,
    NavigationBar,
    LadleDemo,
    FurnaceDemo,
    modalSelector,
    ButtonCommand,
    GraphSensorImg,
    GraphLineLaser,
    RodPositionChart,
    pouringCanvas,
    pouringTab,
    patternControl,
    tableSelect,
    alarmInfo,
    AlarmsList,
    Tabs,
  },
  beforeMount() {
    if (this.$route.query.panelName) {
      this.$store.dispatch('viewPanel', this.$route.query.panelName)
    }
  },
  computed: {
    ...mapState(['activeView']),
  },
}
</script>
<style scoped>
.view {
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.3fr 70vh 0.7fr 0.7fr;
  grid-template-areas:
    'topBar'
    'alarms'
    'main-view'
    'bottomBar'
    'navBar';
}

.topbar {
  display: inline-grid;
  grid-template-columns: repeat(3, 33.3333333vw);
  box-shadow: inset 0 0 3px #2f2f2f;
  grid-area: topBar;
  align-content: center;
}

.notification {
  display: inline-grid;
  grid-area: alarms;
  align-content: center;
}

.main {
  grid-area: main-view;
}

.bottombar {
  display: inline-grid;
  grid-template-columns: repeat(3, 33.333333vw);
  grid-template-rows: 1fr 1fr;
  grid-area: bottomBar;
}

.navigation-bar {
  display: inline-grid;
  grid-template-columns: repeat(16, 6.25vw);
  grid-area: navBar;
  justify-items: stretch;
}

.tabs {
  font-size: 0.8rem;
}

.tabs:not(:last-child) {
  margin-bottom: 0.8rem;
}
</style>
