<template>
  <div>
    <div class="main bg-main grid grid-cols-48 grid-rows-48 h-main w-full">
      <component
        v-if="selectedComponent"
        :class="`col-start-${colStart} row-start-${rowStart}`"
        :is="selectedComponent"
        v-bind="{ ...convertedProps }"
      />
    </div>
    <div :class="`grid grid-cols-3 grid-rows-6 gap-4 m-4`">
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Set component</label
        >
        <div class="mt-1 flex">
          <div class="relative flex items-stretch focus-within:z-10 mr-3">
            <select
              v-model="componentName"
              lass="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md sm:text-sm border-gray-300"
            >
              <option v-for="comp in selectableComponents" :key="comp">
                {{ comp }}
              </option>
            </select>
          </div>
          <button
            class="relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
            @click="initProps"
          >
            <span>Select</span>
          </button>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Set column start</label
        >
        <div class="mt-1 flex rounded-md shadow-sm">
          <div class="relative flex items-stretch flex-grow focus-within:z-10">
            <input
              type="text"
              v-model="colStart"
              id="col"
              class="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md sm:text-sm border-gray-300"
              placeholder="1"
            />
          </div>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Set row start</label
        >
        <div class="mt-1 flex rounded-md shadow-sm">
          <div class="relative flex items-stretch flex-grow focus-within:z-10">
            <input
              type="text"
              v-model="rowStart"
              id="row"
              class="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md sm:text-sm border-gray-300"
              placeholder="1"
            />
          </div>
        </div>
      </div>

      <p class="col-span-1 text-right self-center text-2xl">
        This components props
      </p>
      <button
        class="relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
        @click="setProps"
      >
        <span>Set new prop values</span>
      </button>
      <div></div>

      <div v-for="(propValue, propName) in props" :key="propName">
        <label class="block text-sm font-medium text-gray-700">{{
          propName
        }}</label>
        <div class="mt-1 flex rounded-md shadow-sm">
          <div class="relative flex items-stretch flex-grow focus-within:z-10">
            <input
              type="text"
              v-model="props[propName]"
              class="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md sm:text-sm border-gray-300"
              :placeholder="propValue"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BasePanel from '../components/base/BasePanel.vue'
import BaseEditOpcNumber from '../components/base/BaseEditOpcNumber.vue'
import BaseBoolIndicator from '../components/base/BaseBoolIndicator.vue'
import BaseButton from '../components/base/BaseButton.vue'
import BaseButtonOpc from '../components/base/BaseButtonOpc.vue'
import BaseSwitchButton from '../components/base/BaseSwitchButton.vue'
import BaseSwitchButtonOpc from '../components/base/BaseSwitchButtonOpc.vue'
import Furnace from '../components/Furnace.vue'
import FurnaceDemo from '../components/kitchenSink/FurnaceKitchenSink.vue'
import LadelDemo from '../components/kitchenSink/LadelKitchenSink.vue'

export default {
  data() {
    return {
      selectableComponents: [],
      selectedComponent: '',
      componentName: 'BaseEditOpcNumber',
      colStart: 1,
      rowStart: 1,
      props: {},
      originalProps: {},
      convertedProps: {},
    }
  },
  mounted() {
    for (const [key] of Object.entries(this.$options.components)) {
      this.selectableComponents.push(key)
    }
  },
  methods: {
    initProps() {
      this.selectedComponent = this.componentName

      // Reset props before setting new
      this.props = {}

      // Store all original props object for type recast
      this.originalProps = this.$options.components[
        this.selectedComponent
      ].props

      // Set props object only with key and value for reactivity
      for (const [key, valueObject] of Object.entries(
        this.$options.components[this.selectedComponent].props
      )) {
        this.props[key] =
          valueObject.default || valueObject.default === 0
            ? valueObject.default
            : ''
      }

      // Init convertedProps that stores the recasted values
      this.setProps()
    },
    setProps() {
      for (const [key, value] of Object.entries(this.props)) {
        if (typeof this.originalProps[key].type === 'function') {
          this.convertedProps[key] = this.originalProps[key].type(value)
        }
        if (value === 'true' || value === 'false') {
          this.convertedProps[key] = value === 'true' ? true : false
        }
        if (typeof this.originalProps[key].type === 'object') {
          console.log('hej')
          this.convertedProps[key] = value
        }
      }
    },
  },
  components: {
    BasePanel,
    BaseEditOpcNumber,
    BaseButton,
    BaseButtonOpc,
    BaseSwitchButton,
    BaseSwitchButtonOpc,
    BaseBoolIndicator,
    Furnace,
    FurnaceDemo,
    LadelDemo,
  },
}
</script>
